#Calculator_cont .formError {
    color: #CF4D4D;
    font-weight:bold;
    font-size:10px;
}

#Calculator_cont .formNoError {
    display:none;
}

#Calculator_cont .formClr {
    clear:both;
    display: block;
}

#Calculator_cont fieldset.formFieldset {
    margin-bottom: 10px;
 border-width:0px;
}

#Calculator_cont fieldset.formFieldset legend {
    padding: 0 2px;
    font-weight: bold;
    font-size: 16px;
}

#Calculator_cont fieldset.formFieldset ol.formContainer {
    margin: 0;
    padding: 0;
}

#Calculator_cont fieldset.formFieldset ol.formContainer li {
    background-image: none;
    list-style: none;
    padding:0px;
    margin:0px;
    clear:both;
    padding-top:15px;
}


#Calculator_cont fieldset.formFieldset ol.formContainer li div.form_cont
{ float:left; width:100px; margin-right:20px; }

#Calculator_cont strong.formRequired {
    font-weight: bold;
    font-style: normal;
    margin-left: 3px;
}


#Calculator_cont div.formSeparator {
    padding-bottom:15px;
    clear:both;
    border-bottom:#CDCDCD 1px solid;
    width:100%;
}


#Calculator_cont div.formCaption {
    display: block;
    float: left;
    width: 25%;
}

#Calculator_cont div.formBody {
    display: block;
    float: left;
}

#Calculator_cont div.formDescription {
    margin-left: 3px;
    padding-left: 3px;
    font-size: 11px;
    font-weight: normal;
}


#Calculator_cont div.service_summ
{
border-top:#CF645C 2px solid;
font-weight:bold;
color:#AA3916;
padding-top:10px;
padding-bottom:35px;
}

#Calculator_cont div.service_summ div.summ_text
{ float:right; padding-right:15px; padding-top:3px; }

#Calculator_cont div.calheader{
    text-align:center !important;
}

#Calculator_cont div.s_line
{ margin-top:2px; }

#Calculator_cont div.f_cont
{ padding-left:25px; }




#Calculator_cont
{ 
    background:#F1EDE9; 
    font-family:Arial, Helvetica, sans-serif;
font-size:13px;
    color:#282828;
width:615px;
}

#Calculator_cont input, #Calculator_cont select, #Calculator_cont textarea 
{ font-family:Arial, Helvetica, sans-serif; font-size:1em;  vertical-align:middle;  font-weight:normal;}


#Calculator_cont h1 { font-size:30px; font-family: "Times New Roman"; color:#7D2D2D; }
#Calculator_cont h2 { font-size:24px; font-family: "Times New Roman"; color:#7D2D2D; }
#Calculator_cont h3 { font-size:20px; font-family: "Times New Roman"; color:#BC2929; }
#Calculator_cont h4 { font-size:17px; font-family: "Times New Roman"; color:#699924; }
#Calculator_cont h5 { font-size:14px; font-family: "Times New Roman"; color:#505050; }
#Calculator_cont h6 { font-size:12px; font-family: "Times New Roman"; color:#BC2929; }

#Calculator_cont a { text-decoration:underline; color:#BC2929; }

#Calculator_cont hr { height:2px; color:#ededed; }

#Calculator_cont .cb_gs1
{ background:url(/bitrix/components/bitrix/focus.calculator/templates/.default/img/yur_up.gif) top left no-repeat; }

#Calculator_cont .cb_gs2
{ background:url(/bitrix/components/bitrix/focus.calculator/templates/.default/img/buh_up.gif) top left no-repeat; }

#Calculator_cont .cb_gs3, #Calculator_cont .cb_
{ background:url(/bitrix/components/bitrix/focus.calculator/templates/.default/img/sec_up.gif) top left no-repeat; }



#Calculator_cont .input{
    border:1px solid #cbcbcb; 
    background:#f3f3f3;
    width:172px; height:17px;
    font-size:1em;
    color:#000;
    float:left;
    padding-left:10px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
    margin:0 6px 0 6px;
    border-style: solid; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; position:relative
}

#Calculator_cont input{
    border:1px solid #cbcbcb; 
    background:#f3f3f3;
    font-size:1em;
    color:#000;
    padding-left:10px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
    margin:0 6px 0 6px;
    border-style: solid; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; position:relative
}

#Calculator_cont input.input_img
{
border-width:0px; 
background:none;
padding:0px;
}


#Calculator_cont div.checkbox_line
{ margin-bottom:10px; }

#Calculator_cont .checkbox_line span 
{ padding-left:10px; }

#Calculator_cont #radio_line div, #Calculator_cont div.checkbox_box div
{ float:left; }


#Calculator_cont div.checkbox_box
{ 

margin-left:20px; 
margin-right:20px; 
padding-top:10px;
padding-left:0px;
width:140px;
float:left;

}

#Calculator_cont div.check_box_text
{
float:left;
}


/* таблица калькулятора */

#Calculator_cont .gs1_service_head div, #Calculator_cont .gs2_service_head div, #Calculator_cont .gs3_service_head div
{ float:left; }

#Calculator_cont .gs1_service_head_text, #Calculator_cont .gs2_service_head_text, #Calculator_cont .gs3_service_head_text
{ 
color:#fff; 
font-weight:bold; 
background-color:#CF645C; 
padding-left:10px; 
padding-top:3px; 
padding-bottom:3px;
margin-left:5px;
width:575px;
}

#Calculator_cont .gs2_service_head_text
{ color:#505050;  background-color:#BBDB72; }

#Calculator_cont .gs3_service_head_text
{ color:#505050;  background-color:#CDCDCD;  }

#Calculator_cont div.comments
{
border-top:1px solid #CDCDCD;
margin-top:5px;
padding-top:15px;
}
