@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,700italic,600italic,800,800italic&subset=latin,cyrillic-ext,cyrillic);
@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('/fonts/glyphicons-halflings-regular.eot');
    src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.wrap {
  min-width: 320px;
}
.head_small {
  display: none;
}
.address-small {
  display: none;
}
.writeToAppointment {
  display: none;
}
.closeForm {
  display: none;
}
.unclickeble {
   pointer-events: none;
   cursor: default;
}
.toggle-head_small {
    display: none;
}
.mobile-inner-menu {
    display: none;
}
.contacts-block-mobile {
    display: none !important;
}
.unactive {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
@media screen and (max-width: 930px) {
    html {
        font-size: 100%;
          -webkit-text-size-adjust: 100%;
           -ms-text-size-adjust: 100%;
    }
    input[type="submit"] {
        -webkit-appearance: none;
    }
    section h1 {
        line-height: normal;
    }
    .toggle-head_small{
        font-family: 'Glyphicons Halflings';
        font-size:18px;
        font-size: 5vw;
        padding: 10px;
        color: #666666;
        position: fixed;
        z-index: 10000;
        left:0px;
        display: block;
        margin-top:0px;
        cursor: pointer;
        @include transition(all 1s);
        &.active {
            color: #fff;
            position: fixed;
            right: 0px;
            left:auto;
            margin-top: 0px;
        }
    }
  header {
    padding-top: 20px;
    position: relative;
  }
  header > .wrap {
        min-height: 170px;
        // overflow-x: hidden;
  }
  body .wrap {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    max-width: 100%;
  }
  body header .addres {
      position: absolute;
    left: 0px;
    .title {
      & > b,
      & > span,
      .change-city {
        display: none;
      }
    }
    ul {
      display: none;
    }
  }
  .social-icons {
    right: 0px;
    position: relative;
    float:right;
    margin-right: -30px;
  }
  header .head {
    display: none;
  }
  header .head .head-nav {
    display: none;
  }
  body header div.logo {
      width:125px;
    width: 40vw;
    position: relative;
    z-index: 10;
    float: left;
    margin-left: 10px;
    margin-left: 2vw;
    left:0;
    top:0;
    padding-top: 0px;
    padding-bottom: 0px;
    img {
      width: 100%;
    }
  }
  .order-call {
    display: none;
  }
  .head_small {
    display: block;
    position: fixed;
    top: 0px;
    left: -100%;
    background: rgba(51,51,51,.6);
    width: 100%;
    height: 100%;
    z-index: 1000;
    @include transition(all 1s);
    &.active {
      left: 0px;
        position: fixed;
      .toggle {
        color: #fff;
        margin-right: 10px;
        position: fixed;
        right:5px;
        right: 1vw;
        margin-top: 60px;
      }
    }
    .toggle {
      font-family: 'Glyphicons Halflings';
      font-size: 24px;
      padding: 10px;
      color: #666666;
      position: absolute;
      right: -40px;
      margin-top:60px;
      cursor: pointer;
      @include transition(all 1s);
      // &:after {
      //   content: "\e055";
      // }
    }
    .menu-adaptive {
      width: 85%;
      height: 100%;
      color: #333;
      font-size: 28px;
      background-color: #EBEBEB;
      padding-top: 30px;
      position: relative;
      z-index: 1000;
      overflow: auto;
      ul {
        // height: 500px;
        overflow: auto;
        li {
            position: relative;
          & > a {
            font-size: 15px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            color: #333;
            display: block;
            width: 100%;
            padding: 10px 30px;
            text-decoration: none;
            span{
              border-bottom: 1px solid;
              font-size: 15px;
              position: relative;
                  zoom: normal;
            }
          }
        }
        li:hover,
        li.active {
          & > a{
            span {
                border-bottom: 1px dashed;
            }
          }
        }
      }
      ul.under {
        display: none;
        padding-left: 5%;
        li{
          a{
            font-weight: 400;
            color: #666666;
          }
        }
      }
    }
  }
  .address-small {
      display: block;
      position: relative;
      clear: both;
      width: 100%;
      width: calc(100% + 60px);
      margin-left: -30px;
      /* margin-top: -18px; */
      padding: 10px 10px 10px 10px;
      background-color: #fff;
      top: -3px;
      height: 57px;
      left: 0px;
      box-sizing: border-box;
      font-family: 'Open Sans', sans-serif;
      font-size: 36px;
      color: #333333;
    a {
      color: #333333;
      font-size: 5vw;
      text-decoration: none;
      border-bottom: 1px dashed;
    }
    .button-city {
      float: right;
      a {
        font-size: 5vw;
        background-color: #3CB4E7;
        margin-top: -10px;
        padding: 5px 10px;
        color: #fff;
        @include border-radius(5px);
        border-bottom: 0px;
      }
    }
  }
  .dashed {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      border-bottom: 1px dashed;
      bottom: 0px;
      left: 0px;
    }
  }
  body header > nav {
    display: none;
  }
  .writeToAppointment {
    display: block;
    width: 100%;
    width: calc(100% + 60px);
    //height: 43px;
    padding: 10px 0px 15px;
    position: relative;
    /* left: 0px; */
    vertical-align: middle;
    margin-top: -3px;
    background-color: #94C11F;
    /* bottom: 0px; */
    font-size: 4vw;
    text-align: center;
    margin-left: -30px;
    &.autoHeight {
        height: auto;
        background-color: #ddd;
        a.appointment {
            color: #333;
        }
    }
    .call-me {
      background: #EBEBEB;
      padding-top: 15px;
      margin-top: 15px;
    }
    a.appointment  {
      color: #fff;
    }
    a {
      color: #fff;
      text-decoration: none;
      font-size: 6vw;
      span {
        border-bottom: 1px dashed;
        position: relative;
      }
    }
    .enroll-2-doctor {
        margin-top: 15px;
    }
    #fromLoad {
        display: block !important;
        ::-webkit-input-placeholder{
        color:#666;
        font-size: 16px;
        }

        .h2, h2 {
            display: none;
        }
        .sb_form, form {
            background: #EBEBEB;
            padding: 20px 20px 0px;
            text-align: left;
            input {
                border: 0px;
                width: 100%;
                display: block;
                line-height: 33px;
                height: 33px;
                border: 1px solid #e1e1e1;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 10px;
            }
            textarea {
                width: 100%;
                height: 99px;
                padding: 10px;
                border: 1px solid #e1e1e1;
            }
            .select2 {
                margin-bottom: 10px;
                .select2-selection {
                    border: 1px solid #e1e1e1;
                }
            }
            input[type='submit']{
                background-color: #94C11F;
                width: 100%;
                width: calc(100% + 40px);
                margin-left: -20px;
                margin-top: 10px;
                margin-bottom: -17px;
                padding: 15px 0px;
                line-height: 5px;
                font-size: 6vw;
                color: #fff;
                height: 55px;
            }
        }
    }
  }
  section .doctors .table .row p.PFDin {
    display: none;
  }
  section .facts {
    display: none;
  }
  section .doctors .table {
    position: relative;
    display: block !important;
  }
  .table .row {
    display: block !important;
    max-width: 100%;
    position: relative;
  }
  .slick-dots li {
    font-size: 0px;
  }
  section ul.slick-dots li:before,
  section ul.slick-dots li:after,
  section ul.slick-dots li button:before  {
    display: none;
  }
  section ul.slick-dots li button{
    width: 10px;
    height: 10px;
    background: #D3D3D3;
    @include border-radius(50%);
  }
  section ul.slick-dots li.slick-active button {
    background: #636363;
  }
  section .doctors .doctor-name {
    display: block;
    margin: 0 auto;
    padding-bottom: 0px;
    p{
      padding-bottom: 0;
    }
  }

  section h3 {
    margin-left: -30px;
    margin-right: -30px;
    background-color: #EBEBEB;
    color: #333333;
    font-size: 12vw;
    line-height: normal;
    padding: 10px;
    font-family: pf_din_text_comp_proregular;
  }

  section .tab-toggler .tab-toggler-head a {
    display: block;
    margin-bottom: 25px;
    float: left;
    clear: both;
  }
  .tab-toggler-item td {
    display: block;
    width: 100% !important;
  }

  footer .wrap nav  {
    display: none;
  }

  footer {
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 50px;
    .wrap {
      * {
        width: 100%;
        display: block;
        text-align: left;
        padding: 0px;
        margin: 0px 0px 5px;
      }
      br {
          display: none;
      }
    }
    .legion-logo:after {
      position: absolute;
    }
  }
  section {
    .action-list{
      .action-list-item {
        display: block;
        width: 100%;
        .img {
          height: 55vw;
          width: 100%;
          width:calc(100% + 60px);
          margin-left: -30px;
          margin-right: -30px;
          padding:0px;
        }
        .title,
        .txt {
          margin-left: 20px;
          strong {
            font-weight: 800;
          }
        }
      }
    }
  }
  section {
    padding-bottom: 10px;
  }

  .w65 {
    width: 100%;
    float:none;
    position: relative;
    z-index: 50;
    .head-3 {
      background-color: transparent;
      margin:10px 0px;
      display: block;
    }
  }

  section .w35 {
      display: none;
  //   width: calc(100% + 60px) !important;
  //   position: relative !important;
  //   z-index: 100;
  //   // top: 0px !important;
  //   // float: left;
  //   padding: 0px;
  //   margin-left: -30px;
  //   margin-right: -30px;
  //   margin-bottom: 30px;
  //   .menu-blok {
  //   //   width: 100% !important;
  //   //   background: #3CB4E7;
  //     li {
  //       padding: 0px 14px;
  //       a {
  //         display: block;
  //         padding: 10px;
  //         &.active {
  //           background: #45C3F8;
  //         }
  //       }
  //     }
  //   }
  }
  section .hash-nav {
    height: auto;
    padding: 10px 0px;
    a {
      display: block;
      margin: 10px;
      font-size: 5vw;
      height: auto;
      line-height: 5vw;
      }
  }
  section .list-price li span.spoiler:after {
    top: auto;
    bottom: 0;
  }

  section .list-price {
      .name {
        span {
            word-break: break-all;
            -webkit-word-break: break-all;
            white-space: normal;
        }
      }
  }

  section .enroll-2-doctor {
    .sb_form {
      padding: 0px;
       > input,
       > textarea {
        width: 100% !important;
      }
    }
  }
  section .title-docs {
    .address {
          width: 100%;
      .txt {
        display: none;
      }
    }
    .spec {
          width: 100%;
      .txt {
        display: none;
      }
    }
  }
  section .filter-docs input[type=reset] {
    display: block;
  }
  section .filter-docs select, section .filter-docs .select2 {
    width: 100% !important;
    display: block;
    margin-bottom: 15px;
  }
  section .filter-docs select .select2-selection, section .filter-docs .select2 .select2-selection {
    width: 100% !important;
  }
  .filter-docs .address .select2, .filter-docs .address .select2 .select2-selection {
    width: 100% !important;
  }
  section .docs-list {
    margin-bottom: 0px;
  }
  .slick-arrow {display: none !important;}
   section .back-to-docs,
   section .back-to {
     position: absolute;
     top: 50px;
   }
   .show-more {
     color: #333333;
     display: block;
     margin: 0 auto;
     text-align: center;
     text-decoration: none;
     font-size: 4vw;
     > span {
       border-bottom: 1px dashed;
     }
     &:hover {
       > span {
         border-bottom: 0;
       }
     }
   }
   body .doc-item .doc-photo {
     position: relative;
     margin: 0 auto;
     max-width: 100%;
     > img {
       width: 100%;
     }
   }
   body .doc-item .doc-info {
     width: 100%;
     padding: 0px;
   }
   section .doc-item .doc-info h3 {
      display: block;
      background: none;
      margin: 10px auto;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: 7vw;
      line-height: normal;
   }
   .list-center .data-time {
     text-align: center;
   }
   #metro {
     display: none;
   }
   .list-center .tabs {
     margin: -20px auto 20px;
     width: 100%;
     a {
         width: 100%;
       width: calc(50% - 4px);
       box-sizing: content-box;
       margin: 0;
       padding: 5px 0;
       height: auto;
       text-align: center;
       float:left;
       font-family: "Open Sans", sans-serif;
       font-weight: 400;
       &:first-child{
         @include border-radius(5px 0px 0px 5px);
       }
       &:last-child{
         @include border-radius(0px 5px 5px 0px);
       }
     }
   }
   .list-center .list-item {
     display: block;
     width: 100%;
   }
   section .contacts-block {
     margin-left:-30px;
     width: 100%;
     width: calc(100% + 60px);
     text-align: center;
   }
   section .how-2-get {
     padding: 20px 30px;
   }
   .reviews {
     padding: 20px 30px;
     display: none;
   }
   .w65.tables h2, .w65.tables .h2, .w65 h2 {
     line-height: normal;
     margin: 20px auto 10px;
     height: auto;
   }
   .w65 h2 {
       width: 90%;
   }
   section .doctors .doctor-photo,
   section .doctors .doctor-name {
     max-width: 100%;
   }
   .select2 {
      max-width: 100%;
      overflow: hidden;
   }
   header .addres {
      // display: none;
   }
   header .addres .change-city-drop-is_saintp {
     width: 100%;
     left:0px;
     margin:0px;
     top: 120px;
     &:before {
       left: 75%;
     }
     a {
       padding: 0px;
       margin-bottom: 10px;
       display: block;
       text-align: center;
       float: none;
       width: 100%;
       &.active {
         font-weight: bold;
       }
     }
   }
   header .addres .change-city-drop-select {
     @extend .change-city-drop-is_saintp;
     a {
       text-align: left;
     }
     .h2 {
       text-align: center !important;
     }
   }
   [id*='call-me'] h2, [id*='call-me'] .h2 {
     display: none;
      width: 100%;
      background-color: #94C11F;
      padding: 15px;
      color: #fff;
      font-size: 5vw;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 70px;
      text-align: center;
   }
  [id*='call-me'], #appointment{
    width: 100%;
      .closeForm {
        display: block;
        width: 100%;
        background-color: #ddd;
        color: #333;
        font-size: 6vw;
        padding: 15px;
        font-family: "Open Sans", sans-serif;
        span:after {
           border: 4px solid transparent;
           border-bottom: 7px solid;
           content: "";
           display: inline-block;
           position: absolute;
           right: -20px;
           margin-top: -5px;
           top: 50%;
        }
      }
     .sb_form {
         width: 100%;
       width: calc(100% - 20px);
       box-sizing: content-box;
       padding: 10px 10px 0px 10px;
       background-color: #EBEBEB;
       .table {
         display: block !important;
         width: 100%;
         max-width: 100%;
       }
       input {
         min-width: 100%;
       }
       .select2 {
         min-width: 100%;
       }
     }
   }
   [id*='call-me'] .table .cell.label, #appointment .table .cell.label {
     display: none !important;
   }
   [id*='call-me'] img, #appointment img {
     display: none;
   }
   [id*='call-me'] .table .cell, #appointment .table .cell {
     display: block !important;
     max-width: 100%;
     text-align: left;
   }
   [id*='call-me'] .table .cell input, [id*='call-me'] .table .cell select, #appointment .table .cell input, #appointment .table .cell select {
     max-width: 100%;
     line-height: normal;
   }
   [id*='call-me'] .table .cell.button input, #appointment .table .cell.button input {
      background: #94c11f;
      width: 100%;
      width: calc(100% + 10px);
      box-sizing: content-box;
      margin: 0;
      margin-left: -10px;
      border-radius: 0;
      display: block;
      max-width: none;
      padding: 5px;
      margin-bottom: -15px;
   }
   [id*='call-me'] .table .cell textarea {
     width: 100%;
     max-width: 100%;
     height: 10vh;
   }
   body .fancybox-close.form-close {
    top: 85px;
    left: 0px;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    font-size: 5vw;
    padding: 10px;
    background: #DDDDDD;
    color: #333333;
    text-decoration: none;
    span {
      border-bottom: 1px dashed;
    }
   }
   [id*='call-me'] .table .cell.button, #appointment .table .cell.button {
     padding: 10px 0px 0px 0px;
   }
   section .docs-list,
   section .text-item  {
     .docs-item {
        display: block;
        margin: 0 auto;
        width: 100%;
        .img {
          margin: 0 auto;
          width: 50vw;
          height: 50vw;
        }
     }
   }
   section .filter-docs.search [type=text],
   section .filter-docs.search [type=email] {
     max-width: 100%;
     width: 80%;
   }
   section .filter-docs.search [type=submit] {
     width: 20%;
     font-size: 4vw;
     margin:0;
     padding: 0;
   }
   section .filter-docs.search .select-label .txt {
     display: none;
   }
   section .filter-docs.search .select-label {
     width: 100%;
   }
   section .filter-docs.search .select2 .select2-selection {
     border: 0;
   }
   .reqlist {
     background-color: #EBEBEB;
     margin-left: -30px;
     width: 100%;
     width: calc(100% + 20px);
     box-sizing: content-box;
     padding: 20px;
   }
   .pagination a, .pagination span {
      margin-right: 0px;
      margin: 0;
      padding: 0;
      font-size: 3vw;
      color: #383737;
      display: inline-block;
      width: auto;
      height: auto;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      line-height: normal;
      border: 1px solid transparent;
      border-radius: 3px;
    }
    .pagination a.word, .pagination span.word {
        padding-left: 5px;
        padding-right: 5px;
    }
    section .def-item a.def-item-item{
      text-decoration: underline;
    }
     section .def-item p {
       padding-left: 0;
     }
     section ol li:before {
           width: 10px;
     }
     #desktopMobile {
       .tab-toggler-item {
         display: none;
         &.active {
           display: block;
           table {
             td {
               width: 100% !important;
               display: block;
             }
           }
         }
       }
       .tab-toggler-head {
         a{
           display: block;
           float:none;
           text-align: left;
        }
       }
     }
     section .tab-toggler .tab-toggler-toggler {
       padding-right: 35px;
     }
     .toggler {
       position: relative;
       &:after{
        border: 4px solid transparent;
        border-top: 7px solid;
        content: "";
        display: inline-block;
        position: absolute;
        right: -20px;
        top: 50%;
        margin-top: -3px;
       }
       &.rotate {
         &:after{
           border: 4px solid transparent;
           border-bottom: 7px solid;
         }
       }
     }
     .mobile-inner-menu  {
         display: block;
     }
      ul.no-dott li p,
      section .faq-item p {
          padding-left: 0px;
      }
      section .action-banner-imga {
          width: 100%;
          width: calc(100% + 60px);
          margin-left: -30px;
          margin-bottom: 0px;
      }
      section ul li:before {
          margin-left: 0px;
          margin-right: 10px;
      }
      section .review .review-head .data {
          display: block;
          width: 100%;
          float: none;
          margin: 10px 0px;
      }
      .contacts-block {
          display: none !important;
      }
      .contacts-block-mobile {
          display: block !important;
          background: #94c11f;
          color: #fff;
          text-align: left;
          padding: 30px;
          margin-left: -30px;
          width: 100%;
          width: calc(100% + 60px);
          div {
              margin-bottom: 10px;
          .cell  {
            i {
            width: 27px;
            height: 27px;
            display: inline-block;
            background-repeat: no-repeat;
            background-image: url("../../images/icons.png");
            vertical-align: middle;
            margin-right: 8px;
            }
            i.icon-tyte-1 {
                    background-position: -103px -34px;
                }
            i.icon-tyte-2 {
                    background-position: -130px -33px;
            }
            i.icon-tyte-3 {
                    background-position: -160px -34px;
            }
        }
     }
  }
  iframe {
      max-width: 100%;
  }
  section .action-list-item .title,
  section .action-list-item .txt {
      padding-right: 0px;
  }
  .list-center .list-item {
      height: auto;
      margin: 10px 0px;
      padding: 10px 0px;
      width: 100%;
  }
  section .slider .mySwiper-arr {
      top: 25%;
      &.mySwiper-arr-prev {
          left: 10px;
      }
      &.mySwiper-arr-next {
          right: 10px;
      }
  }
  .thx {
      padding: 20px;
     .table {
      .cell {
        margin-top: 46px;
          text-align: center;
      }
    }
  }
  section .action-centre {
      width: 100%;
      overflow-x: hidden;
        a {
          width: 100%;
          max-width: 100%;
        }
    }
    section .how-2-get {
        padding: 20px 0;
    }
    section .head-doc .img {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 240px;
        height: 240px;
        background-size: 100%;
    }
    section .head-doc .i {
        padding-left: 0px;
        display: block;
        margin: 0 auto;
        .prof,
        .name {
            text-align: center;
        }
        .name {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
        }
        .prof {
            font-family: "Open Sans", sans-serif;
            font-style: italic;
            font-size: 14px;
            color: #666666;
            font-weight: 300;
            text-decoration: none;
            margin: 10px auto;
        }
    }
    section .head-doc .all-c {
        text-align: center;
        font-size: 14px;
        padding-left: 0;
        display: block;
        margin: 0 auto;
    }
    .list-center .list-item {
        .title {
            margin-bottom: 20px;
        }
        .phones {
            padding-top: 20px;
        }
    }
    section .head-doc a {
        display: block;
        text-decoration: none;
    }
    .w65 h2 {
        vertical-align: -webkit-baseline-middle;
            margin-top: 0px;
    }
}

@media screen and (min-width: 568px) and (max-width: 800px) {
    .writeToAppointment a {
        font-size: 5vw;
    }
    .address-small {
        padding: 10px;
        //top: 85px;
    }
    .address-small .button-city a,
    .address-small a {
        font-size: 12px;
        font-size: 4vw;
    }
    section .filter-docs .select2 {
        margin-bottom: 15px;
    }
}
@media screen and (min-width: 801px) and (max-width: 930px) {
    .writeToAppointment a {
        font-size: 4vw;
    }
    .address-small {
        padding: 10px;
        //top: 85px;
    }
    .address-small .button-city a,
    .address-small a {
        font-size: 14px;
        font-size: 3vw;
    }
}

@media screen and (max-width: 385px) {
    .pagination a, .pagination span {
        font-size: 3vw;
    }
    .toggle-head_small {
        font-size:18px;
        font-size: 7vw;
    }
  .social-icons {
    position: relative;
    float:right;
    margin-right: -30px;
    top: 0px;
    z-index: 90;
    a {
      margin-right: 5px;
    }
  }
  .address-small a {
      font-size: 14px;
      font-size: 6vw;
  }
  body header > nav {
    display: none;
  }
  footer .legion-logo:after {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
  }
  body header div.logo  {
      width:125px;
    width: 40vw;
    position: relative;
    float: left;
    margin-left: 2vw;
    left:0;
    top:0;
    padding-top: 0px;
    padding-bottom: 0px;
        img {
          width: 100%;
        }
  }
  .address-small {
      padding: 7px 10px;
//      top: 80px;
  }

}
