#new_calc{
	position: relative;
	.text-item{
		padding-top: 30px;
		.title{
			padding-bottom: 2px;
		}
		.slide-toggles .title.active{background: transparent; &:after{content: ""; border: 5px solid transparent; border-top: 5px solid #94c11f;} a{color: #94c11f; border-bottom-color:#94c11f; } }
		.slide-toggles .title{background: #94c11f; color: white;  &:after{content: ""; border: 5px solid transparent; border-bottom: 5px solid #fff;} a{color: white; border-bottom-color:white; }  }
		white-space: normal;
		margin-bottom: 0;
		article{
			padding: 20px 0;
			margin: 0;
			border-top: 0;
			border-bottom: 1px solid #ebebeb;
			.enroll-2-doctor{
				padding: 0!important; 
				width: 250px;
				form{
					padding: 0;
				}
				input{
					border: 1px solid #e1e1e1;
					width: 100%;
				}
			}
		}
	}
	background:white;
	padding:  32px;
	margin-top: 80px;
	#calc_tot_price{
		border-bottom: 1px solid #ebebeb;
	}
	h5{
		color: black;
		line-height: 70px;
		margin-bottom: 0;

		#calc_tot_price_summ{
			float: right;
			color: #94c11f;
			text-align: right;
			font-size: 30px;
			&:after{
				margin-left: 10px;
				font-size: 30px;
				color: #94c11f;
				content: "P";
			}
		}
	}
	.level2wrap .sel_wrap{
		width: 100%;
	}
	white-space: nowrap;
	.calc_tooth_summ{
		margin-top: 34px;
		border-top: 1px solid #ebebeb;
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 34px;
		select{
			margin-left: 0!important;
			width: 115px!important;
		}
	}
	.sel_wrap, .level2wrap, .calc_tooth_summ select{
		display: inline-block;
		margin-right: -1px;
		width: 30%;
		margin-left: 3%;
		&:first-child{
			margin-left: 0;
		}
	}
	select{
		border: 1px solid #e1e1e1;
		height: 33px;
		width: 100%;
		display: block;
		margin-right: 10px;
		padding-left: 6px;
		padding-right: 10px;
	}
	.level3wrap{
		&.selectr{
			display: inline-block;
			width: 33%;
			margin-left: 3%;
			.sel_wrap, select{
				width: 100%;
			}
		}
	}
}
.level4wrap, .level3wrap, .level4{
	p{
		&:nth-child(odd){
			background: #f5f5f5;
		}
		padding: 10px;

	}
	white-space: normal;
	.rouble{
		display: none;
	}
	label{
		display: block;
		width: 90%;
		width: calc(100% - 130px);
		width: -webkit-calc(100% - 130px);
		width: -moz-calc(100% - 130px);
		input[type="checkbox"]{
			&~ins{
				border-radius: 0%!important;
			}
		}
		input{
			&[disabled]{
				&~*{
					opacity: .7;
				}
			}
			opacity: 0;;
			position: absolute;
			left: -9999px;
			&~ins{
				display: inline-block;
				width: 12px;
				height: 12px;
				background: #dbdbdb;
				border: 3px solid #dbdbdb;
				margin-right: 10px;
				vertical-align: top;
				border-radius: 50%;
				position: relative;
				top: 5px;
			}
			&~span{
				font-size: 14px;
				color: #333333;
				font-weight: 400;
			}
			&:checked~ins{
				content: "";
				background: #3cb4e7;
			}
			&:checked~span{
				color: #3cb4e7;
			}

		}
	}
	b:not([role]){
		float: right;
		display: inline-block;
		width: 120px;
		text-align: right;
		line-height: 24px;
		&:after{
			margin-left: 4px;
			content: "P";
		}
	}
}
.calc_koron_ch .float_sel_wrap{
	height: 50px;
	padding-top: 10px;
}
#implantatsiya_pod_kly43 #implantatsiya_pod_kly43{
	display: inline-block;
	width: 140px;
	margin-right: -6px;
}
.calc_abat{
	margin-top: 14px;
	margin-bottom: 15px;
}
.float_sel_opt {
	padding-left: 20px;
		display: inline-block;
		width: calc(100% - 140px);
		width: -webkit-calc(100% - 140px);
		width: -moz-calc(100% - 140px);
}
label{
	width: 100%;
	font-size: 0;
	white-space: nowrap;
	span{
		font-size: 16px;
		line-height: 24px;
		display: inline-block;
		white-space: normal;
		width: 91%;
	}
}

	.reset{
		text-decoration: none!important;
		bottom: -33px;
		left: 0px;
		position: absolute;
		&:before{
			content: "";
			background: url(../../images/calc-icons.png) -7px -7px no-repeat;
			display: inline-block;
			height: 21px;
			width: 19px;
			margin-right: 3px;
			vertical-align: middle;
		}
		span{
			color: #333333;
			border-bottom: 1px dashed #333333;
		}
		&:hover{
			span{
				border-bottom: 1px dashed transparent;
			}
		}
	}

	.pdf{
		text-decoration: none!important;
		&:before{
			content: "";
			background: url(../../images/calc-icons.png) -7px -32px no-repeat;
			display: inline-block;
			height: 21px;
			width: 19px;
			margin-right: 3px;
			vertical-align: middle;
		}
		span{
			color: #333333;
			text-decoration: underline;
		}
		&:hover{
			span{
				text-decoration: none;
			}
		}
		margin-right: 20px;
		padding-top: 10px;
	}
	.prnt{
		text-decoration: none!important;
		margin-right: 20px;
		padding-top: 10px;
		&:before{
			content: "";
			background: url(../../images/calc-icons.png) -7px -58px no-repeat;
			display: inline-block;
			height: 21px;
			width: 19px;
			margin-right: 3px;
			vertical-align: middle;
		}
		span{
			color: #333333;
			text-decoration: underline;
		}
		&:hover{
			span{
				text-decoration: none;
			}
		}
	}