	// reset, fonts  
	@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic,latin-ext);

	@import "compass/reset";

	body *{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		letter-spacing: 0px;
	}
	html{
		// background: #333333;
	}
	body{
		background: white;
		font-family: 'Open Sans', sans-serif!important;
		font-weight: 400;
		overflow-x: hidden;
		color: #333333;
		font-size: 0;
		background: url(../../images/bg-main.png) repeat;
	} 
	.orange-link:focus{
		color:  #94c11f;
	}
	.active .orange-link:focus{
		color:   white;
	}
	div.file{
		width: 290px;
		border-top: 1px solid #ebebeb;  
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 10px;
		position: relative;
		cursor: pointer;
		[type="file"]{
			position: absolute;
			left: 0px; 
			top: 0px;
			opacity: 0;
			cursor: pointer;
			z-index: 3; 
			width: 100%;
			height: 100%;
		}
		ins{
			position: absolute;
			text-align: right;
			width: 150px;
			line-height: normal;
			right: 0;
			top: 29px;
			padding-right: 15px;
			max-height: 34px;
			overflow: hidden;
			z-index: 0;
			font-size: 12px;
		}
		span{
			width: 147px;
			display: inline-block;
			position: relative;
			cursor: pointer;
			line-height: 70px;
			z-index: 2;
			background: url(../../images/bg-main.png) repeat;
			.orange-link{
				vertical-align: middle;
				cursor: pointer;
				color: #3cb4e7;
				border-color: #3cb4e7;
			}
		}
	}
	.PFDin{
		font-family: pf_din_text_comp_proregular;
	}
	.ph{
		color: #333333!important;
		text-decoration: none;
	}
	.animated {
		-webkit-animation-duration: .4s;
		animation-duration: .4s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	@-webkit-keyframes fadeInUp {
		0% {
			opacity: 0;
			-webkit-transform: translate3d(0, 100%, 0);
			transform: translate3d(0, 100%, 0);
		}
		100% {
			opacity: 1;
			-webkit-transform: none;
			transform: none;
		}
	}
	@keyframes fadeInUp {
		0% {
			opacity: 0;
			-webkit-transform: translate3d(0, 100%, 0);
			transform: translate3d(0, 100%, 0);
		}
		100% {
			opacity: 1;
			-webkit-transform: none;
			transform: none;
		}
	}

	.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	}
	// @extend .anim;
	.anim{
		transition:  .4s;
		-moz-transition:  .4s;
		-webkit-transition:  .4s;
	}
	.ymaps-b-balloon__close{
		background: transparent url(../../images/ymaps-b-balloon__close.png) center no-repeat!important;
		margin-top: 10px;
		top: -3px!important;
		margin-right: 10px;
	}
	ymaps .phones{
		padding-top: 10px;
		a{
			text-decoration: none;
			color: #333333;
			font-size: 14px;
			padding-bottom: 5px;
			display: block;
		}
	}
	ymaps .phones, .ymaps-b-balloon__content-body{
		a{
			color: #333333;
			font-size: 14px;
			padding-right: 20px;
			display: block;
		}
	}

// Флоаты [.fl, .fr]  
	.fr{
		float: right;
	}
	.fl{
		float: left;
	}
	.ib{
		display: inline-block;
	}
	.absolute{
		position: absolute;
	}

// Контейнер главнй с резиной
	.wrap{
		min-width: 942px;
		max-width: 1280px;

		width: 100%;
		display: block;
		margin: auto;
		position: relative;
	}
.subway_map {
	z-index:1;
	width:660px;
	height:688px;
	position:relative;
	margin: 9px auto 0;
	background:url(../../images/metromap.png) no-repeat 0 0;
	div {display:block;position:absolute;height:31px;width:24px;background: url(../../images/mp_sprite.png) no-repeat -177px -35px;z-index:2;}
	div a {display:block;height:100%;width:100%;}
	.sub_avtovo {bottom:110px;left:141px;}
	.sub_kupchino {bottom:14px;left:257px;}
	.sub_lomonosov {bottom:105px;right:176px;}
	.sub_mezhdunar {bottom:103px;right:277px;}
	.sub_bolshevik {bottom:217px;right:87px;}
	.sub_dibenko{bottom:190px;right:87px;}
	.sub_ligov {bottom:287px;right:224px;}
	.sub_ligov_obvod {bottom:180px;right:277px;}
	.sub_pertograd {top:201px;left:258px;}
	.sub_grazhdan {top:67px;right:270px;}
	.sub_udel{top:95px;left:258px;}
	.sub_komendant{top:94px;left:130px;}
	.sub_komendant2{top:94px;left:154px;}
	.sub_starder{top:120px;left:143px;}
	.sub_voznesenskiy{top: 367px; left: 258px;}
	.sub_varshav {top: 590px;left: 258px;}
}


// иконки 
	$icons: '../../images/icons.png';

// общие настройки ссылкок
	body a{
		display: inline-block;
		&:focus{
			outline: none;
			color: inherit;
			text-decoration: none;
		}
	}
	
	body .fancybox-close {
		position: absolute;
		top: 22px;
		right: 17px;
		width: 36px;
		height: 36px;
		cursor: pointer;
		z-index: 8040;
	}
// таблица из дивов [.table .row .cell] 
	body .table .table{
		background: transparent;
	}
	.table{
		display: table!important;
		// table-layout: fixed;
		.thead{
			display: table-header-group;
		}
		.tbody{
			display: table-row-group;
		}
		.row{
			display: table-row!important;
			&:after, &:before{
				display: none!important;
			}
			.cell{
				display: table-cell!important;
			}
		}
	}
	
	.clearfix{
		clear: both;
		height: 0;
		float: none;
	}

	.w65{
		width: 65%;
		display: inline-block;
		vertical-align: top;
		&.tables{
			h2, .h2{
				line-height: 90px;
				height: 90px;
				margin: 0;
				padding: 0;
			}
		}
	}
	.w35{
		width: 35%;
		display: inline-block;
		vertical-align: top;
		.pagination{
			// text-align: left;
		}
		nav{
			// padding-bottom: 40px;
			a{
				display: block;
				color: #333333;
				margin-right: 45px;
				font-size: 14px;
				text-decoration: underline;
			}
		}
		.more{
			border-top: 1px solid #ebebeb;
			padding-top: 20px;
		}
	}
	.center{
		text-align: center;
	}

	// Переменные  [$icons]
	.modal-wrapper{
		display: none;


	}
	hr{
		height: 0px;
		border: 1px solid #ebebeb;
		border-bottom: 0;
		margin-bottom: 14px;
		margin-top: 10px;
	}
	.slide-toggles{
		margin-bottom: 10px;
		&.blue{
			.title{
				a{
					color: #3cb4e7;
					border-bottom-color: #3cb4e7;
				}
				&:after{
					border-bottom-color: #3cb4e7;
				}
				&.active{
					background: #3cb4e7;
				}
			}
		}
		.title{
			line-height: 50px;
			display: inline-block;
			cursor: pointer;
			padding-left: 10px;
			padding-right: 14px;
			&:after{
				display: inline-block;
				vertical-align: middle;
				content: "";
				border: 5px solid transparent;
				border-bottom: 5px solid #94c11f;
				margin-top: -3px;
				margin-left: 10px;
			}
			&.active{
				background: #94c11f;
				&:after{
					vertical-align: middle;
					margin-top: 7px;
					border: 5px solid transparent;
					border-top: 5px solid white;
				}
				a{
					color: white;
					border-color: white;
				}
				&~article{
					display: block;
				}
			}
			a{
					vertical-align: middle;
			}
		}
		article{
			display: none;
			padding-left: 10px;
			border-top: 1px solid #ebebeb;
			padding-top: 20px;
			margin-top: 10px;
			*:not(h2):not(span):not(b){
				padding-left: 10px;
			}
			p{

			}
		}
	}
	.fancybox-type-inline{
		.fancybox-skin{
			padding: 0!important;
		}
	}
	.hidden{
		display: none;
	}
	.text-item{
		ul, ol{
			list-style-type: none;
			li{
				padding-bottom: 0;
			}
		}
	}
	.list-center{
		.data-time{
			color: #666666;
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 24px;
			b{
				font-weight: bold;
				color: #333333;
			}
		}
		.list-content{
			padding-top: 50px;
			.list-item {
				position: relative;
			}
			[data-action]:after{
				content: attr(data-action);
				color: white;
				background: #95c11f;
				font-weight: bold;
				border-radius: 4px;
				font-style: italic;
				height: 17px;
				line-height: 16px;
				display: inline-block;
				font-size: 11px;
				margin-left: 15px;
				padding-left: 6px;
				padding-right: 6px;
				position: absolute;
				bottom: 3px;
				right: 0;
			}
			[data-new]:after{
				content: attr(data-new);
				color: white;
				background: #3cb4e7;
				font-weight: bold;
				border-radius: 4px;
				font-style: italic;
				height: 17px;
				line-height: 16px;
				display: inline-block;
				font-size: 11px;
				margin-left: 15px;
				padding-left: 6px;
				padding-right: 6px;
				position: absolute;
				bottom: 3px;
				right: 0;
			}
		}
		.tabs{
			display: inline-block;
			margin-right: 85px;
			vertical-align: middle;
			margin-bottom: 24px;
			a{
				display: inline-block;
				font-size: 16px;
				font-weight: bold;
				background: #94c11f;
				border-radius: 4px;
				border: 1px solid #94c11f;;
				line-height: 25px;
				height: 27px;
				text-decoration: none;
				padding-left: 8px;
				color: #333333;
				padding-right: 8px;
				&.active{
					background:#f7f7f7;
					color: #333333;
					font-size: 16px;
					border-color: 1px solid #a1a1a1;
				}
				&:hover{
					opacity: .8;
					color: #333333;
				}
			}
		}
		counter-reset: item;
		.list-item{
			display: inline-block;
			white-space: nowrap;
			padding-bottom: 23px;
			border-bottom: 3px solid #ebebeb;
			margin-right: 0;
			vertical-align: top;
			margin-left: 3%;
			margin-bottom: 23px;
			width: 30%;
			&:nth-child(3n-2){
				margin-left: 0;
			}
			&:before{
				font-size: 26px;
				font-weight: bold;
				color: #94c11f;
				vertical-align: top;
				content: counter(item); 
				counter-increment: item
			}
			.title{
				color: #333333;
				margin-bottom: 30px;
				font-size: 18px;
				white-space: normal;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
			.metro{
				font-size: 16px;
				white-space: normal;
				color: #333333;
				&:before{
					content: url(../../images/metro-item.png);
					display: inline-block;
					height: 14px;
					margin-right: 4px;
					position: relative;
					top: -1px;
					white-space: normal;
				}
			}
			.phones{
				white-space: normal;
				padding-top: 30px;	
				a{
					text-decoration: none;
					font-size: 18px;
					color: #333333;
				}
			}
		}
	}
	#call-me, #appointment{
		width: 590px;
		&#appointment{
			width: auto;
			padding: 0 40px 40px 40px;
			p{
				margin-bottom: 20px;
				line-height: 23px;
				font-size: 18px;
				a{
					color: #94c11e;
				}
			}
		}
		img{
			display: block;
		}
		h2, .h2{
			font-size: 24px;
			text-align: center;
			@extend .PFDin;
			padding-top: 37px;
			width: 510px;
			margin: auto;
			padding-bottom: 15px;
			border-bottom: 1px solid #ebebeb;
			margin-bottom: 40px;
		}
		
		.table{
			.cell{
				font-size: 16px;
				color: #666666;
				padding-bottom: 16px;
				&.button{
					padding-top: 10px;
					input{
						border: 0;
						background: #3cb4e7;
						border-radius: 4px;
						cursor: pointer;
						height: 36px;
						margin-bottom: 10px;
						width: 180px;
						color: white;
						font-size: 18px;
					}
				}
				input, select{
					height: 33px;
					border: 1px solid #e1e1e1;
					width: 290px;
					padding-left: 10px;

					padding-right: 10px;
					&:focus{outline: none;
						border: 1px solid #3db4e7;
					}
					&.phone{
						width: 180px;
					}
					&.time{
						width: 110px;
					}
				}
				&.label{
					width: 265px;
					padding-left: 40px;
				}
			}
		}			
	}
	header{		
		margin-bottom: 48px;
		background: url(../../images/bg-head.png);
		&>*{
			white-space: nowrap;
			&>*{
				white-space: normal;

			}
		}
		font-size: 16px;
		line-height: 24px;
		nav{
			background: #ebebeb;
			margin-top: 24px;
			line-height: 48px;
			-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
			-moz-box-shadow:    0px 2px 2px 0px rgba(0, 0, 0, 0.15);
			box-shadow:         0px 2px 2px 0px rgba(0, 0, 0, 0.15);
			a{
				color: #333333;
				margin-right: 45px;
				font-size: 14px;
				text-decoration: underline;
				&:last-child{
					margin-right: 0;
				}
				&:hover{
					text-decoration: none;
				}
				&.active{
					text-decoration: none;
					font-weight: bold;
				}
			}
		}
		.wrap{
			&:after{
				content: "";
				display: block;
				clear: both;
				height: 0;
			}
		}
		.head{
			line-height: 48px;
			background: #94c11f;
			.head-nav{
				padding-left: 330px;
				display: inline-block;
				a{
					color: white;
					text-decoration: underline;
					margin-right: 48px;
					&:hover{
						text-decoration: none;
					}
				}
			}
			.appointment{
				width: 290px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				background: #3cb4e7;
				&:hover{
					text-decoration: none;
					span{
						border-bottom-color: transparent;
					}
				}
				span{
					color: white;
					line-height: 15px;
					display: inline-block;
					border-bottom: 1px dashed white;
				}
			}
		}
		div.logo{
			width: 330px;
			display: inline-block;
			vertical-align: top;
			padding-top: 32px;
			padding-bottom: 24px;
			position: absolute;
			left: 0;
			top :0;
			a.logo{
				margin-bottom: 24px;
				img{}
			}
			.order-call{
				.tel{
					font-size: 18px;
					color: #333333;
					line-height: 24px;
					display: block;
					text-decoration: none;
					&:hover{
						text-decoration: none;
					}
				}
				.order-call-call{
					line-height: 24px;
					font-size: 16px;
					text-decoration: none!important;
					&:hover{
						span{
							border-bottom-color: transparent;
						}
					}
					span{
						border-bottom: 1px dashed #94c11f;
						line-height: 16px;
						display: inline-block;
						color: #94c11f
					}
				}
			}
		}
		.addres{
			display: inline-block;
			vertical-align: top;
			width: 100%;
			padding-left: 330px;
			&:after{
				content: "";
				display: block;
				clear: both;
				height: 0;
			}
			.title{
				color: #333333;
				padding-top: 24px;
				padding-bottom: 24px;
				b{
					font-size: 24px;
					font-weight: bold;
				}
				span{
					font-size: 16px;

				}
				a{
					font-size: 16px;
					&:hover{
						span{border-bottom-color: transparent;}
					}
					text-decoration: none!important;
					span{
						border-bottom: 1px dashed #3cb4e7;
						color: #3cb4e7;
						line-height: 15px;
						display: inline-block;
					}
				}
			}
			ul{
				text-align: justify;
				text-align-last: right;
				li{
					display: inline-block;
					text-align: left;
					width: 16em;
					position: relative;
					&:nth-child(3n){
						width: 18em;
					}
					a{
						font-size: 13px;
						color: #666666;
						line-height: 24px;
						text-decoration: none;
						padding-left: 5px;
						padding-right: 5px;
						&[data-action]{
							&:after{
								content: attr(data-action);
								color: white;
								background: #95c11f;
								font-weight: bold;
								border-radius: 4px;
								font-style: italic;
								height: 17px;
								line-height: 16px;
								display: inline-block;
								font-size: 11px;
								margin-left: 15px;
								padding-left: 6px;
								padding-right: 6px;
								position: absolute;
								top: 5px;
							}
						}
						&:hover{
							opacity: .7;
							text-decoration: none;
						}
						&.active{
							background: #3cb4e7;
							color: white;
							border-radius: 4px;
						}
					}
				}
			}
		}
	}
	section{
		padding-bottom: 120px;
		font-size: 16px;
		line-height: 24px;
		.date-b{
			color: #666666;
			font-style: italic;
			font-size: 16px;
			line-height: 40px;
		}
		ol{
			counter-reset: item;
			li{
					list-style-type: none;
					padding-bottom: 20px;
				&:before{
					text-align: right;
					content: counter(item) ". "; 
					padding-right: 10px;
					counter-increment: item;
					display: inline-block;
					width: 40px;

				}
				&:after{content: ";"}
				&:last-child{
					&:after{content: "."}
				}
			}
		}
		ul{
			margin-bottom: 24px;
			li{
				&:after{content: ";"}
				&:before{content: "";
					display: inline-block;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background: #333333;
					vertical-align: middle;
					margin-left: 35px;
					margin-right: 32px;
				}
				&:last-child{
					&:after{content: "."}
				}
			}
		}
		.more{
			text-align: center;
			.more-link{
				font-size: 16px;
				color: #333333;
				display: inline-block;
				line-height: 20px;
				&:hover{
					border-bottom-color: transparent;
				}
				text-decoration: none!important;
				border-bottom: 1px dashed #333333;

			}
		}
		&>*{
			white-space: nowrap;
			&>*{
				white-space: normal;
			}
		}
		b{
			font-weight: bold;
		}
		.center{
			text-align: center;
		}
	
		h1{
			font-size: 32px;
			line-height: 50px;
			padding-bottom: 50px;
			text-align: left;
			@extend .PFDin;
			&.center{
				padding-bottom: 70px;
				text-align: left;
			}
		}
		h2, .h2, .h2{
			font-weight: bold;
			font-size: 18px;
			margin-bottom: 12px;
		}
		h3{
			font-size: 32px;
			color: #333333;
			line-height: 48px;
			text-align: center;
			padding-bottom: 28px;
		}
		h4{
			font-size: 18px;
			font-weight: bold;
			color: #333333;
			padding-bottom: 16px;
		}
		.orange-link{
			font-size: 16px;
			text-decoration: none!important;
			color: #94c11f;
			border-bottom: 1px dashed #94c11f;
			line-height: 20px;
			&:hover{
				border-bottom: 1px dashed transparent;
			}
		}
		.action-banner-imga{
			width: 100%;
			display: block;
			margin-bottom: 30px;
		}
		.action-list{
			margin-left: -20px;
			margin-right: -18px;
			margin-top: -25px;
		}
		.action-list-item{
			text-decoration: none;
			width: 33.333%;
			display: inline-block;
			vertical-align: top;
			margin-right: -3px;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 50px;
			.txt{
				div:last-child{
					font-style: italic;
					opacity: 0.8;
				}
			}
			&:hover{
				.title{	
					text-decoration: none;
				}
				.img{
					opacity: .8;
				}
			}
			.img{
				display: block;
				height: 230px;
				// width: 400px;
				width: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				margin-bottom: 20px
			}
			.title{
				display: block;
				font-size: 18px;
				font-weight: bold;
				text-decoration: underline;
				color: #333333;
				padding-right: 40px;
			}
			.txt{
				display: block;
				font-size: 16px;
				padding-top: 25px;
				padding-right: 40px;
				color: #333333;
			}
		}
		.fora{
			padding-top: 40px;
			.wt{
				background: #94c11f;
				padding-top: 13px;
				padding-bottom: 13px;
			}
			table{
				table-layout: fixed;
				td{
					&:first-child{
						border-color: transparent;
						border-width: 0;
					}
					border-left: 1px solid white;
					vertical-align: middle;
					color: white;
					font-size: 24px;
					width: 33.333%;
					padding-left: 25px;
					padding-right: 25px;
					@extend .PFDin;
					text-align: center;
				}
			}
		}
		.enz{
			.def-item{
				p{
					padding-left: 0;
				}
			}
		}
		.booker{
			background: #94c11f;
			text-align: center;
			padding: 20px;
			margin-bottom: 36px;
			a{
				text-decoration: none!important;
				display: inline-block;
				width: 21px;
				height: 21px;
				color: white;
				&:hover{
					span{
						border-bottom: 1px dashed transparent;
					}
				}
				span{
					font-size: 16px;
					line-height: 16px;
					border-bottom: 1px dashed white;
					vertical-align: top;
					padding-top: 3px;
					display: inline-block;
				}
				&.none{
					span{
						color: #c2e567;
						border-bottom: 1px dashed transparent;
					}
				}
				&.active{
					color: white;
					span{
						border-bottom: 1px dashed transparent;
					}
					background: #b3d851;
				}
			}
		}
		.faq-counter, .def-counter{
			font-size: 24px;
			@extend .PFDin;
			padding-bottom: 50px;
			padding-top: 5px;
		}
		.faq-item, .def-item{
			border-bottom: 1px solid #e2e2e2;
			margin-bottom: 35px;
			.view{
				position: relative;
				top: 4px;
				vertical-align: top;
				left: 3px;
				span{
					display: none;
					width: 0;
					position: absolute;
					left: 0px;
					top: 100%;
					img{
						opacity: 0;
					}
				}
				i{
					display: inline-block;
					width: 26px;
					cursor: pointer;
					height: 22px;
					background-image: url($icons);
					background-position: 0 -175px;
					&:hover{
						&~span{
							@extend .animated;
							@extend .fadeInUp;
							display: inline-block;
							padding: 10px;
							z-index: 3;
							border-radius: 3px;
							background: white;
							width: auto;
							border: 1px solid #ebebeb;
							img{
								opacity: 1;
							}
						}
						background-position: -26px -175px;
					}
				}
				
			}
			.faq-item-item, .def-item-item{
				@extend .PFDin;
				font-size: 24px;
				margin-bottom: 18px;
				color: #333333;
				cursor: pointer;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			p{
				font-size: 16px;
				margin-bottom: 18px;
				color: #333333;
				line-height: 24px;
				padding-left: 38px;
			}

		}
		.info-lech, .price-price, .consultant, .parnter, .school, .right-link{
			font-size: 18px;
			margin-bottom: 23px;
			text-decoration: none !important;
			color: #333333;
			display: block;
			&:hover{
				span{
					text-decoration: none;
				}
			}
			span {
				font-weight: bold;
				text-decoration: underline;
			}
			&:before{
				vertical-align: middle;
				display: inline-block;
				margin-right: 3px;
				width: 30px;
				height: 25px;
			}
			&.consultant{
				&:before{
					content: url(../../images/consultant.png)
				}
			}
			&.parnter{
				&:before{
					content: url(../../images/parnter.png)
				}
			}
			&.school{
				&:before{
					content: url(../../images/school.png)
				}
			}
			&.info-lech{
				&:before{
					content: "";
					background: url(../../images/icons.png) -188px -68px no-repeat;
				}
			}
			&.price-price{
				&:before{
					content: "";
					background: url(../../images/icons.png) -188px -95px no-repeat;
					width: 30px;
				}
			}
		}
		.filter-docs{
			// max-width: 1120px;
			// margin: auto;
			// padding-left: 20px;
			padding-bottom: 60px;
			&.search{
				padding-left: 0;
				padding-bottom: 0;
				.select-label .txt{
					font-family: pf_din_text_comp_proregular;
					vertical-align: middle;
					margin-right: 10px;
					font-size: 24px;
				}
				[type=text], [type=email]{
					width: 380px;
					margin-right: -5px;
					padding-left: 10px;
					font-size: 14px;
					vertical-align: top;
					padding-right: 10px;
					border: 0;
					margin-bottom: 20px;
					height: 36px;
				}
				[type=submit]{
					width: 110px;
					font-size: 18px;
					background: #3cb4e7;
					border: 0!important;
					line-height: 36px;
					height: 36px;
					outline: none!important;
					vertical-align: top;
					margin-right: 40px;
					color: white;
					border-radius: 0 4px 4px 0;
					text-align: center;
					cursor: pointer;
				}
				select, .select2 {
					height: 36px;
					vertical-align: top;
					font-size: 14px;
					padding-left: 10px;
					border: 0px;
					width: 180px;
					.select2-selection__rendered{
						line-height: 36px;
					}
					.select2-selection{
						height: 36px;
						width: 180px;
					}
				}
			}
			.select2 {
				padding-left: 0!important;
			}
			select, .select2 {
				.select2-selection__rendered{
					line-height: 36px;
				}
				.select2-selection{
					height: 37px;
					width: 180px;
				}
				width: 180px;
				height: 37px;
				margin-right: 40px;
				font-size: 14px;
				color: #333333;
			}
			input[type=reset]{
				cursor: pointer;
				color: #666666;
				outline: none;
				background: transparent;
				border: 0;
				height: 19px;
				font-size: 14px;
				border-bottom: 1px dashed #666666;
				vertical-align: middle;
				display: inline-block;
				padding: 0;
				&:focus{
					border: 0!important;
					border-bottom: 1px dashed #666666!important;
				}
				&:hover{
					opacity: .7;
				}
			}
		}
		.stood-intan{
			padding-bottom: 50px;
			.intan-stood-logo{
				background: white;
				text-align: center;
				height: 130px;
				line-height: 130px;
				vertical-align: middle;
				img{
					vertical-align: middle;
					display: inline-block;
				}
			}
			.table{
				width: 100%;
				.row{
					background: #94c11f;
					border-bottom: 1px solid white;
					.cell:hover{
						background: #3cb4e7;
						opacity: .9;
					}
					&:first-child{
						background: #3cb4e7;
						.cell{
							background: #3cb4e7;
						}
						.cell:hover{
							background: #94c11f;
						}
						.cell{
							border-bottom: 1px solid white;
						}
					}
					.cell{
						vertical-align: middle;
						border-left: 1px solid white;
						height: 55px;
						a{
							padding-left: 20px;
							display: block;
							width: 100%;
							height: 55px;
							line-height: 55px;
							i{
								display: inline-block;
								vertical-align: middle;
								width: 37px;
								height: 40px;
								margin-right: 4px;
								background: url(../../images/stood-icons.png);
								background-repeat: no-repeat;
								&.vrach{
									background-position: 1px 2px;
								}
								&.assistent{
									background-position: -40px 0px;
									background-position: -30px -1px;
									height: 30px;
								}
								&.directors{
									background-position: 4px -60px;
									height: 21px;
								}
								&.admines{
									background-position: -28px -53px;
									background-repeat: no-repeat;
								}
							}
							span{
								color: white;
								@extend .PFDin;
								vertical-align: middle;
								font-size: 23px;
								display: inline-block;
							}
						}
					}
				}
			}
		}
		.title-docs{
				text-align: left;
				// padding-left: 20px;
				// padding-bottom: 40px;
				.spec, .address{
					margin-right: 40px;
					display: inline-block;
				}

				.address,  .spec{
					margin-bottom: 20px;
					margin-right: 0!important;
				}
				.address span.txt,  .spec span.txt{
					font-size: 24px;
					vertical-align: middle;
					margin-right: 10px;
					@extend .PFDin;
				}
			}
		.docs-list, .text-item{
			// max-width: 1120px;
			// margin: auto;
			// margin-bottom: -60px;
			max-width: 100%;
			margin: auto;
			margin-bottom: -60px;
			
			.docs-item{
				display: inline-block;
				vertical-align: top;
				// margin-bottom: 60px;
				margin-right: -4px;
				width: 180px;
				margin-left: 35px;
				margin-right: 35px;
				&:hover{
					opacity: .8;
					div{
						text-decoration: none;

					}
				}
				a{
					display: block;
					text-decoration: none;
					text-align: center;
				}
				span{
					display: block;
					height: 180px;
					width: 180px;
					border: 1px solid white;
					margin-bottom: 10px;
					border-radius: 180px;
					background-position: top center;
					background-repeat: no-repeat;
					background-size: cover;
				}
				div{
					font-size: 14px;
					text-decoration: underline;
					line-height: 21px;
					margin-bottom: 4px;
					color: #333333;
				}
				p{
					line-height: 18px;
					color: #666666;
					font-size: 14px;
				}
			}
		}
		#ymaps-map-container{
			height: 268px;
			margin-top: 20px;
			margin-bottom: 30px;
		}
		.d3d-pane{
			position: relative;
			width: 100%;
			&:hover{
				&:after{
					opacity: .9	;
				}
			}
			img{
				max-width: 100%;
			}
			&:after{
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -106px;
				margin-top: -24px;
				content: "";
				display: inline-block;
				height: 48px;
				background: url($icons) 0 -125px;
				width: 212px;
			}
		}
		.head-doc{
			min-height: 152px;
			a{
				position: relative;
			}
			a:hover{
				.name{
					text-decoration: none;
				}
			}
			.all-c{
				padding-left: 114px;
				color: #333333;
				font-size: 14px;
				&:hover{
					text-decoration: none;
				}
			}
			.img{
				width: 96px;
				height: 96px;
				display: inline-block;
				border-radius: 50%;
				position: absolute;
			}
			.i{
				padding-left: 114px;
				padding-top: 20px;
				display: inline-block;
				min-height: 97px;
				.prof{
					font-size: 18px;
					color: #333333;
					font-weight: bold;
					display: block;
				}
				.name{
					font-size: 16px;
					color: #333333;
					display: block;
					text-decoration: underline;
				}
			}
		}
		.contacts-block{
			background: #94c11f;
			width: 100%;
			margin-bottom: 30px;
			.thead{
				.cell{
					font-weight: bold;
					padding-top: 20px;
					line-height: 40px;
					i{
						width: 27px;
						height: 27px;	
						display: inline-block;
						background-repeat: no-repeat;
						background-image: url($icons);
						vertical-align: middle;
						margin-right: 8px;
					}
					.icon-tyte-1{
						background-position: -103px -34px;
					}
					.icon-tyte-2{
						background-position: -136px -33px;
						width: 15px;
					}
					.icon-tyte-3{
						background-position: -160px -34px;
					}
				}
			}
			.tbody{
				.cell{
					padding-bottom: 20px;
				}
			}
			.cell{
				&:first-child{
					padding-left: 	40px;
				}
				color: white;
				font-size: 16px;
				line-height: 24px;
			}
		}
		.video-item{
			width: 100%;
			height: 96px;
			display: block;
			position: relative;
			margin-bottom: 22px;
			text-decoration: none;	
			overflow: hidden;
			&:hover{
				&:after{
					color: #3cb4e7;
				}
			}
			&:before{
				content: attr(data-time);
				background: rgba(0, 0, 0, 0.5);
				color: white;
				padding-left: 5px;
				padding-right: 5px;
				font-size: 12px;
				position: absolute;
				bottom: 3px;
				left: 40%;
				transform: translateX(-100%);
				-moz-transform: translateX(-100%);
				-webkit-transform: translateX(-100%);
				margin-left: -3px;
			}
			&:after{
				content: attr(data-text);
				font-size: 16px;
				color: #333333;
				position: absolute;
				right: 0;
				width: 56%;
				top: 0;
				padding-left: 20px;
				font-weight: bold;
			}
			.img{
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				display: block;
				width: 40%;
				height: 100%;
			}
		}
		.video-block{
			width: 620px;
			height: 413px;
			position: relative;
			cursor: pointer;
			display: block;
			&.main-video-block{
				height: 550px;
				width: 100%;
				margin-bottom: 31px;
				.v{
					width: 100%;
				}
			}
			.v{
				height: 100%;
				width: 100%;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				display: block;
			}
			&:hover{
				.play{
					opacity: .6;
				}
			}
			.action{
				display: block;
				.play{
				
					position: absolute;
					display: block;
					background: url($icons) -80px -62px no-repeat;
					width: 62px;
					height: 62px;
					margin-left: -31px;
					margin-top: -31px;
					top: 50%;
					left: 50%;
				}
			}
		}
		.action-centre{
			font-size: 0;
			white-space: nowrap;
			margin-bottom: 40px;
			a{
				width: 33.3%;
				img{
					max-width: 100%;
				}
			}
		}
		.how-2-get{
			padding-bottom: 20px;
			ul, li{
				&:after, &:before{
					display: none;
				}
			}
			.italic{
				font-style: italic;
			}
			.metro{
				margin-top: 20px;
				&:before{
					content: "";
					display: inline-block;
					background: url($icons) -28px -96px no-repeat;
					width: 13px;
					height: 10px;
					margin-right: 2px;
					position: relative;
					top: 1px;
				}
				span{
					font-weight: bold;
					color: #333333;
				}
			}
			.list-o{
				text-decoration: none!important;
				&:hover{
					span{
						border-bottom-color: transparent;
					}
				}
				i{
					display: inline-block;
					width: 26px;
					height: 24px;
					margin-right: 5px;
					vertical-align: middle;
					background: url($icons) 1px -96px no-repeat;
				}
				&.open{
					&:after{
						-moz-transform: scale(-1, -1);
						-webkit-transform: scale(-1, -1);
						-o-transform: scale(-1, -1);
						transform: scale(-1, -1);
						top: 5px;
					}
				}
				// &:after{
				// 	display: inline-block;
				// 	content: "";
				// 	vertical-align: middle;
				// 	border: 4px solid transparent;	
				// 	border-bottom: 4px solid  #333333;
				// 	position: relative;
				// 	top: 0px;
				// 	left: 5px;
				// }
				span{
					color: #333333;
					font-weight: bold;
					font-size: 18px;
					vertical-align: middle;
					// border-bottom: 1px dashed #333333;
					
				}
			}
		}		
		.facts{
			height: 195px;
			background: #94c11f;
			padding: 0!important;
			.swiper-slide, .swiper-wrapper, .swiper-container{
				height: 195px;
			}
		}
		.facts_text {
			color: #fff;
			@extend .PFDin;
		}
		.facts .swiper-container,  .facts .swiper-slide {
		  width: 825px;
		  height: 195px;
		  text-align: center;
		}

		.facts .wrap {
		 position: relative;
		 height: 195px;
		.table{
			width: 100%;
			height: 195px;
			.cell{
				text-align: center;
				vertical-align: middle;
				p{
					padding-bottom: 0px;
					padding-left: 100px;
					padding-right: 100px;
				}
			}
		}
		  .arrow {
		  position: absolute;
		  top: 85px;
		  z-index: 2;
		  text-align: center;
		  cursor: pointer;
		  width: 30px;
		  height: 30px;

		  span {
		   background-image: url("/assets/images/icons.png");
		   width: 11px;
		   height: 14px;
		   position: absolute;
		   margin-top: 10px;
		  }
		  &.icons-arrow-next{
		   right: 86px;
		   span {
					background: url($icons) -126px 0 ;
					display: inline-block;
					vertical-align: middle;
					height: 14px;
					width: 10px;

		  	 }
		  }
		  &.icons-arrow-prev {
		   left: 107px;
		   span {
					background: url($icons) -126px -14px;
					display: inline-block;
					vertical-align: middle;
					height: 14px;
					width: 10px;
		    
		   }
		  }
		 }
		}
		.text-togle{
			text-decoration: none;
			color: #333333;
			&:hover{
				span{
					border-bottom: 	1px dashed  transparent;
				}
			}
			span{
				color: #94c11f;
				border-bottom: 1px dashed #94c11f;
			}
		}
		.review{
			.filter-docs{
				padding-bottom: 40px;
				padding-top: 10px;
			}
			.review-items{
				padding-top: 18px;
				margin-bottom: 36px;
				padding-bottom: 24px;
				border-bottom: 1px solid #e2e2e2;
				p{
					font-size: 16px;
					color: #333333;
					line-height: 24px;
					
				}
			}
			.filter-docs{
				// margin-left: -20px;
				select{
					font-style: italic;
				}
			}
			.review-head{
				.username{
					font-size: 18px;
					font-weight: bold;
					padding-bottom: 12px;
					color: #94c11f;
				}
				.data{
					color: #666666;
					font-size: 16px;
					font-style: italic;
				}
			}
		}
		.enroll-2-doctor{
			margin-bottom: 50px;
			&.consultant{
				margin-bottom: 50px;
				h2, .h2, .h2{
					display: inline-block;
				}
				&:before{
					content: url(../../images/consultant.png)
				}
			}
			&.right{
				float: right;
				width: 291px;
				padding-top: 0;
			}
				padding-top: 15px;
			input[type=submit]{
				color: white;
				font-size: 18px;
				background: #3cb4e7;
				width: 200px;
				line-height: 36px;
				border: 0;
				border-radius: 4px;
				text-align: center;
				margin-top: 5px;
				cursor: pointer;
				&:hover{opacity: .9}
			}
			select:focus{
				color: #666666;
			}
			 .select2{
			 	padding-left: 0;
				margin-bottom: 12px;
				line-height: 36px;
			 	.select2-selection__rendered{
			 		line-height: inherit;
					line-height: 36px;
			 	}
			 }
			 .select2-selection{
			 	padding-left: 0!important;
			 }
			input[type=text], [type=email], textarea, select, .select2 .select2-selection{
				height: 36px;
				font-size: 16px;
				width: 291px;
				border: 0;
				margin-bottom: 12px;
				resize: none;	
				padding-left: 10px;
				&:focus{
					outline: none;
					border: 1px solid #3db4e7;
				}
				&:-moz-placeholder{
					// color: #666666;
				}
				&::-webkit-input-placeholder{
					// color: #666666;
				}
			}
			textarea{
				height: 84px;
				font-size: 16px;
				padding-top: 10px;
				font-family: "Open Sans", sans-serif !important;
			}
		}
	
		blockquote{
			text-align: center;
			margin-bottom: 5px;
			white-space: normal;
			a{
				width: 33%;
				border: 1px solid #ebebeb;
				background-position: center;
				background-repeat: no-repeat;
				height: 115px;
				display: inline-block;
				opacity: .6;
				&:hover{
					border: 1px solid #cdcdcd;
					opacity: 1;
				}
			}
		}
		
		.back-to-docs, .back-to{
			position: relative;
			z-index: 1;
			margin-top: -80px;
			display: block;
			width: 140px;
			top: -50px;
			margin-bottom: 24px;
			&:hover span{
				text-decoration: none;
			}
			i{
				background: url("../../images/icons.png") -83px -38px no-repeat;
				display: inline-block;
				width: 19px;
				height: 12px;
				margin-right: 1px;
				vertical-align: middle;
				position: relative;
				top: 2px;
				transform: scale(.7);
				-moz-transform: scale(.7);
				-webkit-transform: scale(.7);
			}
			span{
				display: inline-block;
				vertical-align: middle;
				text-decoration: underline;
				font-size: 13px;
				color: #333333;
			}
		}
		.doc-item, .text-item{
			&{
				position: relative;
				.doc-photo{
					position: absolute;
					top: 0;
					left: 0;
					max-width: 245px;
					img{
						max-width: 100%;
					}
				}
				.doc-info{
					padding-left: 330px;
					h3{
						font-size: 24px;
						@extend .PFDin;
						text-align: left;
						color: #333333;
						line-height: 22px;
					}
					p{
						color: #333333;
						font-size: 16px;
						padding-bottom: 30px;
						line-height: 24px;
						a{
							color: #333333;
							text-decoration: underline;
							&:hover{
								text-decoration: none;
							}
						}
					}
				}
			}		
		}
		.tab-toggler{
			position: relative;
			margin-top: 10px;
			.tab-toggler-toggler{
				box-sizing: content-box;
				-moz-box-sizing: content-box;
				-webkit-box-sizing: content-box;
				display: inline-block;
				transition: .6s;
				-moz-transition: .6s;
				-webkit-transition: .6s;
				background: #3cb4e7;
				position: absolute;
				color: transparent;
				padding-right: 12px;
				padding-left: 12px;
				margin-left: 13px;
				font-size: 18px;
				height: 36px;
				top: -3px;
				&:after{
					top: 36px;
					left: 50%;
					content: "";
					position: absolute;
					display: inline-block;
					border: 6px solid transparent;
					border-top: 6px solid #3cb4e7;
				}
			}
			.tab-toggler-head{
				text-align: center;
				a{
					margin-left: 24px;
					margin-right: 24px;
					text-decoration: none!important;
					position: relative;
					z-index: 1;
					&.active{
						span{
							color: white;
							border-bottom: 1px dashed white;
						}
					}
					span{
						transition: .6s;
						-moz-transition: .6s;
						-webkit-transition: .6s;
						color: #333333;
						font-size: 18px;
						border-bottom: 1px dashed #333333;
					}
				}
			}
			.tab-toggler-body{
				padding-top: 32px;
				.tab-toggler-item{
					font-size: 0;
					display: none;
					&.active{
						display: block;
					}
					p{
						&:first-child{
							padding-right: 35px;
							&+p{
								padding-left: 35px;
							}
						}
						display: inline-block;
						font-size: 16px;
						color: #333333;
						line-height: 24px;
						width: 50%;
						a{
							text-decoration: underline;
							color: #3cb4e7;
							font-size: 16px;
							&:hover{
								text-decoration: none;
							}
						}
					}
				}
			}
		}
		a.banner{
			margin-bottom: 48px;
			display: block;
			width: 100%;
			img{
				max-width: 100%;
			}
		}
		p{
			padding-bottom: 24px;
			a{
				color: #3cb4e7;
				&:hover{
					text-decoration: none;
				}
			}
		}
		.black-link{
			color: #333333;
			font-size: inherit;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		.b-slider{
			h2, .h2{
				margin-top: -36px;
			}
			&.bottom{
				margin-bottom: 0px;
			}
			position: relative;
			z-index: 2;
			margin-top: -48px;
			height: 400px;
			background: url(../../images/bg-main.png) repeat;
			width: 100%;
			&.m{
				max-width: 1280px;
				width: 100%;
				height: 240px;
				margin: auto;
				margin-bottom: 60px;
				.controls {
					span{
						top: 110px;
					}
				}
				 .swiper-slide{
				 	width: 427px;
				 }
				.swiper-wrapper, .swiper-slide, .swiper-container{
					height: 240px;
				}
			}
			&.contenter{
				margin-top: 0;
				height: 170px;
				margin-bottom:35px;
				.swiper-slide{
					width: 277px;
					position: relative;
					span{
						color: white;
						white-space: normal;
						position: absolute;
						padding-left: 15px;
						padding-right: 15px;
						display: block;
						padding-bottom: 10px;
						padding-top: 10px;
						bottom: 0px;
						font-weight: 300;
						left: 0;
						right: 0px;
						font-size: 16px;
						background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(30,44,56,0.58) 76%, rgba(0,0,0,0.6) 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,0)), color-stop(76%,rgba(30,44,56,0.58)), color-stop(100%,rgba(0,0,0,0.6)));
						background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(30,44,56,0.58) 76%,rgba(0,0,0,0.6) 100%);
						background: -o-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(30,44,56,0.58) 76%,rgba(0,0,0,0.6) 100%);
						background: -ms-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(30,44,56,0.58) 76%,rgba(0,0,0,0.6) 100%);
						background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(30,44,56,0.58) 76%,rgba(0,0,0,0.6) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#99000000',GradientType=0 );

					}
				}
				.swiper-wrapper, .swiper-slide, .swiper-container{
					height: 170px;
				}
				.controls{
					span{
						top: 70px;
					}
				}
			}
			&.mini{
				margin-top: 0;
				height: 240px;
				margin-bottom:35px;

				.swiper-slide{
					width: 416px;
				}
				.swiper-wrapper, .swiper-slide, .swiper-container{
					height: 240px;
				}
				.controls{
					span{
						top: 110px;
					}
				}
			}
			.controls{
				position: relative;
				span{
					background: url($icons) no-repeat;
					width: 32px;
					height: 32px;
					display: inline-block;
					position: absolute;
					z-index: 2;
					top: 180px;
					cursor: pointer;
					&:hover{
						opacity: .5
					}
					&.prev{
						left: 30px;
						background-position: -137px 0;
					}
					&.next{
						right: 30px;
						background-position: -170px 0;
					}
				}
			}
			.swiper-scrollbar{
				opacity: 1;
				display: block;
				height: 14px;
				background: #e4e4e4; /* Old browsers */
				background: -moz-linear-gradient(top,  #e4e4e4 0%, #ebebeb 49%, #e4e4e4 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(49%,#ebebeb), color-stop(100%,#e4e4e4)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #e4e4e4 0%,#ebebeb 49%,#e4e4e4 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #e4e4e4 0%,#ebebeb 49%,#e4e4e4 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #e4e4e4 0%,#ebebeb 49%,#e4e4e4 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #e4e4e4 0%,#ebebeb 49%,#e4e4e4 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
				.swiper-scrollbar-cursor-drag{
					cursor: default!important;
				}
				.swiper-scrollbar-drag{
					background: #94c11f;
					height: 8px;
					top: 3px;
					&:active{
						opacity: .6;
					}
				}
			}
			.swiper-wrapper, .swiper-slide, .swiper-container{
				height: 386px;
				white-space: nowrap;
			}
			a{
				float: left;
			}
			.img{
				background-size: cover;
				display: inline-block;
				height: 386px;
				width: 640px;
			}
		}
		.calc-price{
			font-size: 18px;
			margin-bottom: 23px;
			text-decoration: none!important;
			&:hover{
				span{
					text-decoration: none;
				}
			}
			span{
				font-weight: bold;

				text-decoration: underline;
			}
			color: #333333;
			&:before{
				content: "";
				background:url(../../images/icons.png) -150px -68px no-repeat;
				width:  30px;
				height: 25px;
				vertical-align: middle;
				display: inline-block;
				margin-right: 2px;
			}
		}
		.credit{
			font-size: 18px;
			color: #333333;
			margin-bottom: 23px;
			text-decoration: none!important;
			&:hover{
				span{
					text-decoration: none;
				}
			}
			span{
				font-weight: bold;
				text-decoration: underline;

			}
			&:before{
				content: "";
				display: inline-block;
				background: url(../../images/icons.png) -148px -93px no-repeat;
				width: 30px;
				height: 20px;
				vertical-align: middle;
				margin-right: 2px;
			}
		}
		.list-price{
			margin-bottom: 0;
			li{
				display: block;
				width: 100%;
				white-space: nowrap;
				line-height: 36px;
				&>span{
					padding-left: 10px;
					padding-right: 10px;
				}
				&:nth-child(2n){
					background: #ebebeb;
				}
				&:nth-child(2n-1){
					background: #f4f4f4;
				}
				&:after, &:before{
					display: none;
				}
				span.spoiler{
					border-bottom: 1px dashed #333333;
					cursor: pointer;
					position: relative;
					&:hover{
						border-bottom: 1px solid #333333;
					}
					&:after{
						border: 4px solid transparent;
						border-top: 7px solid rgba(51, 51, 51, 0.67);
						content: "";
						display: inline-block;
						position: absolute;
						right: -20px;
						top: 50%;
						margin-top: -3px;
					}
					&.open{
						&:after{
							border: 4px solid transparent;
							border-bottom: 7px solid #333333;
							content: "";
							display: inline-block;
							position: absolute;
							right: -20px;
							margin-top: -5px;
							top: 50%;
						}
					}
				}
				.list-price{
					display: none;
					li{
						&:last-child{
							border-bottom: rgba(255, 250, 250, 0.80)
						}
						&>span{
							padding-left: 50px;
							padding-right: 10px;
						}
					}
				}
				.name{
					display: inline-block;
					vertical-align: middle;
					margin-right: -4px;
					color: #333333;
					font-size: 14px;
					width: -webkit-calc(100% - 100px); /* Firefox 4+ */
					width: -moz-calc(100% - 100px); /* Firefox 4+ */
					width: calc(100% - 100px); /* IE9+ и будущие браузеры */ 
				}
				.price{
					display: inline-block;
					text-align: right;
					vertical-align: middle;
					font-weight: bold;
					font-size: 16px;
					color: #333333;
					width: 100px;
				}
			}
		}
		.operation-to-implant{
			background: #94c11f;
			text-align: center;
			margin-bottom: 20px;
			.arrow{
				span{
					@extend .PFDin;
					color: white;
					color: white;
					font-size: 52px;
				}
			}
			p{
				font-size: 48px;
				line-height: 60px;
				color: white;
				
			}
		}
		.doctors{
			padding-top: 30px;
			.title{
				line-height: 48px;
				padding-bottom: 24px;
				text-align: center;
				a{
					text-decoration: none!important;
					span{
						color: #333333;
						font-size: 32px;
						border-bottom: 1px solid #333333;
					}
					&:hover{
						span{
							border-bottom: 1px solid transparent;
						}
					}
				}
			}
			.doctor-photo{
				display: inline-block;
				width: 285px;
				height: 285px;
				border-radius: 50%;
				background-position: center;
				background-size: cover;
			}
			.doctor-name{
				padding-top: 12px;
				width: 285px;
				display: inline-block;
				padding-bottom: 12px;
				a{
					margin-bottom: 10px;
					color: #333333;
					font-size: 18px;
					text-decoration: underline;
					&:hover{
						text-decoration: none!important;
					}
				}
				p{
					color: #666666!important;
					font-style: italic;
					font-size: 14px!important;
					line-height: 24px!important;
				}
			}
			.table{
				width: 100%;
				.row{
					&:first-child{
						p{
							width: 325px;
							display: inline-block;
							font-size: 24px;
							color: #94c11f;
						}
					}
				}
				.cell{
					width: 33.33%;
					text-align: center;
				}
			}
		}
		.slider{
			margin-bottom: 24px;
			h2, .h2{
				padding-top: 50px;
			}
			*{
			}
			// со старого сайта
			.mySwiper {
				position: relative;
				margin-bottom: 36px;
			}
			.mySwiper-container {
				width: 100%;
				height: 190px;
				margin: auto;
				position: relative;
			}
			.mySwiper-slide {
				position: relative;
				width: 100%;
				height: 100%;
			}
			.mySwiper-arr {
				display: block;
				position: absolute;
				background: url($icons) 0px 0px no-repeat;
				background-repeat: no-repeat;
				width: 34px;
				height: 58px;
				cursor: pointer;
				top: 50%;
				margin-top: -29px;
				z-index: 20;
			}
			.mySwiper-arr-prev {
				background-position: -2px -34px;
				left: 20px;
			}
			.mySwiper-arr-next {
				background-position: -47px -34px;
				right: 20px;
			}
			.mySwiper-pagination {
			}
			.swiper-slide-content {
				padding-top: 20px;
				padding-right: 50px;
			}
			.swiper-slide-content-pic {
				text-align: center;
				height: 166px;
				float: left;
				line-height: 166px;
				width: 240px;
			}
			.swiper-slide-content-pic-in {
				background: url(../../images/sprite.png) 0px 0px no-repeat;
				vertical-align: middle;
				display: inline-block;
				*zoom: 1;
				*display: inline;
			}
			.swiper-slide-content-pic-in.pic-in1 {
				width: 135px;
				height: 104px;
				background-position: -320px -94px;
			}
			.swiper-slide-content-pic-in.pic-in2 {
				width: 110px;
				height: 99px;
				background-position: -493px -115px;
			}
			.swiper-slide-content-pic-in.pic-in3 {
				width: 110px;
				height: 76px;
				background-position: -641px -115px;
			}
			.swiper-slide-content-pic-in.pic-in4 {
				width: 110px;
				height: 76px;
				background-position: -518px -267px;
			}
			.swiper-slide-content-pic-in.pic-in5 {
				width: 111px;
				height: 83px;
				background-position: -673px -264px;
			}
			.swiper-slide-content-pic-in.pic-in6 {
				width: 136px;
				height: 167px;
				background-position: -811px -222px;
			}
			.swiper-slide-content-pic-in.pic-in7 {
				width: 157px;
				height: 157px;
				background-position: -976px -227px;
			}
			.swiper-slide-content-info {
				font-size: 20px;
				padding-left: 247px;
				padding-right: 40px;
			}
			.swiper-slide-content-hd {
				color: #8CC33F;
				padding-bottom: .7em;
			}
			.swiper-slide-content-desc {
				font-size: 15px;
				line-height: 20px;
			}
			.mySwiper-sub {
				padding-top: 40px;
				text-align: center;
			}
			.mySwiper-pagination {
				position: relative;
				display: inline-block;
			}
			.mySwiper-pagination-item {
				display: inline-block;
				cursor: pointer;
				vertical-align: top;
				color: #9fca60;
				font-size: 14px;
				text-align: left;
				position: relative;
			}
			.mySwiper-pagination-item.current {
				font-weight: bold;
			}
			.mySwiper-pagination-item-arr {
				display: inline-block;
				vertical-align: top;
				position: relative;
				background-position: 0 0;
				background-repeat: no-repeat;
				width: 7px;
				float: right;
				margin-left: 10px;
				height: 10px;
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAKCAYAAAB4zEQNAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKpJREFUeNpi7Dli58TAwGAIxOeLrQ/uY0ACTEDMCMQxQNzdc8TeClmS8f///wy9Rx10gPRCIJ+VkZEhB2jCIbgkCAAVGDL8/z8PaA7IpBSggjNwSagCcSB/LZDJDzShgYkBC2AEyoD0IBlrD3LxPCAXJAc2lgUkAXSlDpCaA8TMQBmggw6cAXsFKOEMVLkYpBwIMoASh2DGg3SCTF4ClDtfYnPwGLLdAAEGAGemQlnAtMmvAAAAAElFTkSuQmCC);
				opacity: 0.7;
				top: 5px;
				margin-right: 5px;
			}
			.mySwiper-pagination-item.current .mySwiper-pagination-item-arr {
				opacity: 1;
			}
			.mySwiper-pagination-item-hint {
				font-size: 14px;
				font-style: italic;
				position: absolute;
				top: -35px;
				right: -15px;
				color: #4b4b4b;
				font-weight: normal;
			}
			.mySwiper-pagination-item-hint:after {
				content: " ";
				display: block;
				position: absolute;
				width: 1px;
				height: 10px;
				left: 50%;
				bottom: -14px;
				background-color: #595959;
			}
			.mySwiper-pagination-ico {
				vertical-align: middle;
				display: inline-block;
				*zoom: 1;
				*display: inline;
				background: url(../../images/sprite.png) 0px 0px no-repeat;
			}
			.mySwiper-pagination-ico.ico1 {
				width: 72px;
				height: 54px;
				background-position: -13px -414px;
			}
			.mySwiper-pagination-ico.ico2 {
				width: 60px;
				height: 55px;
				background-position: -109px -423px;
			}
			.mySwiper-pagination-ico.ico3 {
				width: 77px;
				height: 53px;
				background-position: -199px -424px;
			}
			.mySwiper-pagination-ico.ico4 {
				width: 66px;
				height: 46px;
				background-position: -320px -424px;
			}
			.mySwiper-pagination-ico.ico5 {
				width: 62px;
				height: 46px;
				background-position: -438px -423px;
			}
			.mySwiper-pagination-ico.ico6 {
				width: 56px;
				height: 55px;
				background-position: -535px -414px;
			}
			.mySwiper-pagination-ico.ico7 {
				width: 45px;
				height: 45px;
				background-position: -628px -423px;
			}
			.mySwiper-pagination-space {
				background-color: #8CC33F;
				display: block;
				float: left;
				height: 65px;
				font-size: 12px;
				white-space: nowrap;
				position: relative;
				font-style: italic;
				text-align: center;
				line-height: 65px;
			}
			.mySwiper-pagination-space-text-rotate {
				display: block;
				-moz-transform: rotate(-90deg);
				-webkit-transform: rotate(-90deg);
				-o-transform: rotate(-90deg);
				position: absolute;
				writing-mode: bt-lr;
			}
		}
		.hash-nav{
			height: 48px;
			background: #94c11f;
			line-height: 48px;
			margin-bottom: 20px;
			a{
				color: #ffffff;
				margin-left: 18px;
				height: 21px;
				line-height: 21px;
				text-decoration: none!important;
				border-bottom: 1px dashed white;
				&:hover{
					border-bottom: 1px dashed transparent;
				}
			}
		}
		 h5{
			@extend .PFDin;
			font-size: 24px;
			color: #94c11f;
			// padding-top: 25px;
			margin-bottom: 23px;
		}
		.table-title{
			@extend .PFDin;
			font-size: 24px;
			color: #94c11f;
			padding-bottom: 25px;
		}
		.w35{
			padding-left: 40px;
		}
		.menu-blok{
			padding-top: 18px; ;
			.active{
				font-weight: bold;
				text-decoration: none;
			}
			&.notitle{
				padding-top: 18px; ;
				.active{
					font-weight: bold;
					text-decoration: none;
					cursor: default;
				}
			}
			background: #94c11f;
			ul{
				margin-bottom: 48px;
				li{
					padding-bottom: 24px;
					padding-left: 24px;
					padding-right: 24px;
					&:after, &:before{
						display: none;
					}
					a{
						text-decoration: none;
						line-height: 24px;
						color: white;
						text-decoration: underline;
						span{
							line-height: 17px;
							font-size: 16px;
							color: white;
						}
						&:hover{
							text-decoration: none;
							span{
								border-bottom-color: transparent;
							}
						}
					}
				}
			}
			h2, .h2{
				padding-top: 24px;
				padding-bottom: 24px;
				padding-left: 24px;
				padding-right: 24px;
				color: white;
			}
		}
		.reviews{
			.title{
				padding-bottom: 24px;
				text-decoration: none;
				&:hover{
					text-decoration: none;
					h2 span{
						text-decoration: none;
					}
				}
				i{
					display: inline-block;
					width: 24px;
					height: 24px;
					margin-right: 5px;
					vertical-align: middle;
					background: url($icons) 0px 0px;
				}
				h2, .h2{
					span{
						text-decoration: underline;
						vertical-align: middle;
						color: #333333;
						font-size: 18px;
						display: inline-block;
					}

				}
			}
		}
		.review-item{
			p{
				font-size: 16px;
				color: #333333;
			}
			.review-user-name{
				padding-bottom: 12px;
				color: #94c11f;
				font-size: 18px;
				&:after{
					content: attr(data-date);
					font-size: 16px;
					display: inline-block;
					float: right;
					font-style: italic;
					color: #333;
				}
			}
		}
	}


	footer{
		background: #ebebeb;
		font-size: 14px;
		line-height: 21px;
		color:  #333333;
		&>*{
			white-space: nowrap;
			&>*{
				white-space: normal;
			}
		}
		nav{
			padding-top: 6px;
			line-height: 48px;
			a{
				color: #333333;
				font-size: 14px;
				text-decoration: underline;
				margin-right: 24px;
				&:last-child{
					margin-right: 0;
				}
				&:hover{
					text-decoration: none;
				}
			}
		}
		.social-icons{
			padding-top: 13px;
			padding-bottom: 30px;
			a{
				margin-right: 10px;
				display: inline-block;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				i{
					background-image:  url($icons);
					display: inline-block;
					width: 32px;
					height: 32px;
					border-radius: 50%;
				}
				&:hover{
					background-color: #999999;
				}
				&.vk i{
					background-position: -26px 0;
				}
				&.fb i{
					background-position: -59px 0;
				}
				&.ok i{
					background-position: -92px 0;
				}
			}
		}
		p{
			padding-bottom: 24px;
		}
		.w35{
			text-align: right;
			padding-top: 36px;
			font-size: 13px;
			color:  #333333;
		}
		.legion-logo{
			padding-top: 20px;
			color:  #333333;
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			height: 40px;
			line-height: 40px;
			text-decoration: none;
			&:after{
				display: inline-block;
				vertical-align: middle;
				content: url(../../images/logo-legion.png);
				height: 43px;
			}
		}
		.copyright{
			margin-top: 24px;
			span{
				margin-right: 60px;
			}
		}
	}
	@media (max-width: 1000px){
		html body header .head-nav{
			padding-left: 10px !important;
		}
	}
	@media (max-width: 1299px){
		body {
				.mySwiper-pagination{
					text-align: left;
					width: 120%;
				}
				.wrap{
				padding-left: 20px;
				padding-right: 20px;
	 		}
			}
	}
	@media (max-width: 1140px){
		
			body {
				section .slider {
					.mySwiper-pagination-item-arr {
					margin-left: 3px;
					top: 3px;
					margin-right: 0px;
				}
				 .swiper-slide-content-desc{
		 			font-size: 13px;
		 			line-height: 15px;
	 			}
	 			 .mySwiper-pagination-item{
	 				font-size: 12px;
	 				font-weight: bold;
		 			line-height: 15px;
	 			}
				}
				.mySwiper-pagination{
					text-align: left;
					width: 120%;
				}
			 	.doc-item{ 
			 		.doc-photo {
					max-width: 165px;
				}
				 .doc-info {
					padding-left: 190px;
				}
			}
			}
	}
	@media (max-width: 1100px){
		body {
	 		section{
	 			.review-item{
					p{font-size: 14px; line-height: 18px;}
				}
				 .contacts-block .cell {
					font-size: 15px;
					&:first-child {
						padding-left: 20px;
					}
				}
				.w35 {
					.head-doc{
						.prof, .name{
							font-size: 15px;
						}
					}
					.head-doc .i {
						padding-top: 8px;
					}
				}
				
			}
		}
	}
	@media (max-width: 1230px){
		.stood-intan .table .row .cell {
			display: block!important;
		}
		body{
			nav{
				height: 48px;
				overflow: hidden;
				.wrap{
					text-align: justify;
					a{
						margin-right: 0;
					}
					&:after{
						content: "";
						display: inline-block;
						width: 100%;
						height: 0;
						line-height: 0;
						overflow: hidden;
					}
				}
			}
		}
	}
	@media (max-width: 1200px){
		body{
			header{
			 	.addres, .head-nav{
					padding-left: 190px!important;
				}
				.addres ul li{
					width: 14em!important;
				}
				div.logo{
					width: 330px;
					display: inline-block;
					vertical-align: top;
					padding-top: 32px;
					padding-bottom: 24px;
					position: absolute;
					left: 16px;
				}
			}
		}
	}
	.ymaps-b-balloon__content .ymaps-b-balloon__content-body ymaps{
		font-size: 14px;
		text-align: center;
		padding-right: 20px;
	}
	select{
		padding-left: 10px;
	}
	.select2-search{
		display: none!important;
	}
	.select2-results, .select2-dropdown{
		background:  white!important;
	}
	.select2-container--default .select2-results__option{
		background:  white;
		font-size: 14px;
		color:  #333333;
	}
	.select2-results__option--highlighted{
		color: white;
	}
	.select2-selection{
		border-radius: 0!important;
	}
	.select2-selection__rendered{

	}
	.select2-container .select2-container--default .select2-results__option{
		background:white;
	}
	.select2-container .select2-selection--single,.select2-container .select2-selection--single  .select2-selection__rendered{
		line-height: 36px!important;
		height: 37px!important;

	}
	.select2 {
		.select2-selection__rendered{
			line-height: 36px;
		}
		.select2-selection{
			height: 37px;
		}
		height: 37px;
		margin-right: 40px;
		font-size: 14px;
		color: #333333;
	}
	.select-label{
		margin-bottom: 28px;

		.select2{
			vertical-align: middle!important;
		}
		display: inline-block;
		.txt{
			display: inline-block;
			vertical-align: middle;
			padding-right: 10px;
		}
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow{
		height: inherit!important;
	}
	*{
		outline: none;
	}
	input:focus{
		border: 1px solid #3cb4e7!important;
	}
	.mySwiper-pagination-item.current{
		font-weight: bold;
		text-decoration: underline;
	}
	// .slide-toggles 
	article .select2-container--default .select2-selection--single {
		background-color: #fff!important;
		border: 1px solid #e1e1e1!important;
		border-radius: 0px!important;
	}
article .select2-selection {
width: 100%!important;
}


.pagination{
	text-align: center;
	span{
		cursor: default!important;
	}
	a, span{
		margin-right: 6px;
		font-size: 16px;
		color: #383737;
		display: inline-block;
		width: 36px;
		cursor: pointer;
		height: 36px;
		vertical-align: middle;
		text-align: center;
		text-decoration: none;
		line-height: 36px;
		border: 1px solid transparent;
		border-radius: 3px;
		&.active{
			background: #3cb4e7;
			border-color: #3cb4e7;
			cursor: default;
			color: white;
		}
		&:not(span){
			&:not(.active):hover{
				border-color: #939393;
			}
		}
		&.word{
			width: auto;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	
}
.fancybox-outer{
	.thx{
		top: -40px;
		bottom: 72px;
		height: auto!important;
		.table{
			height: 100%;
			width: 100%;
			text-align: center;
			margin: auto;
			.cell{
				line-height: 25px;
			} 
		}
	}
	
}
.rm-file {
	display: none;
	z-index: 11;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -10px;
	text-decoration: none;
	color: black;
	font-size: 18px;
	font-weight: normal;
	&:hover{
		opacity: .6;
	}
}
.w35{
	.thx{
		// padding-right: 115px;
	}
}
.thx{
	.table{
		height: 100%;
		width: 100%;
		text-align: center;
		margin: auto; 
	}
	position: absolute ;
	width: 100%;
	height: 100%;
	z-index: 888;
	left: 0;
	top: 0 ;
	text-align: center;
	background: url(../../images/bg-main.png) repeat;
	*{
		height: 100%;
		vertical-align: top;
		padding-top: 50px;
	}
}
.enroll-2-doctor{
	input:not(.seen){
		&:invalid{
			box-shadow: none;
			border-color: #e1e1e1!important
		}
	}
}

.select2-container--open{
	  z-index: 22222;
}