nav.breadcrumb-navigation {margin: 22px 0 13px;}

nav.breadcrumb-navigation ul li
{
	display:inline; margin:0 !important;
}

nav.breadcrumb-navigation ul li a
{
font: normal normal 12px "OpenSansLight", Arial, sans-serif;	
}

nav.breadcrumb-navigation ul li span
{
font: normal normal 17px "OpenSansLight", Arial, sans-serif; color: #666;	
}