div.news-item {padding: 20px 0;}

div.news-list img.clients_item_pic {
    float: left;
}

div.clients_body p.clients_item_name {
    margin: 29px 0 10px 225px;
    font: normal normal 19px Arial, sans-serif;
    color: #999;
}
p.clients_item_name a, p.clients_item_name a:visited, p.clients_item_name a:hover {
    color: #999;
    border:0;
}

div.client_item_post {clear:both;}