/*.news-date-time_r {
	color:#00843E;
        font-size:20px;
        margin:0 20px 0 0;
}


.all_news_zagol{color:#ffffff; font-size:22px; padding: 25px 0 0 25px;}

.news-list_r{margin:0 25px 20px 25px;}

.zagol_r{ text-align:left;}
.zagol_r a{color:#ffffff !important; font-size:16px !important;}

.k_spisky_r a{color:#00843E !important; font-size:13px !important; text-align:right !important;}
.k_spisky_r{text-align:right !important; margin: 10px 40px; padding: 0 0 20px;}*/

.latest_actions_item{width: 240px !important;
margin: 25px 0 0 0 !important;
float: none !important;
clear:both !important;}