@charset "utf-8";

.hdn, .ios .ioshide {display: none !important;}
.left {float:left !important;}
.right {float:right !important;}
.clear {clear:both;}
.flexible {max-width:100%;height:auto;width:auto;}
.sp {margin-bottom:20px;}
.sp10 {margin-bottom: 10px;}
input[type='text'] {background-color:#fff;}
.mrgn0 {margin:0 !important;}
.brdr0 {border:0 !important;}
sup, sub {font-size:80%;}
.hidetext, .mob_slid_prev, .mob_slid_next {text-indent:100%;white-space:nowrap;overflow:hidden;}
.udl {text-decoration:underline;}
.udl:hover {text-decoration:none;}
a {text-decoration:none;}
.cf:before, .cf:after {content: " ";display:table;}
.cf:after {clear:both;}

html, body {height:100%;}
body {color:#555;background:#f2f2f2;font:normal 16px/1.4 'Nelvetica Neue', Nelvetica, Arial, sans-serif;min-width:320px;}
input[type='file'], input[type='text'], input[type='reset'], input[type='password'], input[type='submit'], textarea {font-family:'Nelvetica Neue', Nelvetica, Arial, sans-serif;font-size:16px;}
.cage {max-width:1280px;margin:0 auto;background:#fff;}
/* 320 */
.mphl {width:114px;height:37px;float:left;margin:14px 0 14px 16px;background:url(img/intan_mobs.png) no-repeat 0 0;}
.mphl a {display:block;width:100%;height:100%;}
.mph_phone {float:right;white-space:nowrap;color:#69b300;font-size:14px;line-height:1;margin:14px 16px 14px 0;}
.mph_phone .last {color:#009a41;font-size:18px;margin:4px 0 0;}
.mph_phone .last a {color:#009a41;text-decoration:underline;}
.topnav, .cont_select {position:relative;z-index:99;height:60px;background:#69b300;color:#fff;clear:both;font-size:16px;}
.topnav_active, .cont_sel_active {cursor:pointer;padding:20px 16px;line-height:20px;}
.tm_lines {float:left;margin:4px 0 0 7px;width:14px;height:10px;border:2px solid #fff;border-left:none;border-right:none;}
.tm_lines i {float: left;height:2px;width:100%;background:#fff;margin:4px 0 0;}
.tm_text {margin:0 0 0 30px;}
.topnav_drop, .cont_sel_drop {display:none;position:absolute;z-index:99;width:100%;top:60px;left:0;}
.topnav_drop li, .cont_sel_drop li {display:block;}
.topnav_drop a, .cont_sel_drop a, .zapis_resel span {display:block;color:#fff;font-size:14px;padding:15px 16px 15px 75px;background:#047e32;border-bottom: 1px solid #4ba30f;}
.topnav_drop a:active, .topnav_drop a:hover {background:#008a3b;}
.zapis_resel {cursor:pointer;}
#none {display: none;}

.swiper-container, .swiper-slide {width:320px;height:100px;}
.swiper-container {margin:0 auto;}
.swiper-slide {float:left;}
.swiper-container, .swiper-wrapper {position:relative;z-index:1;overflow:hidden;}
.mob_slid_prev, .mob_slid_next {position:absolute;display:block;z-index:5;width:17px;height:51px;top:21px;background:url(img/intan_mobs.png) no-repeat;}
.mob_slid_prev {left:0;background-position:-117px 0;}
.mob_slid_next {right:0;background-position:-134px 0;}

.mai_six {border-top:5px solid #007833;border-bottom:5px solid #007833;background:#007833;}
.sixit {float:left;display:block;width:160px;height:160px;text-align:center;color:#fff;font-size:16px;}
.msico {display:block;background:url(img/intan_mobs.png) no-repeat;}
.iczapis {width:40px;height:40px;background-position:-307px 0;margin:34px auto 20px;}
.iccalc {width:60px;height:61px;background-position:-349px 0;margin:23px auto 10px;}
.icprice {width:63px;height:68px;background-position:-410px 0;margin:27px auto 20px;}
.icspec {width:57px;height:57px;background-position:-476px 0;margin:38px auto 20px;}
.icdoct {width:55px;height:72px;background-position:-535px -1px;margin:29px auto 15px;}
.iccont {width:48px;height:65px;background-position:-592px 0;margin:29px auto 22px;}
.iccred {width:55px;height:62px;background-position:-592px 0;margin:26px auto 7px;}
.mahc {height:37px;line-height:37px;font-size:15px;background:#69b300;position:relative;z-index:3;text-align:center;color:#fff;}
.mahc_cor {display:block;position:absolute;z-index:1;top:37px;left:0;width:28px;height:25px;background:url(img/intan_mobs.png) no-repeat -185px -17px;}
.mai_conlist li {display: block;border-top:1px solid #d9d9d9;}
.mai_conlist li a, .zap_chsel {display:block;border-top:1px solid #fafafa;padding:13px 13px 10px;background:#fff;color:#5b7a59;font-size:15px;cursor:pointer;}
.mai_conlist li:first-child, .mai_conlist li:first-child a, .mai_conlist li:first-child .zap_chsel {border-top:0;}
.icplace {float:left;width:31px;height:40px;background:url(img/intan_mobs.png) no-repeat -151px 0;}
.mai_conlit {line-height:40px;display:block;margin:0 0 0 56px;}
.mdoc_filter {padding:8px 20px 15px;}
.mdoc_fil_lab {margin:0 2px 3px;color:#555;font-size:17px;}
.st_sel {width:100%;height:40px;vertical-align:middle;}
.doc_header {font-size:15px;color:#fff;padding:10px 0;background:#4d9b00;text-align:center;}
.doc_item {margin:16px 0 0;padding:0 10px 16px;border-bottom:1px solid #4d9b00;text-align:center;font-size:15px;}
.doc_img {border:2px solid #4d9b00;border-radius:50%;-webkit-border-radius:50%;width:110px;height:110px;display:block;margin:0 auto 13px;}
.doc_name {color:#69b300;margin:0 0 5px;}
.doc_post {color:#6c6c6c;}
.cont_header {padding:8px 17px;}
.icplacemark {float:left;width:29px;height:39px;background-position:-216px 0;}
.conth_in {margin-left:45px;}
.conttitle {font-size:16px;font-weight:bold;color:#69b300;}
.contaddr {color:#7f7f7f;font-size:17px;}
.cont_select {z-index:90;background:#517f64;}
.white_ar {width:11px;height:7px;background-position:-185px -45px;margin:7px 0 0 4px;float:left;}
.white_ar.up {background-position:-198px -45px;}
.cont_sel_at {display: block;margin-left:42px;}
.cont_sel_drop a {background:#69b300;}
.cont_li {border-bottom:1px solid #d9d9d9;border-top:1px solid #fafafa;padding:12px 18px;}
.cont_main .cont_li:first-child {border-top:0;}
.cont_main .cont_li:last-child {border-bottom:0;}
.icsubway {width:23px;height:23px;float:left;background-position:-249px 0;}
.cont_lit {margin-left:46px;color:#555;font-size:15px;}
.cont_lit.clsub {line-height:23px;}
.cont_lit.clsub.twostr {line-height:1;}
.grn, .cont_lit.clphone a {color:#69b300;}
.iccalen {width:23px;height:25px;float:left;background-position:-279px 0;margin:7px 0 0;}
.cont_lit.cltime {vertical-align:bottom;line-height:1;}
.cont_lit p {margin:0 0 5px;}
.icphone {width:22px;height:23px;float:left;background-position:-279px -26px;margin:7px 0 0;}
.cont_lit.clphone {font-size:18px;line-height:1;}
.icdoctor {width:23px;height:30px;float:left;background-position:-249px -25px;margin:4px 0 0;}
.cont_lit.cldoc {line-height:1;}
.cont_on_map, .cont_zapis {display:block;text-align:center;line-height:60px;height:60px;color:#fff;font-size:17px;}
.cont_on_map {background:#268c1a;background:-webkit-linear-gradient(top, #268c1a, #007a2f);background:-moz-linear-gradient(top, #268c1a, #007a2f);background:linear-gradient(top, #268c1a, #007a2f);}
.cont_zapis {background:#64b507;background:-webkit-linear-gradient(top, #7ecb08, #5cae07);background:-moz-linear-gradient(top, #7ecb08, #5cae07);background:linear-gradient(top, #7ecb08, #5cae07);}
.zapis_prim_chose_h {background:#517f64;color:#fff;font-size:16px;padding:5px 16px;line-height:20px;text-align:center;}
.zapf_winp {padding:10px 18px 14px;}
.zapf_winp.even {background:#f7f7f7;}
.zapf_winp input[type='text'] {height:30px;width:98%;padding:0 1%;}
.zapf_winp .error {border-color:#f00;}
.zapf_winp textarea {width:98%;padding:5px 1%;height:40px;}
.zapf_sub {display:block;width:100%;height:60px;border:0;cursor:pointer;-webkit-appearance:none;border-radius:0;text-align:center;font-size:17px;line-height:1;color:#fff;background:#7dcb08;background:-webkit-linear-gradient(top, #7dcb08, #5cae07);background:-moz-linear-gradient(top, #7dcb08, #5cae07);background:linear-gradient(top, #7dcb08, #5cae07);}
.fademask {background:rgba(0, 0, 0, .5);width:100%;height:100%;position:fixed;z-index:999;top:0;left:0;}
.z_tx {position:fixed;z-index:9999;top:50%;left:50%;width:320px;margin:-50px 0 0 -160px;background:#5daf07;}
.z_tx_in {padding:16px 30px;}
.tx_tooth {width:33px;height:54px;float:left;background:url(img/tx_tooth.png) no-repeat 0 0;}
.tx_text {margin:0 0 0 70px;font-size:15px;color:#fff;}
.tx_text .first {font-size:18px;margin:0 0 10px;}
.price_sect {display:none;border-top:1px solid #d9d9d9;}
.pr_subh {color:#66b707;font-size:16px;}
.pr_li {font-size:15px;color:#555;}
.pr_subh, .pr_li {border-bottom:1px solid #d9d9d9;border-top:1px solid #fafafa}
div .pr_subh:last-child, div .pr_li:last-child {border-bottom:0;}
.pr_subh {padding:8px 20px;}
.pr_li {padding:15px 20px;}
.pr_bg {padding:8px 20px;background:#27931d;color:#fff;}
.pr_li.last {border-bottom:3px solid #27931d !important;}
.prpr {color:#66b707;float:right;}
.pr_name {margin-right:60px;}
.level2, .level3, .level4, .float_sel_opt {display:none;}
/*.calc_impl_list {padding:15px 0;}*/
.calc_impl_list p {margin:0 0 11px;}
.calc_impl_list p input[type='radio'], .calc_impl_list p input[type='checkbox'] {margin:2px 10px 0 0;}
.calc_tooth_cnt, .calc_summary {padding:10px 20px;border-top:1px solid #fafafa;box-shadow:0 -1px #d9d9d9;color:#555;}
.calc_tooth_cnt {line-height:40px;}
.tooth_cnt {display:inline;margin:0 0 0 20px;height:40px;vertical-align:middle;width:60px;}
.calc_summary span {color:#69b300}
.calc_preres {padding:10px 20px;background:#f2f2f2;color:#8a8a8a;}
#calc_summ {margin:0 5px 0 10px;}
.spec_wrap {background:#4e8e2b;}
.mpagi {float:left;width:20%;height:60px;text-align: center;line-height:60px;color:#fff;background:#447b25;}
div.mpager li.active {float:left;width:20%;height:60px;text-align: center;line-height:60px;color:#fff;background:#74a618}
.mpager {white-space:nowrap;}
.spec_item {}
.sp_img {width:100%;height:auto;display:block;}
.spt {background:#4e8e2b;display:table;width:100%;}
.sptr {display:table-row;}
.spc1, .spc2 {display:table-cell;vertical-align:middle;}
.spc1 {padding:10px 0 10px 20px;width:14px;}
.spc2 {padding:10px;color:#fff;font-size:15px;}
.spc2 a {color:#fff;}
.sp_tooth {width:14px;height:23px;background:url(img/sp_tooth.png) no-repeat center;}
.sp_det_text {padding:20px;color:#555;font-size:15px;}
.credh {height:22px;line-height:22px;padding:10px 20px 10px 48px;color:#fff;font-size:16px;background:#27931d;}
.credul {margin:0 0 15px;}
.credul li {margin:15px 10px 15px 48px;list-style:none;position:relative;z-index:1;}
.credul li:before {content:'';width:12px;height:20px;background:url(img/credli.png) no-repeat center;position:absolute;left:-27px;top:-1px;}
.cred_bot {padding:15px 30px;color:#555;font-size:15px;}
.cred_i {margin:10px 15px 0 80px;font-style:italic;font-size:14px;color:#555;min-height:43px;position:relative;z-index:1;}
.cred_i:before {content:'';width:18px;height:43px;position:absolute;z-index:1;top:5px;left:-33px;display:block;background:url(img/credi.png) no-repeat 0 0;}
.cred_bot span {color:#217b18;display:block;}

/* 360 */
@media only screen and (min-width: 360px){
    .swiper-container, .swiper-slide {width:360px;}
    .sixit {width:180px;padding:10px 0;}
}

/* 384 - hello, Nexus 4 */
@media only screen and (min-width: 384px){
    .swiper-container, .swiper-slide {width:384px;}
    .sixit {width:192px;padding:16px 0;}
}
/* 480 */
@media only screen and (min-width: 480px){
    .swiper-container, .swiper-slide {width:480px;}
    .sixit {width:160px;padding:0;}
    .doc_item {width:44%;float:left;margin-right:4%;padding:0 2% 10px;border-bottom:0;}
    .doc_item.odd {clear:left;}
    .doc_item.even {margin-right:0;}
}
/* 533 */
@media only screen and (min-width: 533px){
    .swiper-container, .swiper-slide {width:533px;}
    .sixit {width:177px;padding:9px 0;}
}
/* 568 */
@media only screen and (min-width: 568px){
    .swiper-container, .swiper-slide {width:568px;}
    .sixit {width:189px;padding:15px 0;}
}
/* 598 */
@media only screen and (min-width: 598px){
    .swiper-container, .swiper-slide {width:598px;}
    .sixit {width:199px;padding:20px 0;}
}

@media only screen and (min-width: 600px){
    .swiper-container, .swiper-slide {width:600px;}
    .sixit {width:200px;}
}

@media only screen and (min-width: 640px){
    .swiper-container, .swiper-slide {width:640px;}
    .sixit {width:213px;padding:26px 0;}
}
@media only screen and (min-width: 768px){
    .swiper-container, .swiper-slide {width:768px;}
    .sixit {width:256px;padding:48px 0;}
    /*.spec_item {float:left;width:50%;}
    .spec_item.odd {clear: both;}*/
}
@media only screen and (min-width: 800px){
    .swiper-container, .swiper-slide {width:800px;}
    .sixit {width:266px;padding:53px 0;}
}
@media only screen and (min-width: 960px){
    .swiper-container, .swiper-slide {width:960px;}
    .sixit {width:160px;padding:0;}
    .doc_item {width: 30%;padding:0 1% 10px;margin-right:2%;}
    .doc_item.odd {clear:none;}
    .doc_item.even {margin-right:2%;}
    .doc_item.first {clear:left;}
    .doc_item.last {margin-right:0;}
}
@media only screen and (min-width: 1024px){
    .swiper-container, .swiper-slide {width:1024px;}
    .sixit {width:170px;padding:5px 0;}
}
@media only screen and (min-width: 1280px){
    .swiper-container, .swiper-slide {width:1280px;}
    .sixit {width:213px;padding:26px 0;}
}

/*HD displays and retina*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)  {
    .mphl, .msico, .icplace, .mahc_cor {background-image:url(img/intan_mobs15.png);background-size:650px 75px;}
    .tx_tooth {background-image:url(img/tx_tooth15.png);background-size:33px 54px;}
    .sp_tooth {background-size:14px 23px;background-image:url(img/sp_tooth15.png);}
    .credul li:before {background-size:12px 20px;background-image:url(img/credli15.png)}
    .cred_i:before {background-size:18px 43px;background-image:url(img/credi15.png);}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2)  {
    .mphl, .msico, .icplace, .mahc_cor {background-image:url(img/intan_mobs2.png);background-size:650px 75px;}
    .tx_tooth {background-image:url(img/tx_tooth2.png);background-size:33px 54px;}
    .sp_tooth {background-size:14px 23px;background-image:url(img/sp_tooth2.png);}
    .credul li:before {background-size:12px 20px;background-image:url(img/credli2.png)}
    .cred_i:before {background-size:18px 43px;background-image:url(img/credi2.png);}
}
@media only screen and (-webkit-min-device-pixel-ratio: 3)  {
    .mphl, .msico, .icplace, .mahc_cor {background-image:url(img/intan_mobs3.png);background-size:650px 75px;}
    .tx_tooth {background-image:url(img/tx_tooth3.png);background-size:33px 54px;}
    .sp_tooth {background-size:14px 23px;background-image:url(img/sp_tooth3.png);}
    .credul li:before {background-size:12px 20px;background-image:url(img/credli3.png)}
    .cred_i:before {background-size:18px 43px;background-image:url(img/credi3.png);}
}