section.kinds_audit {
    float:left;
    width: 280px;
}
nav.kinds_audit_list li {
    font: normal normal 21px/1.6 "OpenSansRegular", Arial, sans-serif;
}
nav.kinds_audit_list li a.active {color: #999; border:0;}

nav.kinds_audit_list {margin: 17px 0 0;}