


/* Start:/local/templates/intan_redesign/components/bitrix/news.list/cust_vac/style.css*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/templates/intan_redesign/components/bitrix/news.list/cust_vac/style.css */
