div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.vrach-img{

}
.vrach-div{
	height: 470px;
	float: left;
	margin:20px 20px 0 0;
	text-align: center;
	width: 260px;
}
.vrach-name a{
	font-size: 20px;
	line-height: 22px;
}
.vrach-div .post {
	font-size: 14px;
	margin:0px;
	padding: 0;
}


