/* line 1, ../sass/calc.scss */
#new_calc {
  position: relative;
  background: white;
  padding: 32px;
  margin-top: 80px;
  white-space: nowrap;
}
/* line 3, ../sass/calc.scss */
#new_calc .text-item {
  padding-top: 30px;
  white-space: normal;
  margin-bottom: 0;
}
/* line 5, ../sass/calc.scss */
#new_calc .text-item .title {
  padding-bottom: 2px;
}
/* line 8, ../sass/calc.scss */
#new_calc .text-item .slide-toggles .title.active {
  background: transparent;
}
/* line 8, ../sass/calc.scss */
#new_calc .text-item .slide-toggles .title.active:after {
  content: "";
  border: 5px solid transparent;
  border-top: 5px solid #94c11f;
}
/* line 8, ../sass/calc.scss */
#new_calc .text-item .slide-toggles .title.active a {
  color: #94c11f;
  border-bottom-color: #94c11f;
}
/* line 9, ../sass/calc.scss */
#new_calc .text-item .slide-toggles .title {
  background: #94c11f;
  color: white;
}
/* line 9, ../sass/calc.scss */
#new_calc .text-item .slide-toggles .title:after {
  content: "";
  border: 5px solid transparent;
  border-bottom: 5px solid #fff;
}
/* line 9, ../sass/calc.scss */
#new_calc .text-item .slide-toggles .title a {
  color: white;
  border-bottom-color: white;
}
/* line 12, ../sass/calc.scss */
#new_calc .text-item article {
  padding: 20px 0;
  margin: 0;
  border-top: 0;
  border-bottom: 1px solid #ebebeb;
}
/* line 17, ../sass/calc.scss */
#new_calc .text-item article .enroll-2-doctor {
  padding: 0 !important;
  width: 250px;
}
/* line 20, ../sass/calc.scss */
#new_calc .text-item article .enroll-2-doctor form {
  padding: 0;
}
/* line 23, ../sass/calc.scss */
#new_calc .text-item article .enroll-2-doctor input {
  border: 1px solid #e1e1e1;
  width: 100%;
}
/* line 33, ../sass/calc.scss */
#new_calc #calc_tot_price {
  border-bottom: 1px solid #ebebeb;
}
/* line 36, ../sass/calc.scss */
#new_calc h5 {
  color: black;
  line-height: 70px;
  margin-bottom: 0;
}
/* line 41, ../sass/calc.scss */
#new_calc h5 #calc_tot_price_summ {
  float: right;
  color: #94c11f;
  text-align: right;
  font-size: 30px;
}
/* line 46, ../sass/calc.scss */
#new_calc h5 #calc_tot_price_summ:after {
  margin-left: 10px;
  font-size: 30px;
  color: #94c11f;
  content: "P";
}
/* line 54, ../sass/calc.scss */
#new_calc .level2wrap .sel_wrap {
  width: 100%;
}
/* line 58, ../sass/calc.scss */
#new_calc .calc_tooth_summ {
  margin-top: 34px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 34px;
}
/* line 63, ../sass/calc.scss */
#new_calc .calc_tooth_summ select {
  margin-left: 0 !important;
  width: 115px !important;
}
/* line 68, ../sass/calc.scss */
#new_calc .sel_wrap, #new_calc .level2wrap, #new_calc .calc_tooth_summ select {
  display: inline-block;
  margin-right: -1px;
  width: 30%;
  margin-left: 3%;
}
/* line 73, ../sass/calc.scss */
#new_calc .sel_wrap:first-child, #new_calc .level2wrap:first-child, #new_calc .calc_tooth_summ select:first-child {
  margin-left: 0;
}
/* line 77, ../sass/calc.scss */
#new_calc select {
  border: 1px solid #e1e1e1;
  height: 33px;
  width: 100%;
  display: block;
  margin-right: 10px;
  padding-left: 6px;
  padding-right: 10px;
}
/* line 87, ../sass/calc.scss */
#new_calc .level3wrap.selectr {
  display: inline-block;
  width: 33%;
  margin-left: 3%;
}
/* line 91, ../sass/calc.scss */
#new_calc .level3wrap.selectr .sel_wrap, #new_calc .level3wrap.selectr select {
  width: 100%;
}

/* line 97, ../sass/calc.scss */
.level4wrap, .level3wrap, .level4 {
  white-space: normal;
}
/* line 98, ../sass/calc.scss */
.level4wrap p, .level3wrap p, .level4 p {
  padding: 10px;
}
/* line 99, ../sass/calc.scss */
.level4wrap p:nth-child(odd), .level3wrap p:nth-child(odd), .level4 p:nth-child(odd) {
  background: #f5f5f5;
}
/* line 106, ../sass/calc.scss */
.level4wrap .rouble, .level3wrap .rouble, .level4 .rouble {
  display: none;
}
/* line 109, ../sass/calc.scss */
.level4wrap label, .level3wrap label, .level4 label {
  display: block;
  width: 90%;
  width: calc(100% - 130px);
  width: -webkit-calc(100% - 130px);
  width: -moz-calc(100% - 130px);
}
/* line 116, ../sass/calc.scss */
.level4wrap label input[type="checkbox"] ~ ins, .level3wrap label input[type="checkbox"] ~ ins, .level4 label input[type="checkbox"] ~ ins {
  border-radius: 0% !important;
}
/* line 120, ../sass/calc.scss */
.level4wrap label input, .level3wrap label input, .level4 label input {
  opacity: 0;
  position: absolute;
  left: -9999px;
}
/* line 122, ../sass/calc.scss */
.level4wrap label input[disabled] ~ *, .level3wrap label input[disabled] ~ *, .level4 label input[disabled] ~ * {
  opacity: .7;
}
/* line 129, ../sass/calc.scss */
.level4wrap label input ~ ins, .level3wrap label input ~ ins, .level4 label input ~ ins {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #dbdbdb;
  border: 3px solid #dbdbdb;
  margin-right: 10px;
  vertical-align: top;
  border-radius: 50%;
  position: relative;
  top: 5px;
}
/* line 141, ../sass/calc.scss */
.level4wrap label input ~ span, .level3wrap label input ~ span, .level4 label input ~ span {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
}
/* line 146, ../sass/calc.scss */
.level4wrap label input:checked ~ ins, .level3wrap label input:checked ~ ins, .level4 label input:checked ~ ins {
  content: "";
  background: #3cb4e7;
}
/* line 150, ../sass/calc.scss */
.level4wrap label input:checked ~ span, .level3wrap label input:checked ~ span, .level4 label input:checked ~ span {
  color: #3cb4e7;
}
/* line 156, ../sass/calc.scss */
.level4wrap b:not([role]), .level3wrap b:not([role]), .level4 b:not([role]) {
  float: right;
  display: inline-block;
  width: 120px;
  text-align: right;
  line-height: 24px;
}
/* line 162, ../sass/calc.scss */
.level4wrap b:not([role]):after, .level3wrap b:not([role]):after, .level4 b:not([role]):after {
  margin-left: 4px;
  content: "P";
}

/* line 168, ../sass/calc.scss */
.calc_koron_ch .float_sel_wrap {
  height: 50px;
  padding-top: 10px;
}

/* line 172, ../sass/calc.scss */
#implantatsiya_pod_kly43 #implantatsiya_pod_kly43 {
  display: inline-block;
  width: 140px;
  margin-right: -6px;
}

/* line 177, ../sass/calc.scss */
.calc_abat {
  margin-top: 14px;
  margin-bottom: 15px;
}

/* line 181, ../sass/calc.scss */
.float_sel_opt {
  padding-left: 20px;
  display: inline-block;
  width: calc(100% - 140px);
  width: -webkit-calc(100% - 140px);
  width: -moz-calc(100% - 140px);
}

/* line 188, ../sass/calc.scss */
label {
  width: 100%;
  font-size: 0;
  white-space: nowrap;
}
/* line 192, ../sass/calc.scss */
label span {
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  white-space: normal;
  width: 91%;
}

/* line 201, ../sass/calc.scss */
.reset {
  text-decoration: none !important;
  bottom: -33px;
  left: 0px;
  position: absolute;
}
/* line 206, ../sass/calc.scss */
.reset:before {
  content: "";
  background: url(../../images/calc-icons.png) -7px -7px no-repeat;
  display: inline-block;
  height: 21px;
  width: 19px;
  margin-right: 3px;
  vertical-align: middle;
}
/* line 215, ../sass/calc.scss */
.reset span {
  color: #333333;
  border-bottom: 1px dashed #333333;
}
/* line 220, ../sass/calc.scss */
.reset:hover span {
  border-bottom: 1px dashed transparent;
}

/* line 226, ../sass/calc.scss */
.pdf {
  text-decoration: none !important;
  margin-right: 20px;
  padding-top: 10px;
}
/* line 228, ../sass/calc.scss */
.pdf:before {
  content: "";
  background: url(../../images/calc-icons.png) -7px -32px no-repeat;
  display: inline-block;
  height: 21px;
  width: 19px;
  margin-right: 3px;
  vertical-align: middle;
}
/* line 237, ../sass/calc.scss */
.pdf span {
  color: #333333;
  text-decoration: underline;
}
/* line 242, ../sass/calc.scss */
.pdf:hover span {
  text-decoration: none;
}

/* line 249, ../sass/calc.scss */
.prnt {
  text-decoration: none !important;
  margin-right: 20px;
  padding-top: 10px;
}
/* line 253, ../sass/calc.scss */
.prnt:before {
  content: "";
  background: url(../../images/calc-icons.png) -7px -58px no-repeat;
  display: inline-block;
  height: 21px;
  width: 19px;
  margin-right: 3px;
  vertical-align: middle;
}
/* line 262, ../sass/calc.scss */
.prnt span {
  color: #333333;
  text-decoration: underline;
}
/* line 267, ../sass/calc.scss */
.prnt:hover span {
  text-decoration: none;
}
