@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,700italic,600italic,800,800italic&subset=latin,cyrillic-ext,cyrillic);
@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('/fonts/glyphicons-halflings-regular.eot');
    src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
    font-family: 'rublregular';
    src: url('../fonts/rouble-webfont.eot');
    src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rouble-webfont.woff') format('woff'), url('../fonts/rouble-webfont.ttf') format('truetype'), url('../fonts/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'pf_din_text_comp_proregular';
    src: url('/assets/images/fonts/pfdintextcomppro-regular_1-webfont.eot');
    src: url('/assets/images/fonts/pfdintextcomppro-regular_1-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/images/fonts/pfdintextcomppro-regular_1-webfont.woff2') format('woff2'),
        url('/assets/images/fonts/pfdintextcomppro-regular_1-webfont.woff') format('woff'),
        url('/assets/images/fonts/pfdintextcomppro-regular_1-webfont.ttf') format('truetype'),
        url('/assets/images/fonts/pfdintextcomppro-regular_1-webfont.svg#pf_din_text_comp_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

i.rub {
    font-family: 'rublregular'
}

.subway_map .sub_ozerki {
    top: 70px;
    left: 257px
}

.subway_map .sub_prosvet {
    top: 41px;
    left: 257px
}

.subway_map .sub_bolshoi {
    left: 30px;
    top: 275px;
}

.subway_map .sub_novsmol {
    left: 3px;
    top: 250px;
}

.select2 span {
    text-decoration: none !important;
    font-weight: normal !important
}

.contacts-block a:hover {
    opacity: .8
}

.contacts-block a {
    text-decoration: none
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q, blockquote {
    quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

body * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0px
}

h1 {
    text-align: center !important
}

body {
    background: white;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 400;
    overflow-x: hidden;
    color: #333333;
    font-size: 0;
    background: url(../../images/bg-main.png) repeat
}

.orange-link:focus {
    color: #94c11f
}

.active .orange-link:focus {
    color: white
}

div.file {
    width: 290px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer
}

div.file [type="file"] {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
    width: 100%;
    height: 100%
}

div.file ins {
    position: absolute;
    text-align: right;
    width: 150px;
    line-height: normal;
    right: 0;
    top: 29px;
    padding-right: 15px;
    max-height: 34px;
    overflow: hidden;
    z-index: 0;
    font-size: 12px
}

div.file span {
    width: 147px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: 70px;
    z-index: 2;
    background: url(../../images/bg-main.png) repeat
}

div.file span .orange-link {
    vertical-align: middle;
    cursor: pointer;
    color: #3cb4e7;
    border-color: #3cb4e7
}

.PFDin, [id*='call-me'] h2, [id*='call-me'] .h2, #appointment h2, #appointment .h2, section h1, section .fora table td, section .faq-counter, section .def-counter, section .faq-item .faq-item-item, section .faq-item .def-item-item, section .def-item .faq-item-item, section .def-item .def-item-item, section .stood-intan .table .row .cell a span, section .title-docs .address span.txt, section .title-docs .spec span.txt, section .facts_text, section .doc-item .doc-info h3, section .text-item .doc-info h3, section .operation-to-implant .arrow span, section h5, section .table-title {
    font-family: pf_din_text_comp_proregular
}

.ph {
    color: #333333 !important;
    text-decoration: none
}

.animated, section .faq-item .view i:hover ~ span, section .def-item .view i:hover ~ span {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInUp, section .faq-item .view i:hover ~ span, section .def-item .view i:hover ~ span {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

.anim {
    transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s
}

.ymaps-b-balloon__close {
    background: transparent url(../../images/ymaps-b-balloon__close.png) center no-repeat !important;
    margin-top: 10px;
    top: -3px !important;
    margin-right: 10px
}

ymaps .phones {
    padding-top: 10px
}

ymaps .phones a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    padding-bottom: 5px;
    display: block
}

ymaps .phones a, .ymaps-b-balloon__content-body a {
    color: #333333;
    font-size: 14px;
    padding-right: 20px;
    display: block
}

.fr {
    float: right
}

.fl {
    float: left
}

.ib {
    display: inline-block
}

.absolute {
    position: absolute
}

.wrap {
    min-width: 942px;
    max-width: 1280px;
    width: 100%;
    display: block;
    margin: auto;
    position: relative
}

.subway_map {
    z-index: 1;
    width: 660px;
    height: 688px;
    position: relative;
    margin: 9px auto 0;
    background: url(../../images/metromap.png) no-repeat 0 0
}

.subway_map div {
    display: block;
    position: absolute;
    height: 31px;
    width: 24px;
    background: url(../../images/mp_sprite.png) no-repeat -177px -35px;
    z-index: 2
}

.subway_map div a {
    display: block;
    height: 100%;
    width: 100%
}

.subway_map .sub_avtovo {
    bottom: 110px;
    left: 141px
}

.subway_map .sub_kupchino {
    bottom: 14px;
    left: 257px
}

.subway_map .sub_lomonosov {
    bottom: 105px;
    right: 176px
}

.subway_map .sub_mezhdunar {
    bottom: 103px;
    right: 277px
}

.subway_map .sub_bolshevik {
    bottom: 217px;
    right: 87px
}

.subway_map .sub_dibenko {
    bottom: 190px;
    right: 87px
}

.subway_map .sub_ligov {
    bottom: 287px;
    right: 224px
}

.subway_map .sub_ligov_obvod {
    bottom: 180px;
    right: 277px
}

.subway_map .sub_pertograd {
    top: 201px;
    left: 258px
}

.subway_map .sub_grazhdan {
    top: 67px;
    right: 270px
}

.subway_map .sub_udel {
    top: 95px;
    left: 258px
}

.subway_map .sub_komendant {
    top: 94px;
    left: 130px
}

.subway_map .sub_komendant2 {
    top: 94px;
    left: 154px
}

.subway_map .sub_starder {
    top: 120px;
    left: 143px
}

.subway_map .sub_voznesenskiy {
    top: 367px;
    left: 258px
}

.subway_map .sub_varshav {
    top: 590px;
    left: 258px;
}

body a {
    display: inline-block
}

body a:focus {
    outline: none;
    color: inherit;
    text-decoration: none
}

body .fancybox-close {
    position: absolute;
    top: 22px;
    right: 17px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040
}

body .table .table {
    background: transparent
}

.table {
    display: table !important
}

.table .thead {
    display: table-header-group
}

.table .tbody {
    display: table-row-group
}

.table .row {
    display: table-row !important
}

.table .row:after, .table .row:before {
    display: none !important
}

.table .row .cell {
    display: table-cell !important
}

.clearfix {
    clear: both;
    height: 0;
    float: none
}

.tab-toggler-item strong {
    font-weight: bold
}

.tab-toggler-item i {
    font-style: italic
}

.tab-toggler-item ul, .tab-toggler-item ol {
    margin-bottom: 7px
}

.tab-toggler-item li {
    padding-bottom: 0
}

.w65 {
    width: 65%;
    display: inline-block;
    vertical-align: top
}

.ymaps-b-balloon__content-body > ymaps, .ymaps-b-balloon__content-body > ymaps > ymaps {
    padding: 0 !important
}

.w65.tables h2, .w65.tables .h2, .w65 h2 {
    line-height: 90px;
    height: 90px;
    margin: 0;
    padding: 0
}

.w65 .head-3 {
    text-align: left;
    font-size: 18px;
    padding: 0;
    font-style: italic;
    color: #94c11f
}

.w35 {
    width: 35%;
    display: inline-block;
    vertical-align: top
}

.w35 nav a {
    display: block;
    color: #333333;
    margin-right: 45px;
    font-size: 14px;
    text-decoration: underline
}

.w35 .more {
    border-top: 1px solid #ebebeb;
    padding-top: 20px
}

.center {
    text-align: center
}

.modal-wrapper {
    display: none
}

hr {
    height: 0px;
    border: 1px solid #ebebeb;
    border-bottom: 0;
    margin-bottom: 14px;
    margin-top: 10px
}

.slide-toggles {
    margin-bottom: 10px;
    margin-bottom: 12px
}

.slide-toggles.blue .title a {
    color: #3cb4e7;
    border-bottom-color: #3cb4e7
}

.slide-toggles.blue .title:after {
    border-bottom-color: #3cb4e7
}

.slide-toggles.blue .title.active {
    background: #3cb4e7
}

.slide-toggles .title {
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 14px
}

.slide-toggles .title:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    border: 5px solid transparent;
    border-bottom: 5px solid #94c11f;
    margin-top: -3px;
    margin-left: 10px
}

.slide-toggles .title.active {
    background: #94c11f
}

.slide-toggles .title.active:after {
    vertical-align: middle;
    margin-top: 7px;
    border: 5px solid transparent;
    border-top: 5px solid white
}

.slide-toggles .title.active a {
    color: white;
    border-color: white
}

.slide-toggles .title.active ~ article {
    display: block
}

.slide-toggles .title a {
    vertical-align: middle
}

.slide-toggles article {
    display: none;
    padding-left: 10px;
    border-top: 1px solid #ebebeb;
    padding-top: 20px;
    margin-top: 10px
}

.slide-toggles article *:not(h2):not(span):not(b) {
    padding-left: 10px
}

.fancybox-type-inline .fancybox-skin {
    padding: 0 !important
}

.hidden {
    display: none
}

.text-item ul, .text-item ol {
    list-style-type: none
}

.text-item ul li, .text-item ol li {
    padding-bottom: 0
}

.list-center {
    counter-reset: item
}

.list-center .data-time {
    color: #666666;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 24px
}

.list-center .data-time b {
    font-weight: bold;
    color: #333333
}

.list-center .list-content {
    padding-top: 50px
}

.list-center .list-content .list-item {
    position: relative
}

.list-center .list-content [data-action]:after {
    content: attr(data-action);
    color: white;
    background: #95c11f;
    font-weight: bold;
    border-radius: 4px;
    font-style: italic;
    height: 17px;
    line-height: 16px;
    display: inline-block;
    font-size: 11px;
    margin-left: 15px;
    padding-left: 6px;
    padding-right: 6px;
    position: absolute;
    bottom: 25px;
    right: 0
}

.list-center .list-content [data-new]:after {
    content: attr(data-new);
    color: white;
    background: #3cb4e7;
    font-weight: bold;
    border-radius: 4px;
    font-style: italic;
    height: 17px;
    line-height: 16px;
    display: inline-block;
    font-size: 11px;
    margin-left: 15px;
    padding-left: 6px;
    padding-right: 6px;
    position: absolute;
    bottom: 3px;
    right: 0
}

.list-center .tabs {
    display: inline-block;
    margin-right: 85px;
    vertical-align: middle;
    margin-bottom: 24px
}

.list-center .tabs a {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    background: #94c11f;
    border-radius: 4px;
    border: 1px solid #94c11f;
    line-height: 25px;
    height: 27px;
    text-decoration: none;
    padding-left: 8px;
    color: #333333;
    padding-right: 8px
}

.list-center .tabs a.active {
    background: #f7f7f7;
    color: #333333;
    font-size: 16px;
    border-color: 1px solid #a1a1a1
}

.list-center .tabs a:hover {
    opacity: .8;
    color: #333333
}

.list-center .list-item {
    display: inline-block;
    white-space: nowrap;
    padding-bottom: 53px;
    border-bottom: 3px solid #ebebeb;
    margin-right: 0;
    vertical-align: top;
    margin-left: 3%;
    margin-bottom: 23px;
    width: 30%
}

.list-center .list-item:nth-child(3n-2) {
    margin-left: 0
}

.list-center .list-item:before {
    font-size: 26px;
    font-weight: bold;
    color: #94c11f;
    vertical-align: top;
    content: counter(item);
    counter-increment: item
}

.list-center .list-item .title {
    color: #333333;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    white-space: normal;
    text-decoration: underline
}

.list-center .list-item .title:hover {
    text-decoration: none
}

.list-center .list-item .metro {
    font-size: 16px;
    white-space: normal;
    color: #333333
}

.b-slider + .text-item {
    padding-top: 40px
}

.sub_sennaya, .sub_sadovaya, .sub_spasskaya {
    top: 367px;
    left: 258px
}

.list-center .list-item .metro:before {
    content: url(../../images/metro-item.png);
    display: inline-block;
    height: 14px;
    margin-right: 4px;
    position: relative;
    top: -1px;
    white-space: normal
}

.list-center .list-item .phones {
    white-space: normal;
    padding-top: 30px
}

.list-center .list-item .phones a:hover {
    text-decoration: none
}

html body .list-center .list-item .phones a {
    margin-right: 18px;
    text-decoration: underline
}

html body .list-center .list-item .phones a {
    text-decoration: none;
    font-size: 18px;
    color: #333333
}

[id*='call-me'], #appointment {
    width: 590px
}

[id*='call-me']#appointment, #appointment#appointment {
    width: auto;
    padding: 0 40px 40px 40px
}

[id*='call-me']#appointment p, #appointment#appointment p {
    margin-bottom: 20px;
    line-height: 23px;
    font-size: 18px
}

[id*='call-me']#appointment p a, #appointment#appointment p a {
    color: #94c11e
}

[id*='call-me'] img, #appointment img {
    display: block
}

[id*='call-me'] h2, [id*='call-me'] .h2, #appointment h2, #appointment .h2 {
    font-size: 24px;
    text-align: center;
    padding-top: 37px;
    width: 510px;
    margin: auto;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 40px
}

[id*='call-me'] .table .cell, #appointment .table .cell {
    font-size: 16px;
    color: #666666;
    padding-bottom: 16px
}

[id*='call-me'] .table .cell.button, #appointment .table .cell.button {
    padding-top: 10px
}

[id*='call-me'] .table .cell.button input, #appointment .table .cell.button input {
    border: 0;
    background: #3cb4e7;
    border-radius: 4px;
    cursor: pointer;
    height: 36px;
    margin-bottom: 10px;
    width: 180px;
    color: white;
    font-size: 18px
}

[id*='call-me'] .table .cell input, [id*='call-me'] .table .cell select, #appointment .table .cell input, #appointment .table .cell select {
    height: 33px;
    border: 1px solid #e1e1e1;
    width: 290px;
    padding-left: 10px;
    padding-right: 10px
}

[id*='call-me'] .table .cell input:focus, [id*='call-me'] .table .cell select:focus, #appointment .table .cell input:focus, #appointment .table .cell select:focus {
    outline: none;
    border: 1px solid #3db4e7
}

[id*='call-me'] .table .cell input.phone, [id*='call-me'] .table .cell select.phone, #appointment .table .cell input.phone, #appointment .table .cell select.phone {
    width: 180px
}

[id*='call-me'] .table .cell input.time, [id*='call-me'] .table .cell select.time, #appointment .table .cell input.time, #appointment .table .cell select.time {
    width: 110px
}

[id*='call-me'] .table .cell.label, #appointment .table .cell.label {
    width: 265px;
    padding-left: 40px
}

header {
    padding-top: 48px;
    margin-bottom: 48px;
    background: url(../../images/bg-head.png);
    font-size: 16px;
    line-height: 24px
}

header > * {
    white-space: nowrap
}

header > * > * {
    white-space: normal
}

header nav {
    background: #ebebeb;
    margin-top: 24px;
    line-height: 48px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15)
}

header nav a {
    color: #333333;
    margin-right: 45px;
    font-size: 14px;
    text-decoration: underline
}

header nav a:last-child {
    margin-right: 0
}

header nav a:hover {
    text-decoration: none
}

header nav a.active {
    text-decoration: none;
    font-weight: bold
}

header .wrap:after {
    content: "";
    display: block;
    clear: both;
    height: 0
}

header .head {
    line-height: 48px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #94c11f
}

header .head .head-nav {
    padding-left: 330px;
    display: inline-block
}

header .head .head-nav a {
    color: white;
    text-decoration: underline;
    margin-right: 48px
}

header .head .head-nav a:hover {
    text-decoration: none
}

header .head .appointment {
    width: 290px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: #3cb4e7
}

header .head .appointment:hover {
    text-decoration: none
}

header .head .appointment:hover span {
    border-bottom-color: transparent
}

header .head .appointment span {
    color: white;
    line-height: 15px;
    display: inline-block;
    border-bottom: 1px dashed white
}

header div.logo {
    width: 330px;
    display: inline-block;
    vertical-align: top;
    padding-top: 32px;
    padding-bottom: 24px;
    position: absolute;
    left: 0;
    top: 0
}

header div.logo a.logo {
    margin-bottom: 24px
}

header div.logo .order-call .tel {
    font-size: 18px;
    color: #333333;
    line-height: 24px;
    display: block;
    text-decoration: none
}

header div.logo .order-call .tel:hover {
    text-decoration: none
}

header div.logo .order-call .order-call-call {
    line-height: 24px;
    font-size: 16px;
    text-decoration: none !important
}

header div.logo .order-call .order-call-call:hover span {
    border-bottom-color: transparent
}

header div.logo .order-call .order-call-call span {
    border-bottom: 1px dashed #94c11f;
    line-height: 16px;
    display: inline-block;
    color: #94c11f
}

header > .wrap {
    min-height: 200px
}

header .addres {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-left: 330px;
    vertical-align: top
}

header .addres:after {
    content: "";
    display: block;
    clear: both;
    height: 0
}

header .addres li {
    vertical-align: top
}

header .addres .title {
    color: #333333;
    padding-top: 24px;
    padding-bottom: 24px
}

header .addres .title b {
    font-size: 24px;
    font-weight: bold
}

header .addres .title span {
    font-size: 16px
}

header .addres .title a {
    font-size: 16px;
    text-decoration: none !important
}

header .addres .title a:hover span {
    border-bottom-color: transparent
}

header .addres .title a span {
    border-bottom: 1px dashed #3cb4e7;
    color: #3cb4e7;
    line-height: 15px;
    display: inline-block
}

header .addres ul li {
    margin-right: 10%;
    width: 14em
}

header .addres ul li:nth-child(3n) {
    margin-right: 0
}

header .addres ul li {
    display: inline-block;
    text-align: left;
    position: relative;
    white-space: nowrap
}

header .addres ul li a:first-child {
    white-space: normal
}

header .addres ul li:nth-child(3n) {
}

header .addres ul li a {
    font-size: 13px;
    color: #666666;
    line-height: 24px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    position: relative
}

header .addres ul li a[data-action]:after {
    content: attr(data-action);
    color: white;
    background: #95c11f;
    font-weight: bold;
    border-radius: 4px;
    font-style: italic;
    height: 17px;
    line-height: 16px;
    display: inline-block;
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
    position: absolute;
    top: 5px;
    right: -53px
}

header .addres ul li a:hover {
    opacity: .7;
    text-decoration: none
}

header .addres ul li a.active {
    background: #3cb4e7;
    color: white;
    border-radius: 4px
}

section {
    padding-bottom: 120px;
    font-size: 16px;
    line-height: 24px
}

section .date-b {
    color: #666666;
    font-style: italic;
    font-size: 16px;
    line-height: 40px
}

section ol {
    counter-reset: item
}

section ol li {
    list-style-type: none;
    padding-bottom: 20px
}

section ol li:before {
    text-align: right;
    content: counter(item) ". ";
    padding-right: 10px;
    counter-increment: item;
    display: inline-block;
    width: 40px
}

section ol li:after {
    content: ";"
}

section ol li:last-child:after {
    content: "."
}

section ul {
    margin-bottom: 24px
}

section ul li:after {
    content: ";"
}

section ul li:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #333333;
    vertical-align: middle;
    margin-left: 35px;
    margin-right: 32px
}

section ul li:last-child:after {
    content: "."
}

section .more {
    text-align: center
}

section .more .more-link {
    font-size: 16px;
    color: #333333;
    display: inline-block;
    line-height: 20px;
    text-decoration: none !important;
    border-bottom: 1px dashed #333333
}

section .more .more-link:hover {
    border-bottom-color: transparent
}

section > * {
    white-space: nowrap
}

section > * > * {
    white-space: normal
}

section b {
    font-weight: bold
}

section .center {
    text-align: center
}

section h1 {
    font-size: 32px;
    line-height: 50px;
    padding-bottom: 50px;
    text-align: left
}

section h1.center {
    text-align: left
}

section h2, section .h2, section .h2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px
}

section h3 {
    font-size: 32px;
    color: #333333;
    line-height: 48px;
    text-align: center;
    padding-bottom: 28px
}

section h4 {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    padding-bottom: 16px
}

section .orange-link {
    font-size: 16px;
    text-decoration: none !important;
    color: #94c11f;
    border-bottom: 1px dashed #94c11f;
    line-height: 20px
}

section .orange-link:hover {
    border-bottom: 1px dashed transparent
}

section .action-banner-imga {
    width: 100%;
    display: block;
    margin-bottom: 30px
}

section .action-list {
    margin-left: -20px;
    margin-right: -18px;
    margin-top: -25px
}

section .action-list-item {
    text-decoration: none;
    width: 33.333%;
    display: inline-block;
    vertical-align: top;
    margin-right: -3px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px
}

section .action-list-item .txt div:last-child {
    font-style: italic;
    opacity: 0.8
}

section .action-list-item:hover .title {
    text-decoration: none
}

section .action-list-item:hover .img {
    opacity: .8
}

section .action-list-item .img {
    display: block;
    height: 230px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px
}

section .action-list-item .title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    color: #333333;
    padding-right: 40px
}

section .action-list-item .txt {
    display: block;
    font-size: 16px;
    padding-top: 25px;
    padding-right: 40px;
    color: #333333
}

section .fora {
    padding-top: 40px
}

section .fora .wt {
    background: #94c11f;
    padding-top: 13px;
    padding-bottom: 13px
}

section .fora table {
    table-layout: fixed
}

section .fora table td {
    border-left: 1px solid white;
    vertical-align: middle;
    color: white;
    font-size: 24px;
    width: 33.333%;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center
}

section .fora table td:first-child {
    border-color: transparent;
    border-width: 0
}

section .enz .def-item p {
    padding-left: 0
}

section .booker {
    background: #94c11f;
    text-align: center;
    padding: 20px;
    margin-bottom: 36px
}

section .booker a {
    text-decoration: none !important;
    display: inline-block;
    width: 21px;
    height: 21px;
    color: white
}

section .booker a:hover span {
    border-bottom: 1px dashed transparent
}

section .booker a span {
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px dashed white;
    vertical-align: top;
    padding-top: 3px;
    display: inline-block
}

section .booker a.none span {
    color: #c2e567;
    border-bottom: 1px dashed transparent
}

section .booker a.active {
    color: white;
    background: #b3d851
}

section .booker a.active span {
    border-bottom: 1px dashed transparent
}

section .faq-counter, section .def-counter {
    font-size: 24px;
    padding-bottom: 50px;
    padding-top: 5px
}

section .faq-item, section .def-item {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 35px
}

section .faq-item .view, section .def-item .view {
    position: relative;
    top: 4px;
    vertical-align: top;
    left: 3px
}

section .faq-item .view span, section .def-item .view span {
    display: none;
    width: 0;
    position: absolute;
    left: 0px;
    top: 100%
}

section .faq-item .view span img, section .def-item .view span img {
    opacity: 0
}

section .faq-item .view i, section .def-item .view i {
    display: inline-block;
    width: 26px;
    cursor: pointer;
    height: 22px;
    background-image: url("../../images/icons.png");
    background-position: 0 -175px
}

section .faq-item .view i:hover, section .def-item .view i:hover {
    background-position: -26px -175px
}

section .faq-item .view i:hover ~ span, section .def-item .view i:hover ~ span {
    display: inline-block;
    padding: 10px;
    z-index: 3;
    border-radius: 3px;
    background: white;
    width: auto;
    border: 1px solid #ebebeb
}

section .faq-item .view i:hover ~ span img, section .def-item .view i:hover ~ span img {
    opacity: 1
}

section .faq-item .faq-item-item, section .faq-item .def-item-item, section .def-item .faq-item-item, section .def-item .def-item-item {
    font-size: 24px;
    margin-bottom: 18px;
    color: #333333;
    cursor: pointer;
    text-decoration: none
}

section .faq-item .faq-item-item:hover, section .faq-item .def-item-item:hover, section .def-item .faq-item-item:hover, section .def-item .def-item-item:hover {
    text-decoration: underline
}

section .faq-item p, section .def-item p {
    font-size: 16px;
    margin-bottom: 18px;
    color: #333333;
    line-height: 24px;
    padding-left: 38px
}

section .info-lech, section .price-price, section .consultant, section .parnter, section .school, section .right-link {
    font-size: 18px;
    margin-bottom: 23px;
    text-decoration: none !important;
    color: #333333;
    display: block
}

section .info-lech:hover span, section .price-price:hover span, section .consultant:hover span, section .parnter:hover span, section .school:hover span, section .right-link:hover span {
    text-decoration: none
}

header .addres ul li a + a {
    display: inline !important;
    top: -4px
}

.filter-docs .address {
    width: 470px
}

.filter-docs .address .select2, .filter-docs .address .select2 .select2-selection {
    width: 350px !important
}

.right-link span {
    font-weight: bold;
    text-decoration: underline
}

section .info-lech:before, section .price-price:before, section .consultant:before, section .parnter:before, section .school:before, section .right-link:before {
    vertical-align: middle;
    display: inline-block;
    margin-right: 3px;
    width: 30px;
    height: 25px
}

section .info-lech.consultant:before, section .price-price.consultant:before, section .consultant.consultant:before, section .parnter.consultant:before, section .school.consultant:before, section .right-link.consultant:before {
    content: url(../../images/consultant.png)
}

section .info-lech.parnter:before, section .price-price.parnter:before, section .consultant.parnter:before, section .parnter.parnter:before, section .school.parnter:before, section .right-link.parnter:before {
    content: url(../../images/parnter.png)
}

section .info-lech.school:before, section .price-price.school:before, section .consultant.school:before, section .parnter.school:before, section .school.school:before, section .right-link.school:before {
    content: url(../../images/school.png)
}

section .info-lech.info-lech:before, section .price-price.info-lech:before, section .consultant.info-lech:before, section .parnter.info-lech:before, section .school.info-lech:before, section .right-link.info-lech:before {
    content: "";
    background: url(../../images/icons.png) -188px -68px no-repeat
}

section .info-lech.price-price:before, section .price-price.price-price:before, section .consultant.price-price:before, section .parnter.price-price:before, section .school.price-price:before, section .right-link.price-price:before {
    content: "";
    background: url(../../images/icons.png) -188px -95px no-repeat;
    width: 30px
}

section .filter-docs {
    padding-bottom: 60px
}

section .filter-docs.search {
    padding-left: 0;
    padding-bottom: 0
}

section .filter-docs.search .select-label .txt {
    font-family: pf_din_text_comp_proregular;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 24px
}

section .filter-docs.search [type=text], section .filter-docs.search [type=email] {
    width: 380px;
    margin-right: -5px;
    padding-left: 10px;
    font-size: 14px;
    vertical-align: top;
    padding-right: 10px;
    border: 0;
    margin-bottom: 20px;
    height: 36px
}

section .filter-docs.search [type=submit] {
    width: 110px;
    font-size: 18px;
    background: #3cb4e7;
    border: 0 !important;
    line-height: 36px;
    height: 36px;
    outline: none !important;
    vertical-align: top;
    margin-right: 40px;
    color: white;
    border-radius: 0 4px 4px 0;
    text-align: center;
    cursor: pointer
}

section .filter-docs.search select, section .filter-docs.search .select2 {
    height: 36px;
    vertical-align: top;
    font-size: 14px;
    padding-left: 10px;
    border: 0px;
    width: 180px
}

section .filter-docs.search select .select2-selection__rendered, section .filter-docs.search .select2 .select2-selection__rendered {
    line-height: 36px
}

section .filter-docs.search select .select2-selection, section .filter-docs.search .select2 .select2-selection {
    height: 36px;
    width: 180px
}

section .filter-docs .select2 {
    padding-left: 0 !important
}

section .filter-docs select, section .filter-docs .select2 {
    width: 180px;
    height: 37px;
    margin-right: 40px;
    font-size: 14px;
    color: #333333
}

section .filter-docs select .select2-selection__rendered, section .filter-docs .select2 .select2-selection__rendered {
    line-height: 36px
}

section .filter-docs select .select2-selection, section .filter-docs .select2 .select2-selection {
    height: 37px;
    width: 180px
}

section .filter-docs input[type=reset] {
    cursor: pointer;
    color: #666666;
    outline: none;
    background: transparent;
    border: 0;
    height: 19px;
    font-size: 14px;
    border-bottom: 1px dashed #666666;
    vertical-align: middle;
    display: inline-block;
    padding: 0
}

section .filter-docs input[type=reset]:focus {
    border: 0 !important;
    border-bottom: 1px dashed #666666 !important
}

section .filter-docs input[type=reset]:hover {
    opacity: .7
}

section .stood-intan {
    padding-bottom: 50px
}

section .stood-intan .intan-stood-logo {
    background: white;
    text-align: center;
    height: 130px;
    line-height: 130px;
    vertical-align: middle
}

section .stood-intan .intan-stood-logo img {
    vertical-align: middle;
    display: inline-block
}

section .stood-intan .table {
    width: 100%
}

section .stood-intan .table .row {
    background: #94c11f;
    border-bottom: 1px solid white
}

section .stood-intan .table .row .cell:hover {
}

section .stood-intan .table .row:first-child {
    background: #3cb4e7
}

section .stood-intan .table .row:first-child .cell {
    background: #3cb4e7
}

section .stood-intan .table .row:first-child .cell:hover {
}

section .stood-intan .table .row:first-child .cell {
    border-bottom: 1px solid white
}

section .stood-intan .table .row .cell {
    vertical-align: middle;
    border-left: 1px solid white;
    height: 55px
}

section .stood-intan .table .row .cell a {
    padding-left: 20px;
    display: block;
    width: 100%;
    height: 55px;
    line-height: 55px
}

section .stood-intan .table .row .cell a i {
    display: inline-block;
    vertical-align: middle;
    width: 37px;
    height: 40px;
    margin-right: 4px;
    background: url(../../images/stood-icons.png);
    background-repeat: no-repeat
}

section .stood-intan .table .row .cell a i.vrach {
    background-position: 1px 2px
}

section .stood-intan .table .row .cell a i.assistent {
    background-position: -40px 0px;
    background-position: -30px -1px;
    height: 30px
}

section .stood-intan .table .row .cell a i.directors {
    background-position: 4px -60px;
    height: 21px
}

section .stood-intan .table .row .cell a i.admines {
    background-position: -28px -53px;
    background-repeat: no-repeat
}

section .stood-intan .table .row .cell a span {
    color: white;
    vertical-align: middle;
    font-size: 23px;
    display: inline-block
}

section .title-docs {
    text-align: left
}

section .title-docs .spec, section .title-docs .address {
    margin-right: 40px;
    display: inline-block
}

section .title-docs .address, section .title-docs .spec {
    margin-bottom: 20px;
    margin-right: 0 !important
}

section .title-docs .address span.txt, section .title-docs .spec span.txt {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 10px
}

section .docs-list, section .text-item {
    max-width: 100%;
    margin: auto;
    margin-bottom: -60px
}

section .docs-list .docs-item, section .text-item .docs-item {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    width: 180px;
    margin-left: 35px;
    margin-right: 35px
}

section .docs-list .docs-item:hover, section .text-item .docs-item:hover {
    opacity: .8
}

section .docs-list .docs-item:hover div, section .text-item .docs-item:hover div {
    text-decoration: none
}

section .docs-list .docs-item a, section .text-item .docs-item a {
    display: block;
    text-decoration: none;
    text-align: center
}

section .docs-list .docs-item span, section .text-item .docs-item span {
    display: block;
    height: 180px;
    width: 180px;
    border: 1px solid white;
    margin-bottom: 10px;
    border-radius: 180px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover
}

section .docs-list .docs-item div, section .text-item .docs-item div {
    font-size: 14px;
    text-decoration: underline;
    line-height: 21px;
    margin-bottom: 4px;
    color: #333333
}

section .docs-list .docs-item p, section .text-item .docs-item p {
    line-height: 18px;
    color: #666666;
    font-size: 14px
}

section #ymaps-map-container {
    height: 268px;
    margin-top: 20px;
    margin-bottom: 30px
}

section .d3d-pane {
    position: relative;
    width: 100%
}

section .d3d-pane:hover:after {
    opacity: 0.9
}

section .d3d-pane img {
    max-width: 100%
}

section .d3d-pane:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -106px;
    margin-top: -24px;
    content: "";
    display: inline-block;
    height: 48px;
    background: url("../../images/icons.png") 0 -125px;
    width: 212px
}

section .head-doc {
    min-height: 152px
}

section .head-doc a {
    position: relative
}

section .head-doc a:hover .name {
    text-decoration: none
}

section .head-doc .all-c {
    padding-left: 114px;
    color: #333333;
    font-size: 14px
}

section .head-doc .all-c:hover {
    text-decoration: none
}

section .head-doc .img {
    width: 96px;
    height: 96px;
    display: inline-block;
    border-radius: 50%;
    position: absolute
}

section .head-doc .i {
    padding-left: 114px;
    padding-top: 20px;
    display: inline-block;
    min-height: 97px
}

section .head-doc .i .prof {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    display: block
}

section .head-doc .i .name {
    font-size: 16px;
    color: #333333;
    display: block;
    text-decoration: underline
}

section .contacts-block {
    background: #94c11f;
    width: 100%;
    margin-bottom: 30px
}

section .contacts-block .thead .cell {
    font-weight: bold;
    padding-top: 20px;
    line-height: 40px
}

section .contacts-block .thead .cell i {
    width: 27px;
    height: 27px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("../../images/icons.png");
    vertical-align: middle;
    margin-right: 8px
}

section .contacts-block .thead .cell .icon-tyte-1 {
    background-position: -103px -34px
}

section .contacts-block .thead .cell .icon-tyte-2 {
    background-position: -136px -33px;
    width: 15px
}

section .contacts-block .thead .cell .icon-tyte-3 {
    background-position: -160px -34px
}

section .contacts-block .tbody .cell {
    padding-bottom: 20px
}

section .contacts-block .cell {
    color: white;
    font-size: 16px;
    line-height: 24px
}

section .contacts-block .cell:first-child {
    padding-left: 40px
}

section .video-item {
    width: 100%;
    height: 96px;
    display: block;
    position: relative;
    margin-bottom: 22px;
    text-decoration: none;
    overflow: hidden
}

section .video-item:hover:after {
    color: #3cb4e7
}

section .video-item:before {
    content: attr(data-time);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    position: absolute;
    bottom: 3px;
    left: 40%;
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    margin-left: -3px
}

section .video-item:after {
    content: attr(data-text);
    font-size: 16px;
    color: #333333;
    position: absolute;
    right: 0;
    width: 56%;
    top: 0;
    padding-left: 20px;
    font-weight: bold
}

section .video-item .img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    width: 40%;
    height: 100%
}

[href*="tel:"] {
    color: inherit
}

[href*="tel:"]:hover {
    color: inherit;
    text-decoration: none
}

section .video-block {
    width: 620px;
    height: 413px;
    position: relative;
    cursor: pointer;
    display: block
}

section .video-block.main-video-block {
    height: 550px;
    width: 100%;
    margin-bottom: 27px
}

section .video-block.main-video-block .v {
    width: 100%
}

section .video-block .v {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block
}

section .video-block:hover .play {
    opacity: .6
}

section .video-block .action {
    display: block
}

section .video-block .action .play {
    position: absolute;
    display: block;
    background: url("../../images/icons.png") -80px -62px no-repeat;
    width: 62px;
    height: 62px;
    margin-left: -31px;
    margin-top: -31px;
    top: 50%;
    left: 50%
}

section .action-centre {
    font-size: 0;
    white-space: nowrap;
    margin-bottom: 40px
}

section .action-centre a {
    width: 33.3%
}

section .action-centre a img {
    max-width: 100%
}

section .how-2-get {
    padding-bottom: 20px
}

section .how-2-get ul:after, section .how-2-get ul:before, section .how-2-get li:after, section .how-2-get li:before {
    display: none
}

section .how-2-get .italic {
    font-style: italic
}

section .how-2-get .metro {
    margin-top: 20px
}

section .how-2-get .metro:before {
    content: "";
    display: inline-block;
    background: url("../../images/icons.png") -28px -96px no-repeat;
    width: 13px;
    height: 10px;
    margin-right: 2px;
    position: relative;
    top: 1px
}

section .how-2-get .metro span {
    font-weight: bold;
    color: #333333
}

section .how-2-get .list-o {
    text-decoration: none !important
}

section .how-2-get .list-o:hover span {
    border-bottom-color: transparent
}

section .how-2-get .list-o i {
    display: inline-block;
    width: 26px;
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
    background: url("../../images/icons.png") 1px -96px no-repeat
}

section .how-2-get .list-o.open:after {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    transform: scale(-1, -1);
    top: 5px
}

section .how-2-get .list-o span {
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle
}

section .facts {
    height: 195px;
    background: #94c11f;
    padding: 0 !important
}

section .facts .swiper-slide, section .facts .swiper-wrapper, section .facts .swiper-container {
    height: 195px
}

section .facts_text {
    color: #fff
}

section .facts .swiper-container, section .facts .swiper-slide {
    width: 825px;
    height: 195px;
    text-align: center
}

section .facts .wrap {
    position: relative;
    height: 195px
}

section .facts .wrap .table {
    width: 100%;
    height: 195px
}

section .facts .wrap .table .cell {
    text-align: center;
    vertical-align: middle
}

section .facts .wrap .table .cell p {
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px
}

section .facts .wrap .arrow {
    position: absolute;
    top: 85px;
    z-index: 2;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px
}

section .facts .wrap .arrow span {
    background-image: url("/assets/images/icons.png");
    width: 11px;
    height: 14px;
    position: absolute;
    margin-top: 10px
}

section .facts .wrap .arrow.icons-arrow-next {
    right: 86px
}

section .facts .wrap .arrow.icons-arrow-next span {
    background: url("../../images/icons.png") -126px 0;
    display: inline-block;
    vertical-align: middle;
    height: 14px;
    width: 10px
}

section .facts .wrap .arrow.icons-arrow-prev {
    left: 107px
}

section .facts .wrap .arrow.icons-arrow-prev span {
    background: url("../../images/icons.png") -126px -14px;
    display: inline-block;
    vertical-align: middle;
    height: 14px;
    width: 10px
}

section .text-togle {
    text-decoration: none;
    color: #333333
}

section .text-togle:hover span {
    border-bottom: 1px dashed transparent
}

section .text-togle span {
    color: #94c11f;
    border-bottom: 1px dashed #94c11f
}

section .review .filter-docs {
    padding-bottom: 40px;
    padding-top: 10px
}

section .review .review-items {
    padding-top: 18px;
    margin-bottom: 36px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e2e2e2
}

section .review .review-items p {
    font-size: 16px;
    color: #333333;
    line-height: 24px
}

section .review .filter-docs select {
    font-style: italic
}

section .review .review-head .username {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 12px;
    color: #94c11f
}

section .review .review-head .data {
    color: #666666;
    font-size: 16px;
    font-style: italic
}

section .enroll-2-doctor {
    margin-bottom: 50px;
    padding-top: 15px
}

section .enroll-2-doctor.consultant {
    margin-bottom: 50px
}

section .enroll-2-doctor.consultant h2, section .enroll-2-doctor.consultant .h2, section .enroll-2-doctor.consultant .h2 {
    display: inline-block
}

section .enroll-2-doctor.consultant:before {
    content: url(../../images/consultant.png)
}

section .enroll-2-doctor.right {
    float: right;
    width: 291px;
    padding-top: 0
}

section .enroll-2-doctor input[type=submit] {
    color: white;
    font-size: 18px;
    background: #3cb4e7;
    width: 200px;
    line-height: 36px;
    border: 0;
    border-radius: 4px;
    text-align: center;
    margin-top: 5px;
    cursor: pointer
}

section .enroll-2-doctor input[type=submit]:hover {
    opacity: .9
}

section .enroll-2-doctor select:focus {
    color: #666666
}

section .enroll-2-doctor .select2 {
    padding-left: 0;
    margin-bottom: 12px;
    line-height: 36px
}

section .enroll-2-doctor .select2 .select2-selection__rendered {
    line-height: inherit;
    line-height: 36px
}

section .enroll-2-doctor .select2-selection {
    padding-left: 0 !important
}

section .enroll-2-doctor input[type=text], section .enroll-2-doctor [type=email], section .enroll-2-doctor textarea, section .enroll-2-doctor select, section .enroll-2-doctor .select2 .select2-selection {
    height: 36px;
    font-size: 16px;
    width: 291px;
    border: 0;
    margin-bottom: 12px;
    resize: none;
    padding-left: 10px
}

section .enroll-2-doctor input[type=text]:focus, section .enroll-2-doctor [type=email]:focus, section .enroll-2-doctor textarea:focus, section .enroll-2-doctor select:focus, section .enroll-2-doctor .select2 .select2-selection:focus {
    outline: none;
    border: 1px solid #3db4e7
}

section .enroll-2-doctor textarea {
    height: 84px;
    font-size: 16px;
    padding-top: 10px;
    font-family: "Open Sans", sans-serif !important
}

section blockquote {
    text-align: center;
    margin-bottom: 5px;
    white-space: normal
}

section blockquote > p {
    border: 1px solid #ebebeb;
    padding: 20px;
    color: gray;
    margin-top: 30px
}

section blockquote > *:not(p) {
    width: 33%;
    vertical-align: top;
    cursor: default;
    text-decoration: none;
    margin-bottom: 40px;
    border: 1px solid #ebebeb;
    background-position: center;
    background-repeat: no-repeat;
    height: 115px;
    display: inline-block;
    opacity: 1
}

.text-block {
    margin-bottom: 120px
}

section blockquote > * h3 {
    color: black;
    position: relative;
    top: 115px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font: normal bold 13px/21px Arial, sans-serif
}

section blockquote > * p {
    padding-left: 10px;
    position: relative;
    margin-bottom: 120px;
    top: 115px;
    padding-right: 10px;
    font: normal normal 12px/1.5 Arial, sans-serif;
    color: black
}

section blockquote > *:hover {
    border: 1px solid #cdcdcd;
    opacity: 1
}

section .back-to-docs, section .back-to {
    position: relative;
    z-index: 1;
    margin-top: -80px;
    display: block;
    min-width: 140px;
    top: -50px;
    margin-bottom: 24px
}

section .back-to-docs:hover span, section .back-to:hover span {
    text-decoration: none
}

section .back-to-docs i, section .back-to i {
    background: url("../../images/icons.png") -83px -38px no-repeat;
    display: inline-block;
    width: 19px;
    height: 12px;
    margin-right: 1px;
    vertical-align: middle;
    position: relative;
    top: 2px;
    transform: scale(0.7);
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7)
}

section .back-to-docs span, section .back-to span {
    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;
    font-size: 13px;
    color: #333333
}

section .doc-item, section .text-item {
    position: relative
}

section .doc-item .doc-photo, section .text-item .doc-photo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 245px
}

section .doc-item .doc-photo img, section .text-item .doc-photo img {
    max-width: 100%
}

section .doc-item .doc-info, section .text-item .doc-info {
    padding-left: 330px
}

section .doc-item .doc-info h3, section .text-item .doc-info h3 {
    font-size: 24px;
    text-align: left;
    color: #333333;
    line-height: 22px
}

section .doc-item .doc-info p, section .text-item .doc-info p {
    color: #333333;
    font-size: 16px;
    padding-bottom: 30px;
    line-height: 24px
}

section .doc-item .doc-info p a, section .text-item .doc-info p a {
    color: #333333;
    text-decoration: underline
}

section .doc-item .doc-info p a:hover, section .text-item .doc-info p a:hover {
    text-decoration: none
}

section .tab-toggler {
    position: relative;
    margin-top: 10px
}

section .tab-toggler .tab-toggler-toggler {
    width: 175px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    display: inline-block;
    transition: .6s;
    -moz-transition: .6s;
    -webkit-transition: .6s;
    background: #3cb4e7;
    position: absolute;
    color: transparent;
    padding-right: 12px;
    padding-left: 12px;
    margin-left: 2px;
    font-size: 18px;
    height: 36px;
    top: -3px
}

section .tab-toggler .tab-toggler-toggler:after {
    top: 36px;
    left: 50%;
    content: "";
    position: absolute;
    display: inline-block;
    border: 6px solid transparent;
    border-top: 6px solid #3cb4e7
}

section .tab-toggler .tab-toggler-head {
    text-align: center
}

section .tab-toggler .tab-toggler-head a {
    margin-left: 13px;
    margin-right: 13px;
    text-decoration: none !important;
    position: relative;
    z-index: 1
}

.no-dott li:after {
    display: none !important
}

section .tab-toggler .tab-toggler-head a.active span {
    color: white;
    border-bottom: 1px dashed white
}

footer .active, .head-nav .active {
    text-decoration: none !important;
    font-weight: bold
}

section .contacts-block .cell:first-child + .cell {
    max-width: 280px;
    padding-right: 10px;
    padding-left: 10px
}

.tab-toggler-item {
    font-size: 16px;
    color: #333333;
    line-height: 24px
}

.tab-toggler-item * {
    font-size: 16px;
    color: #333333;
    line-height: 24px
}

.tab-toggler-item table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 10px
}

.tab-toggler-item td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px
}

ul li h2 {
    display: inline-block;
    margin-top: 10px
}

ul li p {
    padding-left: 75px
}

section .tab-toggler .tab-toggler-head a span {
    transition: .6s;
    -moz-transition: .6s;
    -webkit-transition: .6s;
    color: #333333;
    font-size: 18px;
    border-bottom: 1px dashed #333333
}

section .tab-toggler .tab-toggler-body {
    padding-top: 32px
}

section .tab-toggler .tab-toggler-body .tab-toggler-item {
    font-size: 0;
    display: none
}

section .tab-toggler .tab-toggler-body .tab-toggler-item.active {
    display: block
}

section .tab-toggler .tab-toggler-body .tab-toggler-item p {
    display: inline-block;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2
}

section .tab-toggler .tab-toggler-body .tab-toggler-item p a {
    text-decoration: underline;
    color: #3cb4e7;
    font-size: 16px
}

section .tab-toggler .tab-toggler-body .tab-toggler-item p a:hover {
    text-decoration: none
}

section a.banner {
    margin-bottom: 48px;
    display: block;
    width: 100%
}

section a.banner img {
    max-width: 100%
}

section p {
    padding-bottom: 24px
}

section p a {
    color: #3cb4e7
}

section p a:hover {
    text-decoration: none
}

section .black-link {
    color: #333333;
    font-size: inherit;
    text-decoration: underline
}

section .black-link:hover {
    text-decoration: none
}

section .b-slider {
    position: relative;
    z-index: 2;
    margin-top: -48px;
    height: 400px;
    background: url(../../images/bg-main.png) repeat;
    width: 100%
}

section .b-slider h2, section .b-slider .h2 {
    margin-top: -36px
}

section .b-slider.bottom {
    margin-bottom: 0px
}

section .b-slider.m {
    max-width: 1280px;
    width: 100%;
    height: 240px;
    margin: auto;
    margin-bottom: 60px
}

section .b-slider.m .controls span {
    top: 110px
}

section .b-slider.m .swiper-slide {
    width: 427px
}

section .b-slider.m .swiper-wrapper, section .b-slider.m .swiper-slide, section .b-slider.m .swiper-container {
    height: 240px
}

section .b-slider.contenter {
    margin-top: 0;
    height: 170px;
    margin-bottom: 35px
}

section .b-slider.contenter .swiper-slide {
    width: 277px;
    position: relative
}

section .b-slider.contenter .swiper-slide span {
    color: white;
    white-space: normal;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    bottom: 0px;
    font-weight: 300;
    left: 0;
    right: 0px;
    font-size: 16px;
    background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(30, 44, 56, 0.58) 76%, rgba(0, 0, 0, 0.6) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(125, 185, 232, 0)), color-stop(76%, rgba(30, 44, 56, 0.58)), color-stop(100%, rgba(0, 0, 0, 0.6)));
    background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(30, 44, 56, 0.58) 76%, rgba(0, 0, 0, 0.6) 100%);
    background: -o-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(30, 44, 56, 0.58) 76%, rgba(0, 0, 0, 0.6) 100%);
    background: -ms-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(30, 44, 56, 0.58) 76%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(30, 44, 56, 0.58) 76%, rgba(0, 0, 0, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#99000000', GradientType=0)
}

section .b-slider.contenter .swiper-wrapper, section .b-slider.contenter .swiper-slide, section .b-slider.contenter .swiper-container {
    height: 170px
}

section .b-slider.contenter .controls span {
    top: 70px
}

section .b-slider.mini {
    margin-top: 0;
    height: 240px;
    margin-bottom: 35px
}

section .b-slider.mini .swiper-slide {
    width: 416px
}

section .b-slider.mini .swiper-wrapper, section .b-slider.mini .swiper-slide, section .b-slider.mini .swiper-container {
    height: 240px
}

section .b-slider.mini .controls span {
    top: 110px
}

section .b-slider .controls {
    position: relative
}

section .b-slider .controls span {
    background: url("../../images/icons.png") no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 180px;
    cursor: pointer
}

section .b-slider .controls span:hover {
    opacity: 0.5
}

section .b-slider .controls span.prev {
    left: 30px;
    background-position: -137px 0
}

section .b-slider .controls span.next {
    right: 30px;
    background-position: -170px 0
}

section .b-slider .swiper-scrollbar {
    opacity: 1;
    display: block;
    height: 14px;
    background: #e4e4e4;
    background: -moz-linear-gradient(top, #e4e4e4 0%, #ebebeb 49%, #e4e4e4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(49%, #ebebeb), color-stop(100%, #e4e4e4));
    background: -webkit-linear-gradient(top, #e4e4e4 0%, #ebebeb 49%, #e4e4e4 100%);
    background: -o-linear-gradient(top, #e4e4e4 0%, #ebebeb 49%, #e4e4e4 100%);
    background: -ms-linear-gradient(top, #e4e4e4 0%, #ebebeb 49%, #e4e4e4 100%);
    background: linear-gradient(to bottom, #e4e4e4 0%, #ebebeb 49%, #e4e4e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#e4e4e4', GradientType=0)
}

section .b-slider .swiper-scrollbar .swiper-scrollbar-cursor-drag {
    cursor: default !important
}

section .b-slider .swiper-scrollbar .swiper-scrollbar-drag {
    background: #94c11f;
    height: 8px;
    top: 3px
}

section .b-slider .swiper-scrollbar .swiper-scrollbar-drag:active {
    opacity: .6
}

section .b-slider .swiper-wrapper, section .b-slider .swiper-slide, section .b-slider .swiper-container {
    height: 386px;
    white-space: nowrap
}

section .b-slider a {
    float: left
}

section .b-slider .img {
    background-size: cover;
    display: inline-block;
    height: 386px;
    width: 640px
}

section .calc-price {
    font-size: 18px;
    margin-bottom: 23px;
    text-decoration: none !important;
    color: #333333
}

section .calc-price:hover span {
    text-decoration: none
}

section .calc-price span {
    font-weight: bold;
    text-decoration: underline
}

section .calc-price:before {
    content: "";
    background: url(../../images/icons.png) -150px -68px no-repeat;
    width: 30px;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 2px
}

section .credit {
    font-size: 18px;
    color: #333333;
    margin-bottom: 23px;
    text-decoration: none !important
}

section .credit:hover span {
    text-decoration: none
}

section .credit span {
    font-weight: bold;
    text-decoration: underline
}

section .credit:before {
    content: "";
    display: inline-block;
    background: url(../../images/icons.png) -148px -93px no-repeat;
    width: 30px;
    height: 20px;
    vertical-align: middle;
    margin-right: 2px
}

section .list-price {
    margin-bottom: 0
}

section .list-price li {
    display: block;
    width: 100%;
    line-height: 36px
}

section .list-price li > span {
    padding-left: 10px;
    padding-right: 10px
}

section .list-price li:nth-child(2n) {
    background: #ebebeb
}

section .list-price li:nth-child(2n-1) {
    background: #f4f4f4
}

section .list-price li:after, section .list-price li:before {
    display: none
}

section .list-price li span.spoiler {
    border-bottom: 1px dashed #333333;
    cursor: pointer;
    position: relative
}

section .list-price li span.spoiler:hover {
    border-bottom: 1px solid #333333
}

section .list-price li span.spoiler:after {
    border: 4px solid transparent;
    border-top: 7px solid rgba(51, 51, 51, 0.67);
    content: "";
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 50%;
    margin-top: -3px
}

section .list-price li span.spoiler.open:after {
    border: 4px solid transparent;
    border-bottom: 7px solid #333333;
    content: "";
    display: inline-block;
    position: absolute;
    right: -20px;
    margin-top: -5px;
    top: 50%
}

section .list-price li .list-price {
    display: none
}

section .list-price li .list-price li:last-child {
    border-bottom: rgba(255, 250, 250, 0.8)
}

section .list-price li .list-price li > span {
    padding-left: 50px;
    padding-right: 10px
}

section .list-price li .list-price li > span.price {
    padding-left: 0
}

section .list-price li .name {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    color: #333333;
    line-height: 21px;
    font-size: 14px;
    width: -webkit-calc(100% - 101px);
    width: -moz-calc(100% - 101px);
    width: calc(100% - 101px)
}

section .list-price li .price {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    width: 100px
}

section .operation-to-implant {
    background: #94c11f;
    text-align: center;
    margin-bottom: 20px
}

section .operation-to-implant .arrow span {
    color: white;
    color: white;
    font-size: 52px
}

section .operation-to-implant p {
    font-size: 48px;
    line-height: 60px;
    color: white
}

section .doctors {
    padding-top: 30px
}

section .doctors .title {
    line-height: 48px;
    padding-bottom: 24px;
    text-align: center
}

section .doctors .title a {
    text-decoration: none !important
}

section .doctors .title a span {
    color: #333333;
    font-size: 32px;
    border-bottom: 1px solid #333333
}

section .doctors .title a:hover span {
    border-bottom: 1px solid transparent
}

section .doctors .doctor-photo {
    display: inline-block;
    width: 285px;
    height: 285px;
    border-radius: 50%;
    background-position: center;
    background-size: cover
}

section .doctors .doctor-name {
    padding-top: 12px;
    width: 285px;
    display: inline-block;
    padding-bottom: 12px
}

section .doctors .doctor-name a {
    margin-bottom: 10px;
    color: #333333;
    font-size: 18px;
    text-decoration: underline
}

section .doctors .doctor-name a:hover {
    text-decoration: none !important
}

section .doctors .doctor-name p {
    color: #666666 !important;
    font-style: italic;
    font-size: 14px !important;
    line-height: 24px !important
}

section .doctors .table {
    width: 100%
}

section .doctors .table .row:first-child p {
    display: inline-block;
    font-size: 24px;
    color: #94c11f
}

section .doctors .table .cell {
    width: 33.33%;
    text-align: center
}

section .slider {
    margin-bottom: 24px
}

section .slider h2, section .slider .h2 {
    padding-top: 50px
}

section .slider .mySwiper {
    position: relative;
    margin-bottom: 36px
}

section .slider .mySwiper-container {
    width: 100%;
    height: 190px;
    margin: auto;
    position: relative
}

section .slider .mySwiper-slide {
    position: relative;
    width: 100%;
    height: 100%
}

section .slider .mySwiper-arr {
    display: block;
    position: absolute;
    background: url("../../images/icons.png") 0px 0px no-repeat;
    background-repeat: no-repeat;
    width: 34px;
    height: 58px;
    cursor: pointer;
    top: 50%;
    margin-top: -29px;
    z-index: 20
}

section .slider .mySwiper-arr-prev {
    background-position: -2px -34px;
    left: 20px
}

section .slider .mySwiper-arr-next {
    background-position: -47px -34px;
    right: 20px
}

section .slider .swiper-slide-content {
    padding-top: 20px;
    padding-right: 50px
}

section .slider .swiper-slide-content-pic {
    text-align: center;
    height: 166px;
    float: left;
    line-height: 166px;
    width: 240px
}

section .slider .swiper-slide-content-pic-in {
    background: url(../../images/sprite.png) 0px 0px no-repeat;
    vertical-align: middle;
    display: inline-block;
    *zoom: 1;
    *display: inline
}

section .slider .swiper-slide-content-pic-in.pic-in1 {
    width: 135px;
    height: 104px;
    background-position: -320px -94px
}

section .slider .swiper-slide-content-pic-in.pic-in2 {
    width: 110px;
    height: 99px;
    background-position: -493px -115px
}

section .slider .swiper-slide-content-pic-in.pic-in3 {
    width: 110px;
    height: 76px;
    background-position: -641px -115px
}

section .slider .swiper-slide-content-pic-in.pic-in4 {
    width: 110px;
    height: 76px;
    background-position: -518px -267px
}

section .slider .swiper-slide-content-pic-in.pic-in5 {
    width: 111px;
    height: 83px;
    background-position: -673px -264px
}

section .slider .swiper-slide-content-pic-in.pic-in6 {
    width: 136px;
    height: 167px;
    background-position: -811px -222px
}

section .slider .swiper-slide-content-pic-in.pic-in7 {
    width: 157px;
    height: 157px;
    background-position: -976px -227px
}

section .slider .swiper-slide-content-info {
    font-size: 20px;
    padding-left: 247px;
    padding-right: 40px
}

section .slider .swiper-slide-content-hd {
    color: #8CC33F;
    padding-bottom: .7em
}

section .slider .swiper-slide-content-desc {
    font-size: 15px;
    line-height: 20px
}

section .slider .mySwiper-sub {
    padding-top: 40px;
    text-align: center
}

section .slider .mySwiper-pagination {
    position: relative;
    display: inline-block
}

section .slider .mySwiper-pagination-item {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    color: #9fca60;
    font-size: 14px;
    text-align: left;
    position: relative
}

section .slider .mySwiper-pagination-item.current {
    font-weight: bold
}

section .slider .mySwiper-pagination-item-arr {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 7px;
    float: right;
    margin-left: 10px;
    height: 10px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAKCAYAAAB4zEQNAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKpJREFUeNpi7Dli58TAwGAIxOeLrQ/uY0ACTEDMCMQxQNzdc8TeClmS8f///wy9Rx10gPRCIJ+VkZEhB2jCIbgkCAAVGDL8/z8PaA7IpBSggjNwSagCcSB/LZDJDzShgYkBC2AEyoD0IBlrD3LxPCAXJAc2lgUkAXSlDpCaA8TMQBmggw6cAXsFKOEMVLkYpBwIMoASh2DGg3SCTF4ClDtfYnPwGLLdAAEGAGemQlnAtMmvAAAAAElFTkSuQmCC);
    opacity: 0.7;
    top: 5px;
    margin-right: 5px
}

section .slider .mySwiper-pagination-item.current .mySwiper-pagination-item-arr {
    opacity: 1
}

section .slider .mySwiper-pagination-item-hint {
    font-size: 14px;
    font-style: italic;
    position: absolute;
    top: -35px;
    right: -15px;
    color: #4b4b4b;
    font-weight: normal
}

section .slider .mySwiper-pagination-item-hint:after {
    content: " ";
    display: block;
    position: absolute;
    width: 1px;
    height: 10px;
    left: 50%;
    bottom: -14px;
    background-color: #595959
}

section .slider .mySwiper-pagination-ico {
    vertical-align: middle;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    background: url(../../images/sprite.png) 0px 0px no-repeat
}

section .slider .mySwiper-pagination-ico.ico1 {
    width: 72px;
    height: 54px;
    background-position: -13px -414px
}

section .slider .mySwiper-pagination-ico.ico2 {
    width: 60px;
    height: 55px;
    background-position: -109px -423px
}

section .slider .mySwiper-pagination-ico.ico3 {
    width: 77px;
    height: 53px;
    background-position: -199px -424px
}

section .slider .mySwiper-pagination-ico.ico4 {
    width: 66px;
    height: 46px;
    background-position: -320px -424px
}

section .slider .mySwiper-pagination-ico.ico5 {
    width: 62px;
    height: 46px;
    background-position: -438px -423px
}

section .slider .mySwiper-pagination-ico.ico6 {
    width: 56px;
    height: 55px;
    background-position: -535px -414px
}

section .slider .mySwiper-pagination-ico.ico7 {
    width: 45px;
    height: 45px;
    background-position: -628px -423px
}

section .slider .mySwiper-pagination-space {
    background-color: #8CC33F;
    display: block;
    float: left;
    height: 65px;
    font-size: 12px;
    white-space: nowrap;
    position: relative;
    font-style: italic;
    text-align: center;
    line-height: 65px
}

section .slider .mySwiper-pagination-space-text-rotate {
    display: block;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    position: absolute;
    writing-mode: bt-lr
}

section .hash-nav {
    height: 48px;
    background: #94c11f;
    line-height: 48px;
    margin-bottom: 20px
}

section .hash-nav a {
    color: #ffffff;
    margin-left: 18px;
    height: 21px;
    line-height: 21px;
    text-decoration: none !important;
    border-bottom: 1px dashed white
}
section .hash-nav a:hover {
    border-bottom: 1px dashed transparent
}

section h5 {
    font-size: 24px;
    color: #94c11f;
    margin-bottom: 23px
}

section .table-title {
    font-size: 24px;
    color: #94c11f;
    padding-bottom: 25px
}

section .w35 {
	margin-left: -5px;
}
section .w35 {
    padding-left: 40px
}

section .menu-blok {
    padding-top: 18px;
    background: #94c11f
}

section .menu-blok .active {
    font-weight: bold;
    text-decoration: none
}

section .menu-blok.notitle {
    padding-top: 18px
}

section .menu-blok.notitle .active {
    font-weight: bold;
    text-decoration: none;
    cursor: default
}

section .menu-blok ul {
    margin-bottom: 48px
}

section .menu-blok ul li {
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px
}

section .menu-blok ul li:after, section .menu-blok ul li:before {
    display: none
}

section .menu-blok ul li a {
    text-decoration: none;
    line-height: 24px;
    color: white;
    text-decoration: underline
}

section .menu-blok ul li a span {
    line-height: 17px;
    font-size: 16px;
    color: white
}

section .menu-blok ul li a:hover {
    text-decoration: none
}

section .menu-blok ul li a:hover span {
    border-bottom-color: transparent
}

section .menu-blok h2, section .menu-blok .h2 {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    color: white
}

section .reviews .title {
    padding-bottom: 24px;
    text-decoration: none
}

section .reviews .title:hover {
    text-decoration: none
}

section .reviews .title:hover h2 span {
    text-decoration: none
}

section .reviews .title i {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
    background: url("../../images/icons.png") 0px 0px
}

section .reviews .title h2 span, section .reviews .title .h2 span {
    text-decoration: underline;
    vertical-align: middle;
    color: #333333;
    font-size: 18px;
    display: inline-block
}

section .review-item p {
    font-size: 16px;
    color: #333333
}

section .review-item .review-user-name {
    padding-bottom: 12px;
    color: #94c11f;
    font-size: 18px
}

section .review-item .review-user-name:after {
    content: attr(data-date);
    font-size: 16px;
    display: inline-block;
    float: right;
    font-style: italic;
    color: #333
}

footer {
    background: #ebebeb;
    font-size: 14px;
    line-height: 21px;
    color: #333333
}

footer > * {
    white-space: nowrap
}

footer > * > * {
    white-space: normal
}

footer nav {
    padding-top: 6px;
    line-height: 48px
}

footer nav a {
    color: #333333;
    font-size: 13px;
    text-decoration: underline;
    margin-right: 13px
}

footer nav a:last-child {
    margin-right: 0
}

footer nav a:hover {
    text-decoration: none
}

.social-icons {
    padding-top: 13px;
    padding-bottom: 30px
}

.social-icons a {
    margin-right: 10px;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%
}

.social-icons a i {
    background-image: url("../../images/icons.png");
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%
}

.social-icons a:hover {
    background-color: #999999
}

.social-icons {
    position: absolute;
    top: 9px;
    right: 156px
}

.social-icons a.vk i {
    background-position: -26px 0
}

.social-icons a.fb i {
    background-position: -59px 0
}

.social-icons a.ok i {
    background-position: -92px 0
}

footer p {
    padding-bottom: 24px;
    color: #333333;
    font-size: 13px;
}

footer .w35 {
    text-align: right;
    padding-top: 36px;
    font-size: 13px;
    color: #333333
}

footer .legion-logo img{
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    max-width: 100%;
}
footer .legion-logo span{
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    color: #333333;
    font-size: 13px;
    width: auto;
    max-width: 100%;
}
footer .legion-logo {
    /*padding-top: 20px;*/
    color: #333333;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    text-decoration: none
}

@media (max-width: 440px) {
    footer .legion-logo img{
        max-width: 40%;
    }
    footer .legion-logo span{
        line-height: normal;
        display: inline-block;
        vertical-align: middle;
        color: #333333;
        font-size: 13px;
        width: auto;
        max-width: 50%;
    }
}



footer .copyright {
    margin-top: 24px
}

footer .copyright span {
    margin-right: 60px
}

@media (max-width: 1250px) {
    header .head .head-nav {
        padding-left: 290px
    }
}

@media (max-width: 1180px) {
    html body header .head-nav {
        padding-left: 80px !important
    }
}

@media (max-width: 1100px) {
    html body header .head-nav {
        padding-left: 10px !important
    }
}

@media (max-width: 1299px) {
    body .mySwiper-pagination {
      /*  text-align: left;
        width: 120%*/
    }

    body .wrap {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media (max-width: 1140px) {
    body section .slider .mySwiper-pagination-item-arr {
        margin-left: 3px;
        top: 3px;
        margin-right: 0px
    }

    body section .slider .swiper-slide-content-desc {
     /*   font-size: 13px;
        line-height: 15px*/
    }

    body section .slider .mySwiper-pagination-item {
      /*  font-size: 12px;
        font-weight: bold;
        line-height: 15px*/
    }

    body .mySwiper-pagination {
        /*text-align: left;
        width: 120%*/
    }

    body .doc-item .doc-photo {
        max-width: 165px
    }

    body .doc-item .doc-info {
        padding-left: 190px
    }
}

@media (max-width: 1100px) {
    body section .review-item p {
        font-size: 14px;
        line-height: 18px
    }

    body section .contacts-block .cell {
        font-size: 15px
    }

    body section .contacts-block .cell:first-child {
        padding-left: 20px
    }

    body section .w35 .head-doc .prof, body section .w35 .head-doc .name {
        font-size: 15px
    }

    body section .w35 .head-doc .i {
        padding-top: 8px
    }
}

@media (max-width: 1230px) {
    .stood-intan .table .row .cell {
        display: block !important
    }

    body nav {
        height: 48px;
        overflow: hidden
    }

    body nav .wrap {
        text-align: justify
    }

    body nav .wrap a {
        margin-right: 0
    }

    body nav .wrap:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 0;
        line-height: 0;
        overflow: hidden
    }
}

@media (max-width: 1238px) {
    body header .addres ul li {
        margin-right: 7%
    }
}

@media (max-width: 1038px) {
    body header .addres ul li {
        margin-right: 2%
    }

    header .addres ul li a[data-action]:after {
        right: -50px
    }
}

@media (max-width: 1200px) {
    body header .addres, body header .head-nav {
        padding-left: 190px !important
    }

    body header .addres ul li {
    }

    body header div.logo {
        width: 330px;
        display: inline-block;
        vertical-align: top;
        padding-top: 32px;
        padding-bottom: 24px;
        position: absolute;
        left: 16px
    }
}

.ymaps-b-balloon__content .ymaps-b-balloon__content-body ymaps {
    font-size: 14px;
    text-align: center;
    padding-right: 20px
}

select {
    padding-left: 10px
}

.select2-search {
    display: none !important
}

.select2-results, .select2-dropdown {
    background: white !important
}

.select2-container--default .select2-results__option {
    background: white;
    font-size: 14px;
    color: #333333
}

.select2-results__option--highlighted {
    color: white
}

.select2-selection {
    border-radius: 0 !important
}

.select2-container .select2-container--default .select2-results__option {
    background: white
}

.select2-container .select2-selection--single, .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px !important;
    height: 37px !important
}

.select2 {
    height: 37px;
    margin-right: 40px;
    font-size: 14px;
    color: #333333
}

.select2 .select2-selection__rendered {
    line-height: 36px
}

.select2 .select2-selection {
    height: 37px
}

.select-label {
    margin-bottom: 28px;
    display: inline-block
}

.select-label .select2 {
    vertical-align: middle !important
}

.select-label .txt {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: inherit !important
}

* {
    outline: none
}

input:focus {
    border: 1px solid #3cb4e7 !important
}

.mySwiper-pagination-item.current {
    font-weight: bold;
    text-decoration: underline
}

article .select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border: 1px solid #e1e1e1 !important;
    border-radius: 0px !important
}

article .select2-selection {
    width: 100% !important
}

.pagination {
    text-align: center
}

.pagination span {
    cursor: default !important
}

.pagination a, .pagination span {
    margin-right: 6px;
    font-size: 16px;
    color: #383737;
    display: inline-block;
    width: 36px;
    cursor: pointer;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    line-height: 36px;
    border: 1px solid transparent;
    border-radius: 3px
}

.pagination a.active, .pagination span.active {
    background: #3cb4e7;
    border-color: #3cb4e7;
    cursor: default;
    color: white
}

.pagination a:not(span):not(.active):hover, .pagination span:not(span):not(.active):hover {
    border-color: #939393
}

.pagination a.word, .pagination span.word {
    width: auto;
    padding-left: 10px;
    padding-right: 10px
}

.fancybox-outer .thx .table .cell {
    line-height: 25px;
    height: 140px;
    vertical-align: middle;
    padding-bottom: 0px
}

.rm-file {
    display: none;
    z-index: 11;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: normal
}

#call-me-thx {
    border-radius: 10px;
    overflow: hidden
}

.rm-file:hover {
    opacity: .6
}

.thx {
    text-align: center;
    background: url(../../images/bg-main.png) repeat
}

.thx .table {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto
}

.thx * {
}

.enroll-2-doctor input:not(.seen):invalid {
    box-shadow: none;
    border-color: #e1e1e1 !important
}

.select2-container--open {
    z-index: 22222
}

section .list-price li .list-price > .head-3 {
    font-size: 14px;
    padding-left: 30px;
    line-height: 36px;
    background: #f4f4f4
}

section .list-price li .list-price li:nth-child(2n-1) {
    background: #ebebeb
}

section .list-price li .list-price li:nth-child(2n) {
    background: #f4f4f4
}

header .addres .change-city-drop-is_saintp {
    padding: 35px 30px 20px 30px;
    position: absolute;
    top: 59px;
    z-index: 99;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    width: 400px;
    background: #ffffff;
    display: none;
    left: 50%;
    margin-left: -220px
}

header .addres .change-city-drop-is_saintp a:hover {
    opacity: .8
}

header .addres .change-city-drop-is_saintp a {
    float: left;
    display: inline-block;
    background: #3cb4e7;
    color: white;
    font-size: 18px;
    line-height: 36px;
    padding-left: 20px;
    padding-right: 20px
}

header .addres .change-city-drop-is_saintp a + a {
    float: right
}

header .addres .change-city-drop-select {
/*    padding: 35px 30px 20px 30px;
    position: absolute;
    top: 59px;
    z-index: 99;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    width: 400px;
    background: #ffffff;
    display: none;
    left: 50%;
    margin-left: -220px*/
}

.change-city-drop-select a {
    width: 100%;
    line-height: 30px;
    display: block
}

.change-city-drop-select a span {
    text-decoration: underline;
    border: 0 !important;
    color: #333333 !important
}

.change-city-drop-select a:hover span {
    text-decoration: none
}

header .addres .h2 {
    color: #333333;
    padding-bottom: 15px;
    margin-bottom: 18px;
    font-size: 24px;
    font-family: pf_din_text_comp_proregular;
    border-bottom: 1px solid #ebebeb;
    text-align: center
}

header .addres .change-city-drop-is_saintp:before, header .addres .change-city-drop-select:before {
    content: '';
    display: inline-block;
    border: 8px solid transparent;
    border-bottom: 8px solid white;
    position: absolute;
    top: -16px;
    left: 50%
}

.link-btn:hover {
    opacity: .8
}

.link-btn {
    color: white;
    font-size: 18px;
    background: #3cb4e7;
    width: 260px;
    display: block;
    line-height: 36px;
    border: 0;
    margin-top: 36px;
    border-radius: 4px;
    text-align: center;
    margin-top: 36px;
    text-decoration: none;
    color: white !important;
    cursor: pointer
}

header .addres .change-city-drop-select .h2 {
    text-align: left !important
}

h6 {
    text-transform: uppercase;
    font-size: 48px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: pf_din_text_comp_proregular;
    color: #3c3131
}

.sitemap {
    position: relative
}

.sitemap a:hover {
    text-decoration: none
}

.sitemap a {
    text-decoration: underline;
    font-size: 14px;
    color: #333333;
    display: inline-block;
    line-height: 22px;
    margin-right: 22px
}

.sitemap .main-lavel a {
    font-family: pf_din_text_comp_proregular;
    color: #94c11f;
    font-size: 24px
}

.sitemap .spoier {
    border-bottom: 1px dashed #333333;
    cursor: pointer;
    text-decoration: none;
    height: 19px;
    position: relative;
    margin-bottom: 5px
}

.sitemap .spoier:hover {
    border-bottom: 1px solid #333333
}

.sitemap .spoier:after {
    border: 4px solid transparent;
    border-top: 7px solid #333333;
    content: "";
    display: inline-block;
    position: absolute;
    margin-top: 0px;
    right: -15px;
    top: 50%
}

.sitemap .lavel-4 .ul a {
    display: block;
    line-height: 2
}

.sitemap .lavel-4 .ul {
    padding-left: 20px;
    display: none;
    padding-top: 5px
}

.sitemap .spoier.open:after {
    border: 4px solid transparent;
    border-bottom: 7px solid #333333;
    content: "";
    display: inline-block;
    position: absolute;
    right: -15px;
    margin-top: -5px;
    top: 50%
}

.sitemap .main-lavel {
    padding-bottom: 24px
}

.sitemap .lavel-2 {
    padding-bottom: 24px
}

.sitemap .lavel-3 {
    padding-bottom: 24px
}

@media (max-width: 1250px) {
    .sitemap a {
        margin-right: 5px
    }
}
.footer-bo{
	bottom: 300px!important;
	top: auto!important;
}
.sitemap{
	position: relative;
}
.sitemap>div {
  border-left: 1px solid rgb(140, 198, 62);
  padding-left: 40px;
  margin-left: -40px;
  position: relative;
}
.sitemap>div:before{  content: '';
  background: url(../../images/site-map.png);
  width: 32px;
  height: 10px;
  position: absolute;
  left: -1px;
  top: 9px;}
  .sitemap:after{
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  background: whitesmoke;
  top: -28px;
  left: -56px;
  z-index: 1;
  }
  .sitemap:before{
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  background: whitesmoke;
  bottom: -27px;
  left: -56px;
  z-index: 1;
  };
