div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#999999;
        margin-bottom: 10px;
}

.news-detail h3{font-size;30px; color:#00843E; margin-bottom:20px;}

.news-detail{font-size:16px !important; line-height: 100%; margin: 20px 10% 0 0;}

.news-detail h3{font-size;30px; color:#00843E !important; margin-bottom:20px  !important; font-size:30px !important; line-height:100% !important;}

.news-detail .news-date-time {font-size:16px;}

p a{color:#000; border-bottom:1px solid #000;}
p a:hover{border:0;}

