/*Top menu*/

nav.header_menu {text-align: right;}
nav.header_menu ul li {
    display: inline;
    margin: 0 0 0 9px; 
}

nav.header_menu ul li a, nav.header_menu ul li span {
    font: normal normal 17px Arial, sans-serif;
    white-space: nowrap;
}
