@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic';
html {
	height: 100%;
}
body {
	margin:0;
	color:#000;
	font:14px/21px 'Open Sans', sans-serif;
	background:#fff;
	min-width: 320px;
	height: 100%;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}
img {
	border-style:none;
}
a {
	color:#26ade6;
	text-decoration: underline;
	outline:none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	outline: none !important;
}
* {
	outline:none;
}
input, textarea, select {
	font:100% 'Open Sans', sans-serif;
	vertical-align:middle;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
header,
nav,
section,
article,
aside,
footer,
figure,
menu,
dialog {
	display: block;
}
p {
	margin: 0 0 21px;
}
h1 {
	font-size: 30px;
	line-height: 36px;
	font-weight: normal;
	margin: 0 0 20px;
}
h2 {
	font-size: 24px;
	line-height: 28px;
	font-weight: normal;
	margin: 14px 0 24px;
}
h3 {
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	margin: 0 0 22px;
}
big {
	font-size: 16px;
}
small {
	font-size: 12px;
}
.rub {
	font-family: 'ALSRublRegular';
	font-weight: normal;
	font-style: normal;
}
.clear:after {
	display: block;
	clear: both;
	content: '';
}
.img-holder img,
.visual img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}
#wrapper{
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
#header {
	background: #94c11f;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
}
#main {
	-webkit-flex: 5000 1 auto;
	-moz-flex: 5000 1 auto;
	-ms-flex: 5000 1 auto;
	-o-flex: 5000 1 auto;
	flex: 5000 1 auto;
	position: relative;
	z-index: 2;
}
#footer {
	background: #ebebeb;
	padding: 49px 0;
}
.container{
	max-width: 1020px;
	/* width: 960px; */
	padding: 0 30px;
	margin: 0 auto;
}
.main-nav {
	white-space: nowrap;
	margin:0;
	padding:14px 0 10px 7px;
	height: 48px;
	list-style:none;
	font-size: 16px;
}
.main-nav li {
	display: inline-block;
	vertical-align: top;
	margin: 0 35px 0 0;
}
.main-nav li.active {
	font-weight: bold;
}
.main-nav a {
	text-decoration: none;
	color: #fff;
}
.header-phone {
	text-align: center;
	background: #2ba4d8;
	height: 48px;
	padding: 12px 0 0 0;
}
.header-phone .callback {
	text-decoration: none;
	color: #fff;
	border-bottom: 1px dashed;
}
.header-phone .callback:hover {
	border: none;
}
.header-phone .phone {
	display: inline-block;
	vertical-align: top;
	font:20px/20px 'pf_din_text_comp_promedium', sans-serif;
	margin: 2px 0 0 16px;
}
.header-phone .phone a {
	color: #fff;
	text-decoration: none;
}
.main-promo {
	padding: 97px 0 66px;
}
.logo{
	margin:0 0 39px;
	width:169px;
	height:61px;
	overflow:hidden;
	display:block;
	background:url(../images/logo.png) no-repeat;
	text-indent:-9999px;
	cursor:pointer;
}
.logo a{
	height:100%;
	display:block;
}
.section-title {
	font: 44px/48px 'pf_din_text_cond_promedium', sans-serif;
	text-transform: uppercase;
	margin: 0 0 5px;
}
.main-promo .section-title {
	font-size: 33px;
	line-height: 42px;
	margin: 0 0 20px;
}
.main-promo .text {
	margin: 0 0 10px;
	font:18px/24px 'pf_din_text_cond_prolight', sans-serif;
}
.main-promo .text p {
	margin: 0;
}
.main-promo .price {
	font:100px/104px 'pf_din_text_cond_promedium', sans-serif;
	margin: 0 0 10px -12px;
}
.btn-primary {
	background: #2ba4d8;
	border: none;
	font: 18px/20px 'pf_din_text_cond_promedium', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	padding: 13px 24px 12px;
}
.main-promo .help {
	color: #3cb4e7;
	font-size: 10px;
	line-height: 13px;
	padding: 10px 0 0;
	font-weight: 300;
}
.promo-visual {
	text-align: center;
	margin: 0 0 44px;
	position: relative;
}
.main-promo .visual-help {
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
	padding: 0 0 0 42px;
}
.main-promo .consult-info {
	position: absolute;
	top: 0;
	right: 0;
	/* display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; */
	width: 133px;
	height: 133px;
	border-radius: 500px;
	background: #94c11f;
	color: #fff;
	font-size: 13px;
	line-height: 18px;
	font-weight: 600;
}
.main-promo .consult-info span {
	margin: auto;
	display: block;
	padding: 40px 20px;
}
.text-slider-section {
	background: #94c11f;
	color: #fff;
	padding: 49px 0 43px;
	font:40px/44px 'pf_din_text_cond_promedium', sans-serif;
	text-transform: uppercase;
	text-align: center;
}
.text-slider-list {
	margin:0;
	padding:0;
	list-style:none;
}
.text-slider {
	opacity: 0;
	position: relative;
}
.text-slider.sliderActive {
	opacity: 1;
}
.bx-next,
.bx-prev {
	position: absolute;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-indent: -9999px;
	overflow: hidden;
}
.bx-prev {
	left: 0;
}
.bx-next {
	right: 0;
}
.text-slider .bx-next,
.text-slider .bx-prev {
	background: url(../images/arrows1.png) no-repeat;
	width: 8px;
	height: 13px;
}
.text-slider .bx-next {
	background-position: -8px 0;
}
.section-how-work {
	padding: 88px 0 93px;
}
.section-how-work .section-title {
	margin: 0 0 24px;
}
.how-work-list {
	margin:0;
	padding:0;
	list-style:none;
}
.how-work-slider .visual {
	/* display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; */
	height: 185px;
	line-height: 185px;
	padding: 0 0 0 50px;
	text-align: center;
}
.how-work-slider .visual img {
	/* margin: auto; */
	vertical-align: middle;
}
.how-work-title {
	font:30px/34px 'pf_din_text_cond_prolight', sans-serif;
	text-transform: uppercase;
	margin: 0 0 10px;
}
.how-work-text {
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #5c5c5c;
	padding: 0 150px 0 0;
}

.how-work-slider {
	position: relative;
	margin: 0 0 54px;
}
.how-work-slider .bx-next,
.how-work-slider .bx-prev {
	background: url(../images/arrows2.png) no-repeat;
	width: 25px;
	height: 50px;
}
.how-work-slider .bx-next {
	background-position: -25px 0;
}
.how-work-slider .bx-prev:hover {
	background-position: 0 -50px;
}
.how-work-slider .bx-next:hover {
	background-position: -25px -50px;
}
#bx-pager {
	padding: 0px;
	text-align: center;
}
#bx-pager a {
	display: inline-block;
	vertical-align: top;
	width: 125px;
	margin: 0 12px;
	text-align: center;
	position: relative;
	text-decoration: none;
}
#bx-pager a.active .num {
	background-color: #2ba4d8;
	border-color: #2ba4d8;
	color: #fff;
}
#bx-pager a:hover,
#bx-pager a:focus {
	text-decoration: none;
}
#bx-pager a:before {
	content: "";
	display: block;
	height: 1px;
	width: 90px;
	background-color: #94c11f;
	position: absolute;
	left: -60px;
	top: 20px;
}
#bx-pager a:first-child:before {
	display: none;
}
#bx-pager a .num {
	font-size: 30px;
	border-radius: 50%;
	font-family: 'pf_din_text_cond_prolight', sans-serif;
	font-weight: lighter;
	color: #000;
	display: block;
	margin: 0 auto 10px;
	width: 41px;
	height: 41px;
	line-height: 40px;
	border: 2px solid #94c11f;
	text-align: center;
	text-decoration: none;
}
#bx-pager a .desc {
	font-size: 13px;
	line-height: 18px;
	color: #000;
	font-weight: lighter;
}

.booking-section {
	background: #94c11f;
	color: #fff;
	padding: 49px 0 43px;
}
.booking-section .text {
	font:40px/44px 'pf_din_text_cond_promedium', sans-serif;
	text-transform: uppercase;
	text-align: center;
}
.doctors-section {
	padding: 88px 0 80px;
}
.doctors-section .section-title {
	margin: 0 0 33px;
}
.doctor-slider {
	position: relative;
	margin: 0 0 46px;
	padding: 0 30px;
}
.doctor-list {
	margin:0;
	padding:0;
	list-style:none;
}
.doctor-slider p {
	margin: 0;
}
.doctor-slider .slide-wrap {
	padding: 0 30px;
	text-align: center;
	margin: 0 auto;
	max-width: 300px;
}
.doctor-slider .visual {
	margin: 0 0 25px;
}
.doctor-slider .visual img {
	vertical-align: top;
	display: inline;
	border-radius: 500px;
}
.doctor-slider .doctorName {
	font:24px/30px 'pf_din_text_cond_proregular', sans-serif;
	letter-spacing: .025em;
	text-transform: uppercase;
	margin: 0 0 10px;
}
.doctor-slider .doctorPost {
	color: #8e8e8e;
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
}
.all-doctors-link {
	font-size: 16px;
	line-height: 19px;
}
.slick-arrow {
	background: url(../images/arrows2.png) no-repeat;
	width: 25px;
	height: 50px;
	position: absolute;
	top: 118px;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-indent: -9999px;
	overflow: hidden;
	border: none;
	z-index: 11;
}
.slick-prev {
	background-position: 0 0;
	left: -30px;
}
.slick-next {
	background-position: -25px 0;
	right: -30px;
}
.slick-prev:hover {
	background-position: 0 -50px;
}
.slick-next:hover {
	background-position: -25px -50px;
}
.write-section {
	background: #8fb924;
	color: #fff;
	padding: 36px 0 0;
	position: relative;
	overflow: hidden;
}
.write-description {
	font:40px/50px 'pf_din_text_cond_prolight', sans-serif;
	text-transform: uppercase;
	margin: 0 0 6px;
	padding: 3px 0 0;
}
.write-title {
	font:40px/44px 'pf_din_text_cond_promedium', sans-serif;
	margin: 0 0 22px;
	text-transform: uppercase;
}
.write-text {
	margin: 0 0 29px;
	font-size: 18px;
	line-height: 24px;
}
.write-wrap {
	position: relative;
	z-index: 2;
	padding: 0 0 40px;
}
.write-visual {
	position: relative;
}
/* .write-visual:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -660px;
	background: url(../images/deco01.png) no-repeat;
	width: 1025px;
	height: 671px;
} */
.write-visual img {
	position: relative;
	z-index: 3;
	margin: 0 0px 0 -112px;
	max-width: 540px;
}
.map-section {
	padding: 67px 0 68px;
}
.section-description {
	font:30px/33px 'pf_din_text_cond_prolight', sans-serif;
	text-transform: uppercase;
	margin: 0 0 29px;
}
/* map */
.subway_map {
	z-index: 1;
	width: 660px;
	height: 688px;
	position: relative;
	margin: 9px auto 0;
	background: url(../images/metromap.png) no-repeat;
}
.subway_map div {
	display: block;
	position: absolute;
	height: 30px;
	width: 24px;
	background: url(../images/map-item.png) no-repeat;
	z-index: 2;
}
.subway_map div a {
	display: block;
	height: 100%;
	width: 100%
}
.subway_map .sub_avtovo {
	bottom: 110px;
	left: 141px
}
.subway_map .sub_kupchino {
	bottom: 14px;
	left: 257px
}
.subway_map .sub_lomonosov {
	bottom: 105px;
	right: 176px
}
.subway_map .sub_mezhdunar {
	bottom: 103px;
	right: 277px
}
.subway_map .sub_bolshevik {
	bottom: 217px;
	right: 87px
}
.subway_map .sub_dibenko {
	bottom: 190px;
	right: 87px
}
.subway_map .sub_ligov {
	bottom: 287px;
	right: 224px
}
.subway_map .sub_ligov_obvod {
	bottom: 180px;
	right: 277px
}
.subway_map .sub_pertograd {
	top: 201px;
	left: 258px
}
.subway_map .sub_grazhdan {
	top: 67px;
	right: 270px
}
.subway_map .sub_udel {
	top: 95px;
	left: 258px
}
.subway_map .sub_komendant {
	top: 94px;
	left: 130px
}
.subway_map .sub_komendant2 {
	top: 94px;
	left: 154px
}
.subway_map .sub_starder {
	top: 120px;
	left: 143px
}
.subway_map .sub_voznesenskiy {
	top: 367px;
	left: 258px
}
.subway_map .sub_varshav {
	top: 590px;
	left: 258px;
}
.subway_map .sub_ozerki {
	top: 70px;
	left: 257px
}
.subway_map .sub_prosvet {
	top: 41px;
	left: 257px
}
.subway_map .sub_bolshoi {
	left: 30px;
	top: 275px;
}
.subway_map .sub_novsmol {
	left: 3px;
	top: 250px;
}
/* map end */

.footer-social {
	margin:0;
	padding:0 0 20px;
	list-style:none;
}
.footer-social li {
	display: inline-block;
	vertical-align: top;
	height: 28px;
	margin: 0 6px 0 0;
	overflow: hidden;
}
.footer-social img {
	vertical-align: top;
}
.footer-social a:hover img {
	margin-top: -28px;
}
.footer-text {
	max-width: 310px;
	font-size: 11px;
	line-height: 14px;
}
.footer-text .info {
	font-size: 10px;
	margin: 0 0 14px;
}
.footer-text p {
	margin: 0 0 11px;
}
.footer-text address {
	font-style: normal;
	font-size: 12px;
	margin: 0;
	padding: 4px 0 0;
}
#footer .right {
	text-align: right;
}
.footer-logo{
	margin:0 0 28px 170px;
	width:86px;
	height:30px;
	overflow:hidden;
	display:block;
	background:url(../images/footer-logo.png) no-repeat;
	text-indent:9999px;
	cursor:pointer;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.footer-logo:before {
	content: '';
	overflow: auto;
	background: url(../images/footer-logo_color.png) no-repeat;
	width: 86px;
	height: 30px;
	top: 0;
	left: 0;
	display: none;
}
.footer-logo:hover {
	background: none;
}
.footer-logo:hover:before {
	display: block;
}

.footer-logo a{
	height:100%;
	display:block;
	opacity: 0;
}
.footer-info {
	font-size: 11px;
	line-height: 19px;
	margin: 0 0 22px;
	max-width: 310px;
	display: inline-block;
	vertical-align: top;
}
.created {
	margin: 0;
}
.created-text {
	display: inline-block;
	vertical-align: top;
	font-size: 10px;
	line-height: 13px;
	margin: 10px 14px 0 0;
}
.created-logo{
	margin:0;
	width:91px;
	height:34px;
	overflow:hidden;
	display:block;
	background:url(../images/created-logo.png) no-repeat;
	text-indent:9999px;
	cursor:pointer;
	display: inline-block;
	vertical-align: top;
}
.created-logo a{
	height:100%;
	display:block;
	opacity: 0;
}
.popup-holder{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:50;
	left: -9999px;
	top: -9999px;
}
.popup-holder .bg{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	min-width: 300px;
	height:100%;
	background:#000;
	filter: alpha(opacity=40);
	opacity: 0.4;
}
.popup{
	position:absolute;
	left:50%;
	top:150px;
	width: 540px;
	margin-left:-270px;
	background: #fff;
	border-radius: 5px;
}
.popup .close {
	position: absolute;
	top: 28px;
	right: 36px;
	background: url(../images/close.png) no-repeat;
	width: 18px;
	height: 17px;
	text-indent: -9999px;
	overflow: hidden;
	opacity: 1;
}
.popup .close:hover {
	opacity: .7;
}
.popup-head {
	text-align: center;
	border-bottom: 1px solid rgba(175,175,175,.23);
	padding: 21px 50px 18px;
}
.popup-title {
	font:24px/37px 'pf_din_text_cond_promedium', sans-serif;
	text-transform: uppercase;
	letter-spacing: .025em;
}
.popup-main {
	padding: 33px 105px 75px;
}
.form-row {
	margin-bottom: 9px;
}
.input-holder {
	display:block;
	padding: 10px 15px 9px;
	border: 1px solid #e1e1e1;
	height: 39px;
}
.input-holder.error {
	border-color: red;
}
.input-holder.parent-focus {
	border-color: #3db4e7;
}
.input-holder input {
	float: left;
	width: 100%;
	padding: 0;
	background: none;
	border: none;
	height: 18px;
	font-size:14px;
	line-height:18px;
	color:#000;
}
.fs-dropdown.fs-light .fs-dropdown-selected {
	height: auto;
	padding-top: 10px;
	padding-bottom: 9px;
	border-radius: 0;
	color: #6f6f6f;
	font-size: 14px;
	line-height: 18px;
	border-color: #e1e1e1;
}
.fs-dropdown.fs-light.fs-dropdown-focus .fs-dropdown-selected, 
.no-touchevents .fs-dropdown.fs-light .fs-dropdown-selected:hover {
	border-color: #ccc;
	color: #6f6f6f;
}
.fs-dropdown.fs-light .fs-dropdown-options {
	border-color: #ccc;
}
.fs-light.fs-dropdown-options.fs-scrollbar .fs-scrollbar-bar {
	border: none;
	background: #efefef;
	width: 16px;
}
.fs-scrollbar.fs-light .fs-scrollbar-track {
	background: #efefef;
}
.fs-scrollbar.fs-light .fs-scrollbar-handle {
	background: #d1d1d1;
	border: none;
	width: 8px;
	right: 4px;
}
.fs-dropdown.fs-light .fs-dropdown-item {
	color: #6f6f6f;
	font-size: 14px;
	line-height: 18px;
	padding: 14px 11px;
}
.fs-dropdown.fs-light .fs-dropdown-item + .fs-dropdown-item {
	/* border-top: 1px solid #ccc; */
}
.fs-dropdown.fs-light .fs-dropdown-item_selected,
.fs-dropdown.fs-light .fs-dropdown-item:hover, 
.no-touchevents .fs-dropdown.fs-light .fs-dropdown-item_selected:hover {
	background: #55b8e1;
	border-top-color: #55b8e1;
	color: #fff;
}
.fs-dropdown.fs-light .fs-dropdown-selected:after {
	border-top-color: #e1e1e1;
}
.fs-dropdown.fs-light.fs-dropdown-focus .fs-dropdown-selected:after, .no-touchevents .fs-dropdown.fs-light .fs-dropdown-selected:hover:after {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 0px solid #e1e1e1;
	border-bottom: 5px solid #ccc;
}
.popup .btn-holder {
	padding-top: 15px;
}
.address-list {
	margin:0;
	padding:0 0 49px;
	list-style:none;
	border-top: 1px solid #ececec;
}
.address-list > li {
	border-bottom: 1px solid #ececec;
	padding: 24px 31px 35px;
}
.address-head {
	margin: 0 0 33px;
	font-size: 18px;
	line-height: 22px;
}
.address-head .num {
	color: #8fb924;
	font:22px/22px 'pf_din_text_cond_promedium', sans-serif;
	display: inline;
	margin: 0 5px 0 0;
}
.address-head .title {
	display: inline;
}
.address-metro-item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	padding: 0 0 0 25px;
	margin: 0 42px 0 0;
}
.address-metro-item:before {
	content: '';
	position: absolute;
	background: url(../images/metro-ico.png) no-repeat;
	width: 16px;
	height: 16px;
	top: 50%;
	left: 0;
	margin-top: -8px;
}
.address-phone-item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	padding: 0 0 0 25px;
	margin: 0 42px 0 0;
}
.address-phone-item:before {
	content: '';
	position: absolute;
	background: url(../images/phone-ico.png) no-repeat;
	width: 16px;
	height: 16px;
	top: 50%;
	left: 0;
	margin-top: -8px;
}
.load-more-wrap {
	font-size: 18px;
	line-height: 24px;
}
a.load-more {
	text-decoration: none;
	border-bottom: 1px dashed;
}
.nav-opener {
	display: none;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 11px;
	right: 46px;
}
.nav-opener span {
	display: block;
	position: relative;
	width: 100%;
	height: 3px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -1.5px 0 0;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.nav-opener span:before,
.nav-opener span:after {
	content: '';
	position: absolute;
	width: 100%;
	background: #fff;
	height: 3px;
	top: -8px;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.nav-opener span:after {
	top: 8px;
}
.nav-active .nav-opener span {
	background: none;
}
.nav-active .nav-opener span:before {
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 8px 0 0;
}
.nav-active .nav-opener span:after {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin: -8px 0 0;
}
.map-frame {
	height: 640px;
}
.has-map {
	padding-bottom: 0;
}
.doctor-slider.one-item .slide-wrap {
	max-width: 520px;
}
.send-btn {
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.025em;
	padding-left: 50px;
	padding-right: 50px;
}
.sended-info {
	display: none;
	text-align: center;
	font-size: 22px;
	line-height: 24px;
}
.address-list a {
	text-decoration: none;
	color: #000;
	display: block;
}