
/* Start:/local/templates/.default/components/bitrix/menu/tree1/style.css*/
.servise_menu ul li ul li.active a{color:#007D32; border:none;}
/* End */

/* Start:/local/templates/.default/components/bitrix/breadcrumb/template1/style.css*/
nav.breadcrumb-navigation {font:normal normal 11px arial, sans-serif;color:#000;}
nav.breadcrumb-navigation ul li{display:block;float:left;list-style:none;margin: 0;}
nav.breadcrumb-navigation ul li span.sep {margin: 3px 5px 0;display:block;background: url(/images/mp_sprite.png) no-repeat -67px -90px;height:7px;width:4px;}
nav.breadcrumb-navigation ul li a {color:#8a8a8a;border-bottom:1px solid #8a8a8a;}
nav.breadcrumb-navigation ul li a:hover{border:0;}
/* End */

/* Start:/bitrix/components/bitrix/system.show_message/templates/.default/style.css*/
font.errortext
{
	color:red;
}

font.notetext
{
	color:green;
}
/* End */
