@charset "utf-8";

@font-face {font-family: 'PT Sans';
            src: url('/fonts/pts55f_w.eot');
            src: local('PT Sans'), url('/fonts/pts55f_w.woff') format('woff'),url('/fonts/pts55f_w.ttf') format('truetype'), url('/fonts/pts55f_w.svg#PTSans-Regular') format('svg');}

@font-face {font-family: 'PT Sans';
            font-style: italic;
            src: url('/fonts/pts56f_w.eot');
            src: local('PT Sans Italic'), url('/fonts/pts56f_w.woff') format('woff'),url('/fonts/pts56f_w.ttf') format('truetype'), url('/fonts/pts56f_w.svg#PTSans-Italic') format('svg');}

@font-face {font-family: 'PT Sans';
            src: url('/fonts/pts75f_w.eot');
            font-style: normal;
            font-weight: bold;
            src: local('PT Sans Bold'), url('/fonts/pts75f_w.woff') format('woff'),url('/fonts/pts75f_w.ttf') format('truetype'), url('/fonts/pts75f_w.svg#PTSans-Bold') format('svg');}

@font-face {font-family: 'PT Sans';
            font-style: italic;
            font-weight: bold;
            src: url('/fonts/pts76f_w.eot');
            src: local('PT Sans Bold Italic'), url('/fonts/pts76f_w.woff') format('woff'),url('/fonts/pts76f_w.ttf') format('truetype'), url('/fonts/pts76f_w.svg#PTSans-BoldItalic') format('svg');}

@font-face {font-family: 'PT Serif';
            src: url('/fonts/ptf55f_w.eot');
            src: local('PT Serif'), url('/fonts/ptf55f_w.woff') format('woff'),url('/fonts/ptf55f_w.ttf') format('truetype'), url('/fonts/ptf55f_w.svg#PTSerif-Regular') format('svg');}

@font-face {font-family: 'PT Serif';
            font-style: italic;
            src: url('/fonts/ptf56f_w.eot');
            src: local('PT Serif Italic'), url('/fonts/ptf56f_w.woff') format('woff'),url('/fonts/ptf56f_w.ttf') format('truetype'), url('/fonts/ptf56f_w.svg#PTSerif-Italic') format('svg');}

@font-face {font-family: 'PT Serif';
            src: url('ptf75f_w.eot');
            font-style: normal;
            font-weight: bold;
            src: local('PT Serif Bold'), url('/fonts/ptf75f_w.woff') format('woff'),url('/fonts/ptf75f_w.ttf') format('truetype'), url('/fonts/ptf75f_w.svg#PTSerif-Bold') format('svg');}

@font-face {font-family: 'PT Serif';
            font-style: italic;
            font-weight: bold;
            src: url('/fonts/ptf76f_w.eot');
            src: local('PT Serif Bold Italic'), url('/fonts/ptf76f_w.woff') format('woff'),url('/fonts/ptf76f_w.ttf') format('truetype'), url('/fonts/ptf76f_w.svg#PTSerif-BoldItalic') format('svg');}

@font-face {
    font-family: 'ALSRublRegular';
    src: url('/fonts/rouble-webfont.eot');
    src: url('/fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/rouble-webfont.woff') format('woff'),
        url('/fonts/rouble-webfont.ttf') format('truetype'),
        url('/fonts/rouble-webfont.svg#ALSRublRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.container nav ul li {list-style-image:none;margin:0;}

/* servise classes */

.hdn {display: none;}
.left {float: left;}
.right {float:right;}
.clear {clear: both;}
.al_right {text-align: right;}
.al_left {text-align: left;}
.al_center {text-align: center;}
.flexible {max-width: 100%; height: auto;}
.fullsize {width: 100%;}
.w33per {width: 33%;}
.w20per {width: 20%;}
.w25per {width: 25%;}
.w30per {width: 30%;}
.w35per {width: 35%;}
.w40per {width: 40%;}
.w45per {width: 45%;}
.w50per {width: 50%;}
.w55per {width: 55%;}
.w60per {width: 60%;}
.w70per {width: 70%;}
.bold {font-weight: bold;}
.sp {margin-bottom: 20px;}
.bold {font-weight: bold;}
.red {color: #ff0000;}
.rouble {font-family: "ALSRublRegular";}
.oblique {font-style: oblique;}

/****/
body{background:#fff;font:normal normal 12px/133% Arial, sans-serif;}
.container {width: 960px;margin:0 auto;clear:both;}
a {text-decoration:none;}

#page_header {padding:10px 0 50px;position:relative;z-index:30;}
.h_phone {float:left;width:170px;text-align:center;}
#page_h {width:170px;height:62px;background: url(/images/logo-new.png) no-repeat 0 0;margin:20px 0 0;}
#page_h a {display:block;height:100%;width:100%;text-indent: 100%;white-space:nowrap;overflow:hidden;}
.header_phone {padding:25px 0 0;font-size:23px;color:#333;white-space:nowrap;overflow:visible;}
#header_zvonok{font:normal 13px arial; color:#3b3b3b; cursor:pointer; text-align:left; margin:10px 0 0 0;}
#header_zvonok span{border-bottom:1px dashed;}
#zvonok_prostynya{display:none; position:absolute; z-index:99999; width:100%; height:9999px; background:url(/images/zvonok_bg.png) repeat 0 0;}
#zvonok_prostynya .errortext{margin:0 0 0 120px; display: block; font:bold normal 14px/18px Arial;}
#zvonok_prostynya .notetext{margin:0 0 30px 120px; display: block; font:bold normal 22px/24px Arial;}
#zvonok_inc{position:relative; margin:150px auto 0 auto; width:600px;background:#fff;padding: 15px;border: 1px solid #CCC;border-radius: 10px;}
#zvonok_inc h2{font:bold normal 22px Arial; margin:0 0 40px 120px;}
#zvonok_close{width:16px; height:16px; position:absolute; top:15px; right:15px; cursor:pointer; background: url(/images/mp_sprite.png) no-repeat -186px -122px;}
#zvonok_close:hover{background: url(/images/mp_sprite.png) no-repeat -170px -122px;}
#zvonok_inc input[type="submit"]{width:142px; height:37px; background: url(/images/mp_sprite.png) no-repeat 0 -431px; border:0; cursor:pointer; color:#fff; font:bold 13px Arial; margin:0 0 0 120px;}
#zvonok_inc input[type="submit"]:hover{background: url(/images/mp_sprite.png) no-repeat 0 -467px;}
#zvonok_inc input[type="submit"]:active{background: url(/images/mp_sprite.png) no-repeat 0 -505px;}
#zvonok_inc input[type="button"]{width:126px; height:37px; background: url(/images/mp_sprite.png) no-repeat 0 -542px; border:0; cursor:pointer; color:#000; font:bold 13px Arial;}
#zvonok_inc input[type="button"]:hover{background: url(/images/mp_sprite.png) no-repeat 0 -579px;}
#zvonok_inc input[type="button"]:active{background: url(/images/mp_sprite.png) no-repeat 0 -616px;}
.zvonok_l_name{float:left; width:95px; margin:0 25px 0 0; text-align:right; font:bold normal 12px/31px Arial; color:#333;}
.zvonok_r_input{margin:0 0 20px 0;}
.zvonok_r_input input[type=text]{width:243px; height:28px; font:normal 17px/28px Arial; border:1px solid #999999;}
.zvonok_r_input label{font:normal 14px Arial;}
.zvonok_r_input label input[type=radio]{vertical-align: top;}
.zvonok_r_input1{margin-left:120px !important;}
.zvonok_r_input1 label{display:block !important;}


.header_right {float:left;margin:0 0 0 100px;}
.cen_summ_num {font:italic normal 46px "PT sans", arial, sans-serif;color:#7ed600;float:left;width:39px;margin: 0 0 0 -10px;text-align:right;}
.cen_summ_text {margin:0 0 0 40px;padding:33px 0 0;font-size:16px;color:#303030;}
.cen_summ_col {float:left;margin:16px 70px 0 0;font-size:9px;text-transform:uppercase;}
.cen_summ_col.last {margin-right:0;}
.cen_summ_col p {margin:0 0 5px;}
.cen_summ_col a {color:#000;border-bottom:1px solid #303030; position: relative;}
.cen_summ_col a .con_list_link_special {top: -4px;}

@media screen and (max-width:1125px){
    .cen_summ_col a .con_list_link_special {
        right: 0;
        top: 20px;
    }

}

.cen_summ_col a:hover {border:0;}

.top_nemu_wrap {height:46px;width:960px;position:absolute;bottom:-24px;z-index:70;}
.top_menu_left {float:left;height:46px;width:23px;background:url(/images/mp_sprite.png) no-repeat 0 -69px;}
.top_menu_right {float:right;height:46px;width:23px;background:url(/images/mp_sprite.png) no-repeat -23px -69px;}
.top_menu {margin:0 23px;background:url(/images/gradients.png) repeat-x 0 0;height:46px;}
.top_menu ul li {list-style:none;display:block;float:left;padding: 12px 6px 0 7px;;margin:0;}
.top_menu ul li a {font:normal bold 15px Arial, sans-serif;color:#007833;}
.top_menu ul li a:hover {border-bottom:1px solid #007833;}
.top_menu ul li a.active, .top_menu ul li a.active:hover {color:#333;border:0;}
.top_menu_decor {display:block;height:5px;width:5px;background: url(/images/mp_sprite.png) no-repeat -48px -114px;margin:8px 4px 0;}

#page_footer {background:#F2F2F2;padding:33px 0 0;margin:40px 0 0;clear: both;width:100%;}
#page_footer .container {background: url(/images/ft-leaves.png) no-repeat left bottom;padding:0 0 50px;}
.legion_logo{display:block;border:0;height:51px;width:51px;background:url(/images/mp_sprite.png) no-repeat -78px -71px;margin:0 10px;float:right;text-indent:100%;white-space:nowrap;overflow:hidden;}
.foot_made_by {float:right;margin:31px 0 0;width:345px;}
.foot_made_by p{font-style:italic;color:#2C2C2C;float:right;margin:16px 0 0;}
.foot_made_by p a {color:#2C2C2C;border-bottom:1px solid #2C2C2C;}
.foot_made_by p a:hover {border:0;}
.footer_content {margin:0 0 0 110px;}
.container .bottom_menu ul li {list-style:none;display:inline;margin:0 16px 0 0;font-weight:bold;}
.bottom_menu ul li a {color:#3D3D3D;border:0;}
.bottom_menu ul li a:hover {border-bottom:1px solid #3D3D3D;}
.foot_copy {margin:26px 0 7px;}
.bevare_stranger {color:#767676;}

.green_bump {background:#6BB130;width:100%;height:32px;margin: 2px 0 0;}

.mp_kinds_ser {height:137px;padding:20px 0;background:#5F5F5F url(/images/9pxshdw.png) repeat-x top;width:100%;min-width:960px;}
.mp_kinds_ser_item {float:left;width:25%;text-align:center;}
.mp_kinds_ser_item span {margin:-13px 0 0;display:block;color:#fff;font:normal bold 14px Arial, sans-serif;}
.mp_kinds_ser_item span span {display:inline;}
.mp_kinds_ser_item a:hover span span {border-bottom:1px solid #fff;}
.mp_content {background:#fff;padding: 30px 0 75px;}
.mp_content_inner {width:990px;margin:0 auto;}
.mp_content_inner h1 {font:normal normal 24px 'PT sans', Arial, sans-serif;color:#007833;margin: 0 10px 20px;}
.mp_small_art {padding:15px 10px;border-radius:5px;color:#2A2A2A;margin: 0 0 30px;}
.mp_art_col {margin:0 0 0 40px;width:330px;float:left;}
.f1f1 {background:#F1F1F1;}
.mp_art_pic{float:left;width:200px;}
.mp_small_art h1, .mp_small_art h2 {font:normal bold 15px arial, sans-serif;color:#2A2A2A;margin:0 0 10px 240px;}
.mp_green_line {width:100%;height:77px;background: url(/images/wel1px.png) repeat-x 0 0;}
.mp_green_line_inner {background: url(/images/mp_green_line.png) no-repeat center;width:960px;height:77px;}

.pic_shadow {height:21px;width:152px;background:url(/images/mp_sprite.png) no-repeat 0 -122px;}
.mp_art_pic_bot .pic_shadow {float:right;margin: -4px 4px 0 0;}

.servise_menu {width:240px;}
.servise_menu h4 {font:normal bold 13px Arial, sans-serif;margin:0 0 10px;}
.servise_menu li {list-style-image: url(/images/leaf.png)!important;border-bottom:1px solid rgba(0, 0, 0, .2);padding:8px 0 7px;list-style-position: inside;margin:0;}
.servise_menu li:last-child, .servise_menu li.last {border:0;}
.servise_menu li a {font:normal normal 14px Arial, sans-serif;color:#000;}
.servise_menu li a:hover {border-bottom:1px solid #000;}
.servise_menu li ul {margin: 0 0 0 28px;display:none;}
.servise_menu li.active ul {display:block;}
.servise_menu li.active a, .servise_menu li ul li a.active {font-weight:bold;color:#007833;}
.servise_menu li.active ul li a {font-weight:normal;color:#000;}
.servise_menu li ul li {list-style:none!important;border:0;}
.servise_menu li ul li a {font-size:12px;color:#454545;border-bottom:1px solid #454545;}
.servise_menu li ul li a:hover {border:0}

.mp_slider_wrap {width:100%;min-width:960px;height:416px;margin: -62px 0 0;position:relative;z-index:3;background:#fff;}
.mp_slider_wrap .servise_menu {position:absolute;z-index:99;left:0;top:25px;}
.mp_slider_wrap .container {position:relative;z-index:15;}
#mp_slides {position: relative;z-index:4;}
.slides_container {height:416px;width:100%;z-index:4;}
.slides_control {z-index:4;}
.slider_item {height:416px;width:auto;position:relative;z-index:2}
.slider_item_inner {width:960px;position:absolute;height:390px;top:26px;left:50%;margin-left:-480px;z-index:3;}
.slider_pagination_wrap {margin:0 auto;width:960px;position: relative;z-index:60;}
.slider_pagination {display:block;bottom:28px;left:290px;position:absolute;z-index:99;}
.slider_pagination li {
    display:block;
    float:left;
    width:13px;
    height:14px;
    margin:0 9px 0 0;
    background: url('/images/mp_sprite.png') no-repeat;
    background-position: -48px -87px;
}
.slider_pagination li.active {
    background: url('/images/mp_sprite.png') no-repeat;
    background-position: -48px -73px !important;
}
.slider_pagination li a {display:block;height:100%;width:100%;text-indent:100%;white-space:nowrap;overflow:hidden;}
.slider_item_cont {height:100%;width:100%;position:relative;z-index:3}
.mp_slider_shadow {position:absolute;background: url(/images/2pxshdw.png) repeat-x top;top:0;height:2px;width:100%;left:0;z-index:6;}

.slide1text {color:#fff;width:410px;font-size:13px; line-height:17px; margin: 30px 0 0 270px;}
.slide1text h4, .slide2text h4 {font:normal normal 30px/32px 'PT sans', Arial, sans-serif;margin:0 0 15px;}
.slide1text p {margin:0 0 15px;}
.slide1sign, .slide2sign {margin:0 0 0 270px;width:410px;color:#000;text-align:right;font-family:Georgia, sans-serif; position:absolute; bottom:30px;}
.slide1sign a, .slide2sign a {color:#000;font:normal normal 14px Georgia, sans-serif;border-bottom:1px solid #000;}
.slide1sign a:hover , .slide2sign a:hover{border:0;}
.slide1sign p.last, .slide2sign p.last {margin:10px 0 0;font-style:italic;}
.slider1img {position:absolute;right:0;bottom:0;}
.slide2text {color:#000;width:410px;font-size:13px; line-height:17px; margin: 30px 0 0 270px;}
.slide2text h4 {color:#7ed600;}
.slide5text {background:#7ed600;padding:7px 10px;border-radius:7px;color:#fff;font:normal normal 28px 'PT sans', arial, sans-serif;margin:15px 0 0 300px;width:460px;}

#main_content {padding:30px 0 0;}
.left_sidebar {width:240px;float:left;margin: 0 0 40px;}
.banners img {margin:20px 0 0;}

.content_part {margin: 0 0 40px 50px;float: left;width: 670px;}
.main_h {font:normal normal 24px 'PT sans', arial, sans-serif;color:#007833;margin:0 0 20px;}
.article_inner h2 {font:normal bold 15px Arial, san-serif;color:#000;margin:0 0 16px;}
.article_inner_img {float:left;}
.article_inner_text {margin:0 0 0 260px;}
.article_inner_text p {margin:0 0 20px;}

.ser_slider_container {padding:0 0 35px;position:relative;margin:0 0 20px;overflow: hidden;}
.ser_slider_container h4 {font:normal bold 15px Arial, sans-serif;margin:0 0 20px;}
.ser_slider_container h4 a {margin:0 0 0 17px;color:#fff;font:normal bold 12px arial, sans-serif;padding:3px 12px; border-radius:10px;background:#77aa40;}
.ser_slider_container h4 a:hover {text-decoration:underline;}
#ser_slider {width:670px;height:200px;position:relative;}
#ser_slider .slides_container {width:670px;height:200px;}
.ser_slider_item {width:670px;height:200px;}
.ser_slid_next, .ser_slid_prev {display:block;position:absolute;height:20px;width:12px;background:url(/images/mp_sprite.png) no-repeat;bottom:-22px;text-indent:100%;white-space:nowrap;overflow:hidden;}
.ser_slid_next {background-position:-14px -144px;left:138px;}
.ser_slid_prev {background-position:0 -144px;left:39px;}
.ser_pagination {position:absolute;bottom:-19px;left:65px;margin:0!important;}
.ser_pagination li {display:block;height:10px;width:10px;float:left;background: url(/images/mp_sprite.png) no-repeat -28px -156px;margin: 0 6px 0 0!important;}
.ser_pagination li a {height:100%;width:100%;display:block;text-indent:100%;white-space:nowrap;overflow:hidden;}
.ser_pagination li.active {background-position: -28px -144px;}
.ser_slider_item img {float:left;width:180px;height:auto;}
.ser_slider_text {margin:0 0 0 260px;}
.ser_slider_text .doctor_says {font:normal normal 24px 'PT sans', arial, sans-serif;color:#6BB130}
.ser_slider_text .doctor_name {margin: 15px 0 8px;font:normal normal 14px Georgia, serif;}
.ser_slider_text .doctor_name a {color:#000;border-bottom:1px solid #000;}
.ser_slider_text .doctor_name a:hover {border:0;}
.doctor_post {font:italic normal 12px Georgia, serif;}

.square_pager {margin:40px 0;font:normal normal 16px arial, sans-serif;clear:both;}
.square_pager p {float:left;color:#000;margin:0 15px 0 0;padding:4px 0 0;}
.square_pager ul li{float:left;padding:4px 9px;text-align:center;}
.square_pager ul li a {color:#000;}
.square_pager ul li a:hover {border-bottom:1px solid #000;}
.square_pager ul li.active {background:#c3c3c3;color:#fff;}
.square_pager ul li.active a {color:#fff;}
.square_pager ul li.active a:hover {border:0;}

.actions_item {width:300px;float:left;margin:0 65px 50px 0;}
.action_item_img {position:relative;z-index:1;}
.omgaction {display:block;z-index:2;top:-1px;left:-1px;height:59px;width:59px;background: url(/images/mp_sprite.png) no-repeat -39px -143px;position: absolute;}
.actions_item.last {margin:0 0 50px;}
.actions_item p {margin:8px 0 0;font:normal normal 15px/21px Arial, sans-serif;}
.actions_item a, .latest_actions_item a {color:#000; border-bottom:1px solid #000;}
.actions_item a:hover, .latest_actions_item a:hover {border:0;}

.singe_action_img {/*width:45%;*/margin:0 20px 20px 0;/*float:left;*/}
.singe_action_img img, .latest_actions_item_img img {max-width:100%;width:auto;height:auto;}
.single_action_text {/*margin:0 0 0 50%;*/color:#000;font:normal normal 16px/22px Arial, sans-serif;}
.single_action_text p {margin:0 0 20px;}
.latest_actions {clear:both;margin:30px 0;}
.latest_actions h3 {color:#333;font:normal bold 16px Arial, sans-serif;margin:0 0 15px;}
.latest_actions_item p {margin:8px 0 0;font:normal normal 13px Arial, sans-serif;}
.latest_actions_item {width:190px;margin:0 50px 0 0;float:left;}
.latest_actions_item.last {margin:0;}
.latest_actions_item_img {width:140px;position:relative;z-index:1;}

.forma_zapisi {z-index:1;position:relative;float:left;width:447px;height:586px;background:url(/images/form_bg.png) no-repeat 0 0;font:normal normal 14px Arial, sans-serif;}
.forma_zapisi input[type="text"], .capcha_input input[type="text"] {border:0;box-shadow:inset 1px 1px 2px rgba(0, 0, 0, 0.3);outline:0;background:#fff;border:1px solid #E9F6E8;color:#808080;line-height:24px;text-indent:7px;font-size:14px;}
.f_zapisi_top {padding: 9px 15px 0;}
.forma_zapisi_desc {margin:0 0 0 475px;font:italic normal 13px Georgia, sans-serif;}
.forma_zapisi_desc p {margin:0 0 15px;}
.f_zapisi_top div.left {text-align:right;width:71px;margin:5px 0 0;}
.f_zapisi_top div.left p {margin:0 0 15px;}
.forma_zapisi_h {font:normal normal 18px "PT sans", arial, sans-serif;margin:0 0 14px;color:#6BB130;}
.f_zapisi_top .fields {margin:0 0 0 52px;float:left;}
.f_zapisi_top .fields p {margin: 0 0 5px;}
.f_zapisi_center {padding: 40px 15px 0;}
.f_zapisi_center .left {text-align:right;width:73px;margin:5px 0 0;}
.f_zapisi_center .left p {margin:0 0 15px;}
.f_zapisi_center .fields {margin:0 0 0 125px;}
.f_zapisi_center .select_wrap {margin:0 0 10px;}
.f_zapisi_center select {outline:0;}
.f_zapisi_center .fields p {margin:0 0 7px;}
.f_zapisi_bottom {padding:42px 15px 0;}
.radio_wrap input[type="radio"] {vertical-align:baseline;margin:0 7px 0 0;}
.radio_item {float:left;width:97px;}
.radio_wrap {padding:5px 0 0 28px;}
.f_zapisi_capcha {padding: 63px 31px 0; position: relative;}
.plz_capcha {float:left;font:normal bold 12px Arial, sans-serif;color:#808080;width:130px;text-align:right;}
.capcha_wrap {float:left;margin:0 18px 0;width:140px;height:40px;text-align:center;overflow:hidden;}
.capcha_wrap img {width:140px;height:40px;}
.capcha_input {float:left;width:60px;}
.f_zapisi_submit {padding:36px;}
.green_submit {display:block;margin:0 auto;text-align:center;height:40px;width:147px;background:url(/images/mp_sprite.png) no-repeat 0 -202px;border:0;color:#007833;font:normal bold 14px Arial, sans-serif;text-shadow:1px 1px 1px rgba(255, 255, 255, 0.75);cursor:pointer;padding:0 0 1px;}
.green_submit:active {background-position: 0 -243px;height:39px;padding:1px 0 0;}
.successful_form_successful {display:none;margin:263px auto;font:normal normal 22px/28px 'PT sans', arial, sans-serif;color:#94ac92;text-shadow:1px 1px 1px #fff;text-align:center;}
.forma_zapisi.active {background-position:0 100%;}
.forma_zapisi.active form {display:none;}
.forma_zapisi.active .successful_form_successful {display:block;}
.forma_zapisi .errortext {position:absolute;z-index:2;top:2px;right:22px;font-size:10px;}

.price_bar_holder {position:relative;height:80px;z-index:0;}
.price_bar {/*position:absolute;left:0;*/top:0;z-index:2;width:672px;height:80px;}
.price_bar_bottom {height:19px;background: url(/images/price_bar_bottom.png) no-repeat top;}
.price_bar_inner {height:54px;background:#fff;font:normal bold 15px Arial, sans-serif;color:#000;padding:7px 12px 0;border:3px solid #E7E7E7;border-bottom:0;border-top:0;}
.price_bar_inner p {margin:0 0 13px;}
.price_bar_inner span, .price_bar_inner a {border-bottom:1px dotted #000;cursor:pointer;color:#000;margin:0 17px 0 0;}
.price_bar_inner span:hover, .price_bar_inner a:hover {border:0;}
#price_bar_up {display:none;height:15px;width:20px;top:5px;right:0;background:url(/images/mp_sprite.png) no-repeat -55px -104px;position:absolute;}
#price_bar_up.active {display:block;cursor:pointer;}
.price_bar_inner .active {color:#6BB130;border:0;}
.price_section {padding:10px 0 40px;background: url(/images/round_shadow.png) no-repeat bottom;margin: 0 0 20px;}
.price_section h1 {font:normal bold 17px arial, sans-serif;margin:0 0 20px;}
.price_section h2 {font:normal bold 15px Arial, sans-serif;color:#6BB130;margin:0 0 11px;}
.price_section ul {font:normal normal 13px Arial, sans-serif;color:#333;}
.price_section ul li {border-bottom:1px solid #ccc;list-style:none!important;list-style-image:none!important;margin:0!important;line-height:30px;padding:5px 0 5px;}
.price_section ul li div {margin:0 100px 0 0;line-height:19px;}
.price_section ul li.first {padding-top:0;}
.price_section ul li.last {border:0;padding-bottom:0;}
.price_section ul li ul li {padding:3px 0 7px;}
.price_section ul li ul li.first {padding-top:9px;}
.price_section ul li ul li div {margin:0 100px 0 30px;}
.price_section ul li .right {font:normal bold 14px Arial, sans-serif;}
.price_section ul li .rouble {font-weight:bold;margin:0 0 0 .5em;font-family: "ALSRublRegular";}
.price_subsec {margin:0 0 30px;}

.per_fil_sep {position:absolute;top:0;left:75px;height:71px;width:12px;background:url(/images/mp_sprite.png) no-repeat -148px -205px;z-index:1;}

.per_by_spec .filter_buble_wrap {left:-30px;width:164px;}
.per_by_spec .filter_buble_top {height:25px;width:164px;background: url(/images/mp_sprite.png) no-repeat 0 -283px;}
.per_by_spec .filter_buble_bottom {height:10px;width:164px;background: url(/images/mp_sprite.png) no-repeat 0 -308px;}
.per_by_spec .filter_buble_inner {width:134px;padding:0 15px;background: #fff url(/images/filter_buble_inner.png) repeat-y top;}
.filter_buble_inner p {padding:0 0 5px;}
.filter_buble_inner p span {cursor:pointer;color:#333;border-bottom:1px solid #333;font:normal normal 12px arial, sans-serif;}
.filter_buble_inner p span:hover {border:0;}
.filter_buble_wrap {position:absolute;display:none;z-index:3;top:28px;color:#000;}
.per_by_center .filter_buble_wrap {left:-73px;height:25px;width:202px;background: url(/images/mp_sprite.png) no-repeat 0 -318px;}
.per_by_center .filter_buble_bottom {height:10px;width:202px;background:url(/images/mp_sprite.png) no-repeat 0 -343px;}
.per_by_center .filter_buble_top {height:25px;width:202px;background: url(/images/mp_sprite.png) no-repeat 0 -318px;}
.per_by_center .filter_buble_inner {width:172px;padding:0 15px;background: #fff url(/images/filter_buble_inner2.png) repeat-y top;}

.filter_buble_bottom {border-radius:0 0 10px 10px;box-shadow:5px 5px 7px rgba(0, 0, 0, .3);}
.filter_buble_inner {box-shadow:5px 5px 7px rgba(0, 0, 0, .3);}

.personal_filter_wrap {position:relative;z-index:1;height:62px;margin:-10px 0 0;}
.per_by_center, .per_by_spec {position:absolute;top:17px;padding:4px 11px;background:#6BB130;border-radius:12px;font:normal bold 12px Arial, sans-serif;color:#fff;}
.per_by_center {left:0;}
.per_by_center.active, .per_by_spec.active {background:#f0f0f0;color:#000;}
.per_by_center span, .per_by_spec span {border-bottom:1px dotted #fff;cursor:pointer;}
.per_by_center span:hover, .per_by_spec span:hover {border:0;}
.per_by_center.active span, .per_by_spec.active span {border-color:#000;}
.per_by_spec {left:93px;}
#personal_filter_reset {position:absolute;top:19px;left:220px;font:italic normal 11px Arial, sans-serif;border-bottom:1px solid #808080;color:#808080;cursor:pointer;display:none;}
#personal_filter_reset:hover {border:0;}
#personal_changing_h {font:normal bold 17px Arial, sans-serif;color:#000;margin:15px 0 23px;}
.personal_list_item {float:left;width:145px;margin:0 30px 25px 0;text-align:center;}
.personal_list_item.last {margin-right:0;}
.personal_list_img {height:140px;margin:0 0 10px;}
.personal_list_img img {max-width:140px;height:auto;width:auto;}
.personal_item_name {font:normal bold 13px/19px Arial, sans-serif;margin:0 0 9px;}
.personal_item_name a {color:#000;border-bottom:1px solid #000;}
.personal_item_name a:hover{border:0;}
.personal_item_post {font:italic normal 11px/16px Arial, sans-serif;}

#to_top {clear:both;font:italic normal 12px "PT sans", arial, sans-serif;color:#808080;}
#to_top .left span{border-bottom:1px dotted #808080;cursor:pointer;}
#to_top .left span:hover {border:0;}
.to_top_arr {display:block;height:9px;width:5px;margin: 3px 0 0 7px;background: url(/images/mp_sprite.png) no-repeat -62px -106px;float:left;border:0;}

.back_to_list {background:#f0f0f0;width:138px;margin:25px 0 37px;font:normal bold 12px Arial, sans-serif;padding: 5px 7px;border-radius:12px;}
.back_to_list a {color:#333;border-bottom:1px solid #333;}
.back_to_list a:hover {border:0;}
.left_arrow {display:block;width:9px;height:5px;background: url(/images/mp_sprite.png) no-repeat -32px -116px;float:left;margin:6px 6px 0 0;}

.personal_silgle h2, .secondary_h {font:normal bold 17px Arial, sans-serif;margin:0 0 15px;color:#000;}
.personal_silgle_img {width:280px;height:280px;float:left;margin:0}
.personal_silgle_img img {max-width:100%;width:auto;height:auto;}
.personal_silgle_text {margin:0 0 0 305px;font:normal normal 12px/18px Arial, sans-serif;}
.personal_silgle_h {font:normal bold 15px Arial, sans-serif;margin:10px 0;}
.personal_advice {font:normal bold 14px Arial, sans-serif;color:#6BB130;}

.rly_art_img {outline: 1px solid #E4E4E4;border: 3px solid white;background:#fff;width:128px;height:128px;overflow:hidden;text-align:center;float:left;}
.rly_art_img img {width:128px;height:auto;}
.rly_art_text {margin:0 0 0 155px;}
.rly_art_text p{margin: 0 0 10px;}
.rly_art_body {padding:0 0 42px;background: url(/images/round_shadow.png) no-repeat bottom;margin: 10px 0 0;}
.rly_art {margin:0 0 12px;clear:both;font:normal normal 12px/18px Arial, sans-serif;}
.rly_art h1 {font:normal bold 15px Arial, sans-serif;margin:0 0 3px;}
.rly_art h1 a {color:#000;border-bottom:1px solid #000;}
.rly_art h1 a:hover {border:0;}
.posted_date {color:#808080;margin:0 0 10px;}

.credit1 {margin:9px 0 22px;font:normal normal 16px/22px Arial, sasns-serif;}
.credit_cols .first {width:305px;margin:0 60px 0 0;float:left;}
.credit_cols .last {float:left;width:300px;}
.credit_cols {font:normal normal 12px/18px Arial, sans-serif;}
.credit_h {font:normal bold 16px/22px Arial, sans-serif;color:#74a83d;margin:0 0 7px;}
.credit_h.moved {margin-top: 26px;}
.credit_info {margin:20px 0 0;}
.credit_info_text {margin:0 0 0 36px;}
.credit_info_text p {margin:0 0 10px;}

.single_art_img {margin:0 0 20px;}
.single_art_img img {max-width:100%;height:auto;width:auto;}
.single_art_img p {font:normal normal 11px/15px Arial, sans-serif;margin:5px 0 0;}
.single_art_body p {margin:0 0 25px;font:normal normal 12px/1.5 Arial, sans-serif;}
.single_art_body p.first {font-size:16px;}
.single_art_body h2 {font:normal bold 16px/22px Arial, sans-serif;margin:10px 0;color:#6ca131;}
.single_art_body a {color:#000;border-bottom:1px solid #000;}
.single_art_body a:hover {border:0;}

blockquote {margin:35px;text-align:center;font:italic normal 15px/20px "PT serif", Georgia, sans-serif;color:#7f7f7f;}
.content_part ul li {list-style-image: url(/images/bullet.png);list-style-position:outside;margin:0 0 5px 17px;}
.content_part ol li {list-style-image:none;list-style-type: decimal;margin:0 0 5px 19px;list-style-position:outside;}
.enc_wrap ul li, .enc_wrap ol li {margin-bottom:0!important;}
.enc_wrap ul, .enc_wrap ol {margin:0 0 10px;}
.content_part ul, .content_part ol {margin:0 0 20px;}
.content_part table {width:100%;}
.content_part table td {font:normal normal 13px Arial, sans-serif;color:#666;border-bottom:1px solid #c8c8c8;padding: 10px 20px;}
.content_part table thead td {font-size:14px;color:#000;border-bottom:3px solid #6BB130;}
.content_part table tbody tr.last td {border:0;}

.enc_letters {font:normal normal 23px/45px "PT serif", Georgia, sans-serif;color:#333;margin:0 0 37px;}
.enc_letters p.first a, .enc_letters p.first span {margin:0 14px 0 0;}
.enc_letters p.last a, .enc_letters p.last span {margin:0 13px 0 0;}
.enc_letters a {padding:0 6px;color:#333;}
.enc_letters a:hover {text-decoration:underline;}
.enc_letters p a.last {margin:0;}
.enc_letters a.active, .enc_letters a.active:hover {background:#6BB130;color:#fff;text-decoration:none;}
.enc_empty{opacity: 0.2;}

.faq_search {margin: 25px 0 30px;}
.faq_search input[type="text"] {float:left;border:1px solid #f1f1f1;box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.5);font:normal normal 17px/38px Arial, sans-serif;color:#000;text-indent:10px;}
.faq_search .green_submit {float:right;margin:-1px 0 0;}
.faq_q {margin:0 0 20px;}
.faq_quot {font:normal normal 33px "PT serif", georgia, serif;color:#bababa;position:absolute;}
.faq_quot.left {left:0;float:none;top:-12px;}
.faq_quot.right {right:0;float:none;bottom:-7px;}
.faq_q p, .faq_q h2 {font:normal normal 18px/24px "PT serif", Georgia, serif;color:#6BB130;padding:0 25px;position:relative;display:inline;}
.faq_a_ico {float:left;height:31px;width:27px;background:url(/images/mp_sprite.png) no-repeat -175px -1px;}
.faq_a_text {margin:0 0 0 45px;padding:7px 0 0;line-height: 1.5;}
.faq_a_text a {color:#000;}
.faq_a_text a:hover {border-bottom:1px solid #000;}
.faq_item {margin: 4px 0;padding: 0 0 36px;background: url(/images/round_shadow.png) no-repeat bottom;}

.response_form_wrap {margin: 0 0 30px;}
.response_annotation {font:normal normal 15px/21px Arial, sans-serif;color:#000;margin:0 0 25px;}
.response_form_bottom {position:relative;height:50px;}
.response_form_bar {height:23px;background:#f6f5e8 url(/images/up_round_shadow.png) no-repeat bottom;}
.response_form_bubble {position:absolute;top:10px;left:50%;height:38px;width:130px;margin-left:-65px;background:url(/images/mp_sprite.png) no-repeat 0 -391px;}
.response_form_bubble p {text-align:center;padding:5px 0 0;}
.response_form_bubble p span {font:normal normal 13px Arial, sans-serif;color:#363636;cursor:pointer;border-bottom:1px dotted #363636;}
.response_form_bubble p span:hover{border:0;}
.response_form_bubble.active {background:url(/images/mp_sprite.png) no-repeat 0 -353px;top:0;}
.response_form_bubble.active p {padding:15px 0 0;}
.response_form {background:#f6f5e8;display:none;/*height:308px;*/font:normal normal 13px Arial, sans-serif;}
.response_form .left {text-align:right;width:120px;margin:34px 0 0;color:#787878;}
.response_form .left p {margin:0 0 24px;}
.response_form .fields {padding:28px 0 0;margin:0 0 0 148px;}
.response_form .fields input[type="text"], .response_form .fields textarea, .vacancy_form input[type="text"] {border:0;background:#fff;box-shadow:inset 1px 1px 2px rgba(0, 0, 0, 0.3);outline:0;}
.response_form .fields input[type="text"], .vacancy_form input[type="text"] {line-height:25px;}
.response_form .fields p {margin:0 0 16px;}
.response_form .fields input[type="submit"], .vacancy_form input[type="submit"], .vacancy_form input[type="file"] {padding:2px 5px;font:normal normal 12px Arial, sans-serif;color:#232323;}
.response_form .fields .textarea_wrap {margin:7px 0;}

.response_item {padding: 0 0 28px;margin:8px 0;background: url(/images/round_shadow.png) no-repeat bottom;}
.response_item_h {margin:0 0 15px;}
.response_name {color:#6BB130;font:normal bold 15px Arial, sans-serif;}
.response_date {margin:0 0 0 10px;font:normal normal 12px Arial, sans-serif;color:#808080;}
.response_text {color:#000;font:normal normal 12px/18px arial, sans-serif;}

.shkolaplan {margin:30px 0 25px;font:normal normal 12px/1.5 Arial, sans-serif;}
.shkolaplan h2 {font:normal bold 16px Arial, sans-serif;color:#74a83d;margin:0 0 17px;}
.shkolaplan .first {width:310px;float:left;}
.shkolaplan .last {margin:0 0 0 365px;}
.shkololoinfo {margin:47px 0 0;border:1px solid #cbcbcb;border-left:0;border-right:0;padding:15px 0 17px;font:normal normal 12px/1.5 Arial, sans-serif;}
.shkololoinfo .first {float:left;width:230px;margin: 0 0 0 17px;}
.shkololoinfo .last {float:left;margin:0 0 0 106px;width:280px;}

.shkoloslider_area {height:400px;background:#333;border-radius:10px;}
.shkoloslider_top {padding:12px 11px 0;height:43px;font:normal bold 12px/1.5 Arial, sans-serif;color:#fff;}
.shkoloslider_top p {float:left;padding:1px 11px;border-radius:10px;margin:0 9px 0 0;}
.shkoloslider_top p span {cursor:pointer;border-bottom:1px dotted #fff;}
.shkoloslider_top p span:hover {border:0;}
.shkoloslider_top p.active {box-shadow:inset 2px 2px 5px rgba(0, 0, 0, .75);color:#808080;}
.shkoloslider_top p.active span {border:0;cursor:default;}

.shkoloslider_container {width:400px;height:300px;box-shadow:3px 3px 7px rgba(0, 0, 0, .75);margin:0 auto;position:relative;}
.shkoloslider {position:relative;}
.shkoloslider_item {width:400px;height:300px;}
.shkoloslider_item img {max-width:100%;width:auto;height:auto;}
.skolopagination_pagination {position:absolute;bottom:-31px;left:140px;margin:0!important;}
.skolopagination_pagination li {list-style:none;list-style-image:none!important;display:block;float:left;width:13px;height:14px;margin:0 9px 0 0!important;background: url(/images/mp_sprite.png) no-repeat -48px -87px;}
.skolopagination_pagination li.active {background-position: -48px -73px;}
.skolopagination_pagination li a {display:block;height:100%;width:100%;text-indent:100%;white-space:nowrap;overflow:hidden;}
.shkolo_next, .shkolo_prev {display:block;position:absolute;height:300px;width:100px;top:0;text-indent:100%;white-space:nowrap;overflow:hidden;}
.shkolo_next {background:url(/images/shkolo_next.png) no-repeat 26px 50%;right:0;}
.shkolo_next:hover, .shkolo_prev:hover {background-color: #3e3e3e;}
.shkolo_prev {background:url(/images/shkolo_prev.png) no-repeat 56px 50%;;left:0;}
.shkoloslider_tab {display:none;}
.shkolo_tab1 {display:block;}

.light_grey_bar {padding:11px 13px;border-radius:10px;background:#f1f1f1;margin:20px 0;}
.light_grey_bar h2, .light_grey_bar h3, .green_h2 {font:normal bold 16px/22px Arial, sans-serif;color:#74a83d;margin:0 0 10px;}
.light_grey_bar .first {float:left;width:310px;}
.light_grey_bar .last {margin:0 0 0 330px;}
.zubolabs {font:normal normal 13px/19px Arial, sans-serif;color:#333;}
.zubolabs .first {float:left;width:320px;}
.zubolabs .last {margin-left:375px;}

.partners_list {margin:20px 0;}
.partners_list_item {width:190px;float:left;margin:0 50px 30px 0;}
.partners_list_item.last {margin-right:0;}
.partners_img {border:1px solid #e2e2e2;height:77px;text-align:center;margin:0 0 10px;}
.partners_img a {display:block;height:100%;width:100%;}
.partners_img img {max-width:100%;height:auto;width:auto;max-height:77px;}
.rartners_h {font:normal bold 13px/21px Arial, sans-serif;}
.rartners_h a {color:#000;border-bottom:1px solid #000;}
.rartners_h a:hover {border:0;}
.partners_adress {font:normal normal 12px/1.5 Arial, sans-serif;}

.vacansy_terms {font:normal normal 12px/1.5 Arial, sans-serif;margin:15px 0;}
.vacansy_terms .first {width:300px;float:left;}
.vacansy_terms .last {margin:0 0 0 385px;}
.vacancy_h {font: normal bold 15px Arial, sans-serif;margin:15px 0;color:black;}

.vacancy_list_item {background: #e9f6e8 url(/images/left_right_cor.png) no-repeat top right;padding:15px 15px 20px;border-bottom:1px solid #ddd;margin:15px 0 25px;font:normal normal 12px/1.5 Arial, sans-serif;}
.vacancy_list_item h3 {font:normal bold 15px Arial, sans-serif;color:#6BB130;margin:0 0 15px;}
.vacancy_list_item h4 {font:normal bold 12px arial, sans-serif;margin:0 0 8px;}
.vacancy_list_item .first {float:left;width:290px;}
.vacancy_list_item .last {margin: 0 0 0 340px;}

.vacancy_form {background:#F6F5E8;display:none;padding: 0 0 23px;font:normal normal 13px Arial, sans-serif;}
.vacancy_form .left {width:153px;text-align:right;margin:34px 0 0;}
.vacancy_form .left p {margin:0 0 24px;}
.vacancy_form .fields {padding:29px 0 0;margin:0 0 0 179px;}
.vacancy_form .fields p {margin:0 0 15px;}
.vacancy_form .addfile {margin:15px 0 27px;}
.vacancy_form .select_wrap {margin:20px 0 0;}
.vacancy_form select {outline:0;}

.video_right {margin:0 0 0 450px;font:normal normal 12px/1.5 Arial, sans-serif;}
.video_right h1 {font:normal bold 15px/1.2 Arial, sans-serif;color:#000;margin:0 0 10px;}
.video_right p {margin:0 0 20px;}
.video_left {float:left;width:430px;}
.cat_video_wrap {background:url(/images/video_bg.jpg) no-repeat 0 0;padding:6px 0 0;height:368px;text-align:center;}
.cat_video {margin:0 auto;height:315px;width:420px;}
.video_list {background: #f4f4f4;padding:12px;}
.video_prev_shadow {font-size:0;line-height:0;padding:0;height:2px;background:#c6c6c6;position:absolute;z-index:2;bottom:2px;left:1px;width:86px;}
.video_prev {/*border-top:0;border-left:1px solid #c6c6c6;border-right:1px solid #c6c6c6;border-bottom:1px solid #6b6b6b;*/}
.video_prev img {width:86px;height:auto;border-top:0;border-left:1px solid #c6c6c6;border-right:1px solid #c6c6c6;border-bottom:1px solid #6b6b6b;}
.video_prev_wrap {float:left;margin:4px 0 0;position:relative;z-index:1;}
.video_list_item_text {margin:0 0 0 101px;font:normal normal 11px/14px Arial, sasn-serif;}
.video_list_item_text p {margin:0 0 5px;}
.video_list_item_text a {color:#6BB130;border-bottom:1px solid #6BB130;}
.video_list_item_text a:hover {border:0;}
.video_list_item {float:left;width:195px;margin: 0 15px 19px 0;}
.video_list_item.last {margin-right:0;}

.video_pager {clear:both;font:normal normal 14px/1 arial, sans-serif;}
.video_pager ul li{float:left;padding:4px 8px;text-align:center;}
.video_pager ul li a {color:#000;}
.video_pager ul li a:hover {border-bottom:1px solid #000;}
.video_pager ul li.active {background:#c3c3c3;color:#fff;box-shadow:inset 1px 1px 1px rgba(0, 0, 0, .24);
                           background-image: linear-gradient(top, #d4d4d4 0%,#bfbfbf 100%);
                           background-image: -webkit-linear-gradient(top, #d4d4d4 0%,#bfbfbf 100%);
                           background-image: -moz-linear-gradient(top, #d4d4d4 0%,#bfbfbf 100%);
                           background-image: -ms-linear-gradient(top, #d4d4d4 0%,#bfbfbf 100%);
                           background-image: -o-linear-gradient(top, #d4d4d4 0%,#bfbfbf 100%);}
.video_pager ul li.active a {color:#fff;}
.video_pager ul li.active a:hover {border:0;}

.contacts_view_conrols {font:normal normal 12px/1 Arial, sans-serif;height: 48px;padding:9px 0 0;}
.contacts_view_conrols p {float:left;margin:0 10px 0 0;background:#6BB130;border-radius:12px;padding:4px 12px 5px;font-weight:bold;color:#fff;}
.contacts_view_conrols p.active {background:#f0f0f0;color:#000;}
.contacts_view_conrols p span {cursor:pointer;border-bottom:1px dotted #fff;}
.contacts_view_conrols p span:hover {border:0;}
.contacts_view_conrols p.active span {cursor:default;border:0;}
.contacts_view_conrols a {color:#fff;border-bottom:1px solid #fff;}
.contacts_view_conrols a:hover {border:0;}
.working_time {text-align:right;margin:0 0 0 340px;padding:2px 0 0;}
.YMaps-b-balloon-frame {width:auto!important;}
.YMaps-b-balloon-frame td {padding:0!important;border:0!important;}
.YMaps-b-balloon-content {line-height:1.5;}
.YMaps-b-balloon-content p {margin:0 0 5px;}
.YMaps-b-balloon-content a {color:#007833;text-decoration:underline;}
.YMaps-btn-list-item {list-style:none!important;margin:0!important;}

#contacts_subway {display:none;}

#contacts_map {display:none;}

.contacts_list_col_left {float:left;width:310px;margin:0 38px 0 0;}
.contacts_list_col_right {float:left;width:310px;}
.contacts_list_item {margin:0 0 20px;}
.con_list_num {float:left;font:normal normal 26px/1 Arial, sans-serif;color:#6BB130;}
.con_list_text {margin:0 0 0 40px;font:normal normal 13px/22px Arial, sans-serif;}
.con_list_link {margin:0 0 5px;font-size:14px;}
.con_list_link a {color:#000;border-bottom:1px solid #000; position: relative;}
.con_list_link a:hover {border:0;}
.con_list_link_special {
    position: absolute;
    background: url("/images/green_special_icon.png") 0px 0px no-repeat;
    top: 3px;
    left: -66px;
    display: block;
    z-index: 2;
    width: 59px;
    height: 20px;
}

.clinic_page h1 {font:normal normal 18px/1 Arial, sans-serif;margin:0 0 20px;}
.clinic_page h2 {font:normal bold 16px/22px Arial, sans-serif;}
.clinic_info {float:right;width:240px;font:normal normal 12px/22px Arial, sans-serif;}
.clinic_info a {color:#000;border-bottom:1px solid #000;}
.clinic_info a:hover {border:0;}
.clinic_contacts {border:1px solid #ddd;border-radius:5px;padding:20px 15px;margin:0 0 20px;}
.clinic_actions_item {margin: 10px 0 25px;}
.clinic_phone {font-size:16px;margin:18px 0;}
.clininc_boss_img {width:138px;margin:10px 0 5px;}
.clininc_boss_img img {width:100%;height:auto;}
.clinic_page_content {width:380px;float:left;font:normal normal 12px/1.5 Arial, sans-serif;}
.clinic_page_transport {padding:14px 0 4px;border-bottom:1px solid #ddd;}
.clinic_page_text {margin:20px 0 0;}
.clinic_page_text p {margin:0 0 20px;}
.k-icon, .m-icon {height:22px;width:23px;background:url(/images/mp_sprite.png) no-repeat;float:left;}
.k-icon {background-position: -100px -144px;}
.m-icon {background-position: -100px -169px;}
.clinic_page_transport_text {margin:0 0 12px 30px;min-height:23px;}

.subway_map {height:688px;width:660px;background:url(/images/metromap.png) no-repeat 0 0;position:relative;z-index:1;margin: 9px auto 0;}
.subway_map div {display:block;position:absolute;height:31px;width:24px;background: url(/images/mp_sprite.png) no-repeat -177px -35px;z-index:2;}
.subway_map div a {display:block;height:100%;width:100%;}
.sub_avtovo {bottom:110px;left:141px;}
.sub_kupchino {bottom:14px;left:257px;}
.sub_lomonosov {bottom:105px;right:176px;}
.sub_mezhdunar {bottom:103px;right:277px;}
.sub_bolshevik {bottom:217px;right:87px;}
.sub_dibenko{bottom:190px;right:87px;}
.sub_ligov {bottom:287px;right:224px;}
.sub_ligov_obvod {bottom:180px;right:277px;}
.sub_pertograd {top:201px;left:258px;}
.sub_grazhdan {top:67px;right:270px;}
.sub_udel{top:95px;left:258px;}
.sub_komendant{top:94px;left:130px;}
.sub_komendant2{top:94px;left:154px;}
.sub_starder{top:120px;left:143px;}
.sub_voznesenskiy{top: 367px; left: 258px;}

.e_lang_change {float:right;width:78px;height:23px;}
.e_lang_rus {width:78px;height:23px;background: url(/images/e_lang_bg.png) top;display:none;}
.e_lang_rus p {height:23px;cursor:pointer;margin:0 0 0 39px;}
.e_lang_eng {width:78px;height:23px;background: url(/images/e_lang_bg.png) bottom;}
.e_lang_eng p {height:23px;cursor:pointer;width:39px;}

.calc_wrap{position:relative;z-index:1;background:#e9f6e8;border-radius:10px;padding:10px 15px;color:#000;}
#calc_reset {float:right;padding:2px 10px 6px;border-radius:12px;background:#fff;color:#666;font:normal bold 12px/1 Arial, sans-serif;}
#calc_reset.active span {border-bottom:1px dotted #666;cursor:pointer;}
#calc_reset.active span:hover {border:0;}
.calc_tooth_summ {float:right;width:200px;}
.calc_tooth_summ p {float:left;margin:2px 10px 0 0;font:normal bold 14px/17px Arial, sans-serif;}
#calc_tot_price {float:right;width:185px;}
#calc_tot_price p {font:normal bold 14px/17px Arial, sans-serif;padding:2px 0 0;}
#calc_tot_price_summ {font:normal bold 42px/1 Arial, sans-serif;color:#6BB130;}
.calc_wrap select {outline:none;font:normal normal 13px/1 Arial, sans-serif;}
.nc_bottom {border-top:1px solid #fff;padding:10px 0 9px;text-align:center;color:#979797;font:normal normal 20px/26px "PT sans", arial, sans-serif;}
.calc_wrap .sel_wrap {margin:0 0 12px;}
.float_sel_wrap {float:left;}
.calc_wrap input[type='radio'], .calc_wrap input[type='checkbox'] {padding:0;margin:0 5px 0 0;vertical-align:baseline;}
.float_sel_opt {margin:0 0 0 205px;}
.float_sel_opt p {margin:0 0 11px;}
.calc_impl_list {padding:15px 0;width:640px;}
.calc_impl_list p {margin:0 0 11px;}
.calc_former, .calc_abat, .calc_koron_ch {padding:15px 0;border-top:1px solid #fff;}
.calc_wrap .level2, .calc_wrap .level3, .calc_wrap .level4 {display:none;}
.calc_col1 {min-height:99px;}



#requestWrap {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(96, 96, 96, 0.5);
    z-index: 999;
    top:0;
    left:0;
}

#intanRequest {
    width: 500px;
    min-height: 351px;
    padding: 13px 30px;
    position: fixed;
    left:50%;
    margin-left: -240px;
    top:50%;
    margin-top: -225px;
    background-color:#e9f6e8;
    border-radius: 10px;
}

#intanRequest h1 {
    font-family: PT Sans;
    font-size: 24px;
    font-weight: normal;
    color:#007833;
    padding-bottom: 26px;
}

#intanRequest p {
    font-family: PT Sans;
    font-size: 18px;
    color:#6ca134;
    padding-bottom:12px;
}

#intanRequest .t {
    display: table;
    width: 100%;
}

#intanRequest .f {
    padding-bottom: 36px;
}

#intanRequest .tr {
    display: table-row;
    width: 100%;
    vertical-align: middle;
}

#intanRequest .td {
    display: table-cell;
    width: 248px;
    float:left;
    padding-bottom: 10px;
}

#intanRequest input[type="text"] {
    height: 18px;
    width: 227px;
    background: url("/images/cr_req_gr.png") repeat-x;
    border:1px solid #9c9c9c;
    border-top:none;
    border-bottom:2px solid #9c9c9c;
    font: 14px/17px Arial, Tahoma, Verdana, sans-serif;
    border-radius: 4px;
    text-indent: 9px;
    float: right;
    line-height: 18px;
}


#intanRequest input[type="submit"] {
    background: url("/images/mp_sprite.png") no-repeat scroll 0 -202px transparent;
    border: 0 none;
    color: #007833;
    cursor: pointer;
    display: block;
    font: bold 14px Arial,sans-serif;
    height: 40px;
    margin-top:20px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
    width: 147px;
}

#intanRequest .pseudo-select {
    position: relative;
    cursor:pointer;
    float:right;
}
#intanRequest .pseudo-select .select {
    height: 18px;
    width: 223px;
    background: url("/images/cr_req_gr.png") repeat-x;
    border:1px solid #9c9c9c;
    border-top:none;
    border-bottom:2px solid #9c9c9c;
    font: 14px/17px PT Sans, Arial, Tahoma, Verdana, sans-serif;
    border-radius: 4px;
    text-indent: 4px;
    padding-left: 4px;
}

#intanRequest #sel_act {
    width: 19px;
    height: 18px;
    display: block;
    position: absolute;
    top:0;
    right:2px;
    background: url("/images/cr_req_c2.png") no-repeat;
}


#intanRequest .pseudo-select .options {
    position: absolute;
    top: 0;
    left: 0;
    width: 227px;
    border: 1px solid #BBB;
    background: #fff;
    z-index: 10;
    display: none;
    text-indent: 4px;
    border-radius: 4px;
    font-size: 12px;
}
#intanRequest .pseudo-select .options > div {
    padding: 3px 2px 3px 8px;
    cursor: pointer;
}
#intanRequest .pseudo-select .options > div:hover {
    background: #E6E6E6;
}

#intanRequest #err {
    color:#bf3333;
    font-size: 11px;
    display: none;
    margin-bottom: -10px;
}

#intanRequest .dis {
    display: none;
}
#intanRequest.thankyou {background-image:url(/images/request_thanks.png);background-repeat:no-repeat;background-position:center;}
#credit_error {position:absolute;top:34px;z-index:1;left:0;color:#f00;}

.credit1 a {color:#74A83D;text-decoration:underline;}
.credit1 a:hover {text-decoration:none;}

.mp_news {margin:60px auto 0;width:960px;}
.mp_news h2 {font:normal normal 24px/1 'PT Sans', arial, sans-serif;color:#007833;margin:0 0 23px;}
.mp_news_item {float:left;width:300px;margin:0 30px 0 0;}
.mp_news_item.last {margin-right:0;}
.mp_news_item h3 {font:normal bold 15px/1.2 Arial, sans-serif;}
.mp_news_item h3 a, .asn_item h3 a {color:#000;text-decoration:underline;border:0;}
.mp_news_item h3 a:hover, .asn_item h3 a:hover {text-decoration:none;}
.mp_news_date {color:#777;margin:7px 0 13px;font:normal normal 12px/1 Arial, sans-serif;}
.mp_news_text {font:normal normal 12px/1.3 Arial, sans-serif;}
.aside_news {margin:54px 0 0;}
.aside_news h2 {font:normal bold 16px/1 'PT Sans', arial, sans-serif;color:#007833;margin:0 0 15px;}
.asn_item {margin:0 0 30px;}
.asn_item h3 {font:normal bold 13px/1.2 Arial, sans-serif;}

.top_nemu_wrap.fixed {position:fixed;top:-6px;z-index:20000}

.fademask {display: none;position: fixed;top:0;left:0;width: 5000px;height: 5000px;z-index:999999;background:url(/images/black05.png) repeat 0 0;}
.pop_window {display: none;position: fixed;z-index: 9999999;width: 600px;min-height:350px;margin:-170px 0 0 -300px;top:50%;left:50%;border-radius:10px;background:#fff;box-shadow:0 0 25px rgba(0, 0, 0, .5);}
.popwin_in {padding:15px 20px 20px;}
.popw_top {font:normal 14px/1.2 Arial, sans-serif;margin:0 0 10px;}
.popw_title {width:400px;float: left;color:#000;}
.popw_close {float: right;text-decoration:underline;color:#999;cursor: pointer;}
.popw_close:hover {text-decoration: none;}
.cpicon {float: left;display: block;background:url(/images/cpspr.png) no-repeat;margin-right:5px;}
.cpicon.cpspesial {width:22px;height:22px;background-position:0 0;}
.cpicon.cppano {width: 28px;height: 20px;background-position:-23px 0;margin-right:8px;}
.cpicon.pano_icon {width: 25px;height: 12px;background-position:-53px 0;}
.cpicon.cpvideo {width: 21px;height: 21px;background-position:-79px 0;margin-right:8px;}
.cpicon.cpwtime {width: 14px;height:16px;background-position:-117px 0;margin-top: 2px;}
.cpicon.cpaddr {width:17px;height: 14px;background-position:-132px 0;margin-top: 3px;}
.cpicon.cpdoc {width: 14px;height: 19px;background-position:-150px 0;}
.cpicon.cpphone {width: 11px;height: 19px;background-position:-165px 0;}
.cp_heading {font:bold 16px/22px arial, sans-serif;color:#131313;margin:0 0 10px;}
.pano3d {display: block;position: relative;z-index: 1;border:0 !important;}
.pano3d_in {position: absolute;display: block;z-index: 2;background:#7ab800;font:normal 12px/1 arial, sans-serif;color:#fff;border-radius:4px;top:50%;left:50%;width: 96px;padding: 8px 0 8px 6px;margin: -10px 0 0 -51px;}
.clinf_sect {margin:0 0 20px;}
.clinf_sect.last {margin:0;}
.cp_video {cursor: pointer;}
.cp_video img, .pano3d img {max-width:100%;width: auto;height: auto;display: block;}
.clinic_actions2 {margin:40px 0 0;}
.all_cent_but {width:110px;height: 31px;float: right;display: block;text-align:center;font:normal 14px/31px Arial, sans-serif;border:0 !important;color:#fff;text-shadow:0 1px 0 rgba(62, 104, 27, .75);background:url(/images/all_cent_but.png) no-repeat 0 0;margin-top:-2px;}
.all_cent_but:hover {background-position:-110px 0;}
.all_cent_but:active {background-position:-220px 0;}

/* Autumn 2013 special banner */

.b-special-banner {
  position: relative;
  z-index: 4;
  height: 416px;
  background: #eeeeee url(/images/slide2bgr.jpg) no-repeat 50% 0;
}
.b-special-banner__container {
  margin: 0 auto;
  width: 960px;
  position: relative;
  height: 100%;
}
.b-special-banner__photo {
  width: 247px;
  height: 385px;
  background: url(/images/special2013_girl.png) no-repeat 0 0;
  position: absolute;
  bottom: -1px;
  left: 295px;
}
.b-special-banner-text {
  padding: 45px 20px 0 550px;
}
.b-special-banner-text__h {
  font: bold 24px/1.2 Arial, sans-serif;
  color: #6bb600;
  margin: 0 0 15px;
  text-transform: uppercase;
}
.b-special-banner-text__h-line {
  font-size: 33px;
  color: #64a900;
  display: block;
}
.b-special-banner-text__desc {
  font: normal 15px/1.4 Arial, sans-serif;
  color: #363636;
}
.b-special-banner-text__prize {
  margin: 20px 0 15px;
  height: 118px;
  background: url(/images/special2013_gift.png) no-repeat 10px 0;
}
.b-special-banner__involve {
  margin: 5px 0 0;
  display: block;
  width: 214px;
  height: 36px;
  font: 400 17px/36px Arial, sans-serif;
  color: white;
  text-align: center;
  background: url(/images/b-special-banner__involve.png) no-repeat 0 0;
}
.b-special-banner__involve:hover {
  background-position: 0 -37px;
}
.b-special-banner__involve:active {
  background-position: 0 -74px;
}





/*** Impt New ***/

.impt-page {
    -moz-box-sizing: padding-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 14px;
    line-height: 1.3;

}
.impt-page * {
    -moz-box-sizing: padding-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.impt-page *:before,
.impt-page *:after {
 -moz-box-sizing: padding-box;
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
}

.impt-page p {
    padding-bottom: 19px;
}
.impt-page p:last-child {
    padding-bottom: 0;
}

.fix:before,
.fix:after {
    content: " ";
    display: table;
}
.fix:after {
    clear: both;
}

.ico {
    display: inline-block; *zoom: 1; *display: inline;
    position: relative;
    background: url("/images/impt-sprite.png") no-repeat;
}
.ico-apple {
    width: 28px;
    height: 43px;
    background-position: 0px 0px;
    vertical-align: middle;
    top: -7px;
    margin-right: 8px;
}
.ico-sheets {
    width: 16px;
    height: 12px;
    background-position: -30px 0;
}
.ico-hint-arr {
    width: 10px;
    height: 17px;
    background-position: -32px -14px;
}

.list-dash {
    list-style-type: none;
}
.list-dash li {
    list-style-image: none !important;
    list-style-position: inside !important;
    margin: 0 !important;
    position: relative;
    padding-left: 55px;
    padding-bottom: 17px;
}
.list-dash li:last-child {
    padding-bottom: 0;
}


.list-dash li:after {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 2px;
    background-color: #000;
    left: 0;
    top:8px;
}




.list-sheet {
    list-style-type: none;
    margin: 0 !important;
    text-indent: 0 !important;
}
.list-sheet li {
    list-style-image: none !important;
    /*list-style-position: inside !important;*/
    margin: 0 !important;
    position: relative;
    padding-left: 26px;
    /*padding-bottom: 4px;*/
    font-size: 15px;
    line-height: 1.6;
    text-indent: 0 !important;
}
.list-sheet li:last-child {
    padding-bottom: 0;
}
.list-sheet li:after {
    content: " ";
    position: absolute;
    display: block;
    top: 6px;
    left: 0;
    background: url("/images/impt-sprite.png") no-repeat;
    width: 16px;
    height: 12px;
    background-position: -30px 0;
}



.impt-section1 {
    padding-bottom: 12px;
}
.impt-section1-h3 {
    font-family: "PT sans", sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 20px;
}
.impt-section1-upper-article {
    border-bottom: 2px solid #6BB130;
    padding-bottom: 20px;
}
.impt-section1-upper-article img {
    float: left;
    padding-right: 40px;
    padding-bottom: 20px;
}

.impt-section1-h4 {
    font-family: "PT sans", sans-serif;
    font-size: 20px;
    font-style: italic;
    padding-bottom: 12px;
    color: #77AA40;
    font-weight: normal;
}


.impt-section1-lower {
    padding: 44px 0px 0px 0px;
}
.impt-section1-lower .impt-section1-h4 {
    padding-left: 55px;
}


.impt-section2 {
    padding-top: 15px;
}
.impt-section2 .impt-section1-h3 {
    padding-left: 55px;
}


.impt-hint {
    position: relative;
    padding-bottom: 12px;

}

.impt-hint-mark {
    position: absolute;
    display: block;
    top: 9px;
    left: 0;
    background-color: #6BB130;
    color: #fff;
    font-family: "PT sans", sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    width: 39px;
    height: 39px;
    line-height: 39px;
    border-radius: 100%;
}

.impt-hint-mark {

}

.impt-hint-content {
    padding-left: 55px;
    position: relative;

}



.impt-hint-content-inner {
    padding: 14px 72px 22px 22px;
    border: 2px solid #6BB130;
    border-radius: 7px;
    margin-bottom: 11px;
    position: relative;
}
.impt-hint-content-inner:after {
    content:"";
    position: absolute;
    display: block;
    top: 21px;
    /*left: 47px;*/
    left: -10px;
    background: #fff url("/images/impt-sprite.png") no-repeat;
    z-index: 2;
    width: 10px;
    height: 17px;
    background-position: -32px -14px;
}

.impt-hint-content-sub {
    padding-top: 7px;
    font-style: italic;
    padding-bottom: 21px;
}
.impt-hint-content-extra {
    padding-bottom: 21px;
}

.impt-hint-simple {
    font-size: 14px;
    line-height: 1.3;
    padding-bottom: 35px;
}

.impt-hint-content {
    padding-left: 73px;
}

.impt-hint-simple .impt-hint-mark  {
    width: 49px;
    height: 49px;
    line-height: 49px;
    top:2px;
}




.impt-section3-figure {
    padding-left: 315px;
    position: relative;
    background-color: #F9F9F9;
    height: 207px;
    margin-bottom: 49px;
}


.impt-section3-figure-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 315px;
    height: 100%;
    overflow: hidden;
}

.impt-section3-figure-pic img {
    width: 100%;
}


.impt-section3-figure-desc {
    position: relative;
    display: block;
    line-height: 1.6;
    font-family: "PT sans", sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #77AA40;
    font-weight: normal;

    padding: 0px 50px 0px 70px;
    float: right;
    height: 100%;
    display: table;
}
.impt-section3-figure-desc-in {
    display: table-cell;
    vertical-align: middle;
}


.impt-section4 {
    padding-right: 70px;
    padding-left: 120px;
    padding-bottom: 20px;
}

.impt-section5 {

}

.impt-section5-article {
    font-family: "PT sans", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 2;
    padding-top: 38px;
    border-top: 1px solid #F9F9F9;
    padding-left: 82px;
    padding-right: 82px;
}

.impt-section5-sub {
    padding-left: 82px;
    padding-right: 82px;
    margin-top: -10px;
}

div.cen_summ_col {
    position: relative;
}
a.href_action {
    position: absolute;
    left: -49px;
    text-decoration: none;
    border: 0;
}
a.href_action img {
    height: 15px;
}
.con_list_link{
    position: relative;
}
.con_list_link_special a{
    width:100%;height:100%;display:block;text-decoration:none;border-bottom: 0;
}

.roll {
    display: none;
}