/*div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#999999;
        font-size:16px;
        margin:0 0 20px 0;
}

.news-item_block{display: inline-block;
    font-size: 15px;
    line-height: 100%;
    min-width: 470px;
    vertical-align: top;
    width: 45%;}

.news-list{text-align:justify; padding:20px 0 0 0;}

.news-item_zagol{font-size:24px; color:#00843E; margin:0 0 20px 0; line-height: 100%;}
.news-item_zagol a{color:#00843E !important;}


.news-detail{font-size:16px !important; line-height: 100%;}

.news-detail h3{font-size;30px; color:#00843E !important; margin-bottom:20px  !important; font-size:30px !important; line-height:100% !important;}

.news-detail .news-date-time {font-size:16px;}*/