@charset "utf-8";

body {
    background: #fff url(/images/bg.png) repeat;
    font: normal normal 15px/1.2 Arial, sans-serif;
    color: #000;
}

@font-face {
    font-family: 'PFDinDisplayProThin';
    src: url('/fonts/pfdindisplaypro-thin-webfont.eot');
    src: url('/fonts/pfdindisplaypro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pfdindisplaypro-thin-webfont.woff') format('woff'),
         url('/fonts/pfdindisplaypro-thin-webfont.ttf') format('truetype'),
         url('/fonts/pfdindisplaypro-thin-webfont.svg#PFDinDisplayProThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinDisplayProLight';
    src: url('/fonts/pfdindisplaypro-light-webfont.eot');
    src: url('/fonts/pfdindisplaypro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pfdindisplaypro-light-webfont.woff') format('woff'),
         url('/fonts/pfdindisplaypro-light-webfont.ttf') format('truetype'),
         url('/fonts/pfdindisplaypro-light-webfont.svg#PFDinDisplayProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinDisplayReg';
    src: url('/fonts/pfdindisplayreg.eot');
    src: url('/fonts/pfdindisplayreg.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pfdindisplayreg.woff') format('woff'),
         url('/fonts/pfdindisplayreg.ttf') format('truetype'),
         url('/fonts/pfdindisplayreg.svg#PFDinDisplayProThin') format('svg');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'OpenSansLight';
    src: url('/fonts/opensans-light-webfont.eot');
    src: url('/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-light-webfont.woff') format('woff'),
         url('/fonts/opensans-light-webfont.ttf') format('truetype'),
         url('/fonts/opensans-light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('/fonts/opensans-regular-webfont.eot');
    src: url('/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-regular-webfont.woff') format('woff'),
         url('/fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('/fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ALSRublRegular';
    src: url('/fonts/rouble-webfont.eot');
    src: url('/fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/rouble-webfont.woff') format('woff'),
         url('/fonts/rouble-webfont.ttf') format('truetype'),
         url('/fonts/rouble-webfont.svg#ALSRublRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

input::-moz-focus-inner { border: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 {margin: 1em 0; font-family: "OpenSansRegular", Arial, sans-serif; color: #666;}

.h17 {font: normal normal 17px "OpenSansRegular", Arial, sans-serif;}

span.nav_srt_elem {padding: 0 5px; color: #ccc; font-size: 19px;}
a.a_img {border:0}

/* servise classes */

.hdn {display: none;}
.left {float: left;}
.right {float:right;}
.clear {clear: both;}
.al_right {text-align: right;}
.al_left {text-align: left;}
.al_center {text-align: center;}
.flexible {max-width: 100%; height: auto;}
.fullsize {width: 100%;}
.w33per {width: 33%;}
.w20per {width: 20%;}
.w25per {width: 25%;}
.w30per {width: 30%;}
.w35per {width: 35%;}
.w40per {width: 40%;}
.w45per {width: 45%;}
.w50per {width: 50%;}
.w55per {width: 55%;}
.w60per {width: 60%;}
.w70per {width: 70%;}
.bold {font-weight: bold;}
.sp {margin-bottom: 20px;}
.sp25 {margin-bottom: 25px;}

.rouble {font-family: "ALSRublRegular";}

/*page*/

div.background {background: url(/images/big_eye.png) no-repeat center 302px;}

a, a:visited {
    border-bottom: 1px solid #7e71b1;
    color: #7e71b1;
    text-decoration: none;
}

a:hover {
    border:0;
    color: #999;
}

div#skip-link {display:none;}

div#container {
    max-width: 1100px;
    min-width: 1000px;
    width: auto;
    margin: 0 auto;
    position: relative;
}

div.header_top, div.header_bottom, div#main-content, div.footer_inner {margin: 0 10px;}

/*header*/
div.header_top {margin: 31px 10px 25px;}

nav.header_menu a.selected {border:0; color: #999;}

div.header_top_aside {float:right; width: 146px;}

div.header_map a {
    border:0;
    display: block;
    width: 14px;
    height: 13px;
    background: url(/images/header_map.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

div.header_map a.header_map_mail {
    float:left;
    background-position: left top;
}

div.header_map a.header_map_sitemap {
    float:right;
    background-position: right top;
}

div.header_map a.header_map_home {
    margin: 0 auto;
    background-position: center top;
}

div.h_phone {
    color: #000;
    font: normal normal 23px "OpenSansRegular", Arial, sans-serif;
    white-space: nowrap;
    margin: 21px 0 35px;
    text-align: center; 
}

div.header_order {margin: 0 0 0 0;} 

a.send_an_order {
    display: block;
    border:0;
    height: 23px;
    width: 146px;
    background: url(/images/send_an_order.png) no-repeat 0 0;}
	
a.send_an_order:active {background-position:0 -23px;}
	
a.send_an_order span {
    display:block; 
    color: #fff; 
    font: normal normal 14px "PFDinDisplayProLight", Arial, sans-serif;
    padding: 2px 0 0;
    text-align: center;
}

div.header_top_center {
    width: 535px;
    float: right;
    margin: 0 66px 0 0;
}

div.header_search {
    float:right;
    margin: 37px 0 43px;
    width: 100%;
}

input[type="submit"].search_go {
    float:right;
    width: 68px;
    height: 24px;
    background: url(/images/input_bg_6824.png) no-repeat 0 0;
    text-align: center;
    color: #fff;
    font: normal normal 14px "PFDinDisplayProLight", Arial, sans-serif; 
    border:0;
    cursor: pointer;}
	
input[type="submit"].search_go:active{background-position:0 -23px;}

div.header_searchbar {float:right; height: 23px; width: 256px; margin: 0 20px 0 0;}

span.searchbar_sides {
    display: block;
    height: 23px;
    width: 10px;
    background: url(/images/seachbar_sides.png) no-repeat;
}
span.searchbar_sides.left {float:left; background-position: left;}
span.searchbar_sides.right {float: right; background-position: right;}
div.searchbar_inner {margin: 0 10px; height: 23px;}

input[type="text"].seach_field {
    height: 23px;
    vertical-align: middle;
    background: url(/images/seach_bg.png) repeat-x center;
    font: normal normal 13px "PFDinDisplayProLight", Arial, sans-serif;
    border:0;
    outline: 0;
    width: 100%;
    -webkit-appearance:none;
}

#page_header hgroup {float:left;}

h1#page_h {
    width:200px;
    height: 120px;
    background: url(/images/webauditpro.png) no-repeat center;
    margin: 5px 0 0;
}

h1#page_h a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
    border:0;
}

div.header_shadow {
    height: 20px;
    background: url(/images/header_shadow.png) no-repeat bottom;
    background-size:100%;
}

div.header_bottom {
    margin: 24px 10px 49px;
    font: normal normal 13px/1.2 Arial, sans-serif;
}

div.header_bottom_right {
    float:right;
    width: 280px;
}

div.header_bottom_right p.first {margin: 0 0 22px;}
div.header_bottom_right p.last {text-align: right;}

div.header_bottom_left {
    float: left;
    width: 280px;
}

div.header_bottom_moved .selected {color: #999; border: 0; font-size: 15px;}
div.header_bottom_moved span {display: block; border:0;}
div.header_bottom_moved a span span {
    border-bottom: 1px solid #7E71B1;
    font-size: 15px;
    display: inline;
}
div.header_bottom_moved a:hover span span {border:0;}


div.header_bottom_left div.first {margin: 0 0 25px;}

div.header_bottom_icon {float:left;}
div.header_bottom_left div.header_bottom_moved {margin: 0 0 0 47px;}

div.header_bottom_center {width: 300px; margin: 0 auto; padding: 5px 0 0;}
div.header_bottom_center div.header_bottom_moved {margin: 0 0 0 54px;}

/*footer*/

footer#page_footer {font: normal normal 13px Arial, sans-serif; padding: 0 0 80px; clear: both;}

footer#page_footer a, footer#page_footer a:visited {
    color: #000;
    border-bottom: 1px solid #000;
}

footer#page_footer a:hover {border:0;}

div.footer_shadow {
    height: 20px;
    background: url(/images/bottom_shadow.png) no-repeat bottom;
    background-size:100%;
}

div.footer_copyright {
    float:left;
    margin: 53px 0 0;
    width: 23%;
}

div.footer_menu_wrap {
    width: 77%;
    float: right;
    margin: 53px 0 0;
}

/*content area*/

div#main-content {
    
    min-height: 738px;
}

div#main-content abbr {
    border-bottom: 1px dotted #000;
    cursor: help;
}

/*main page*/

.mp_links {
    margin: 0 0 13px;
    font: normal normal 26px "OpenSansLight", Arial, sans-serif;
}

.mp_links_d {
    margin: 0 0 13px;
    font: normal normal 21px "OpenSansRegular", Arial, sans-serif;
}

div.mp_block_bottom {margin: 22px 0 0;}

a.mp_kind_button {
    border:0;
    display:block;
    width: 94px;
    height: 26px;
    background: url(/images/button94x26.png) no-repeat 0 0;
    float: left;
    margin: 0 20px 0 0;}
	
a.mp_kind_button:active{background-position: 0 -25px;}

a.mp_kind_button span {
    display: block;
    padding: 4px 0 0;
    text-align: center;
    color: #fff;
    font: normal normal 14px "PFDinDisplayProLight", Arial, sans-serif;
}

article.mp_left {
    float:left;
    width: 280px;
}

article.mp_right {
    float: right;
    width: 280px;
}

article.mp_center {
    width: 290px;
    margin: 0 auto;
    padding: 0 3% 0 5%;
}

div.mp_page_center {margin: 48px 0 0;}

div.mp_diagramm {
    height: 218px;
    width: 218px;
    left:50%;
    top: 563px;
    margin: 0 0 0 -106px;
    position: absolute;
}
div.mp_diag_use, div.mp_diag_market, div.mp_diag_tech, div.mp_diag_seo {
    position: absolute; background: url(/images/mp_diag.png) no-repeat;
	margin:0;
}
div.mp_diag_use {
    width: 118px;
    height: 104px;
    background-position: 0 0;
    top: 20px;
    left: 1px;
}

div.mp_diag_market {
    width: 138px;
    height: 109px;
    background-position: -123px 0;
    top: 5px;
    left: 53px;
}
div.mp_diag_tech {
    width: 107px;
    height: 165px;
    background-position: -316px 0;
    left: 109px;
    top: 46px;
}
div.mp_diag_seo {
    width: 158px;
    height: 130px;
    background-position: 0 -224px;
    top: 94px;
    left:-2px;
}


div.mp_bottom {margin: 86px 0 0;}

div.mp_bottom_text {margin: 0 290px 0 0;}

div.mp_clients {margin: 120px 0 35px;}

div.mp_clients_item {width: 20%; float: left;}
div.mp_clients_item a {
    border: 0;
    display: block;
    height: 50px;
    width: 146px;
    margin: 0 auto;
}

div.mp_clients_item a.mp_alexander {background: url(/images/mp_alexander.png) no-repeat bottom;}
div.mp_clients_item a.mp_intan {background: url(/images/mp_intan.png) no-repeat bottom;}
div.mp_clients_item a.mp_plk {background: url(/images/mp_plk.png) no-repeat bottom;}
div.mp_clients_item a.mp_mprof {background: url(/images/mp_mprof.png) no-repeat bottom;}
div.mp_clients_item a.mp_rakku {background: url(/images/mp_rakku.png) no-repeat bottom;}

div.mp_clients_item a.mp_alexander:hover, div.mp_clients_item a.mp_intan:hover, div.mp_clients_item a.mp_plk:hover,
div.mp_clients_item a.mp_mprof:hover, div.mp_clients_item a.mp_rakku:hover {background-position: top;}

/*uslugi include*/

.st_h {
    font: normal normal 26px "OpenSansRegular", Arial, sans-serif;
    color: #666;
    margin: 0;
}

.post_h2 {font: normal normal 18px "OpenSansRegular", Arial, sans-serif; color: #666; margin: 1em 0 10px;}

article.kinds_audit_post, div.main_col {
    margin: 0 0 0 34%;
    line-height: 1.4;
}

article.kinds_audit_post p {margin:0 0 20px;}

div.kind_audit_crosslinks {float:right; font: normal normal 17px "Open sans", arial, sans-serif; color: #999;}
div.kind_audit_crosslinks span.razdel {margin: 0 10px;}
div.kind_audit_crosslinks a {font-size: 15px;}

/*tarif include*/

section.tarif_desc {clear:both; margin: 40px 0 0;}

section.tarif_desc ol li {
    list-style-position: outside;
    margin: 0 0 6px 20px;
}

section.tarif_desc ol {margin: 0 0 20px;}

section.tarif_desc div.tarif_desc_light p,
section.tarif_desc div.tarif_desc_ultimate p {margin: 12px 0 21px;}

div.tarif_desc_light {
    float: left;
    width: 280px;
    margin: 0 0 40px;
}

div.tarif_desc_ultimate {
    float:right;
    width: 280px;
    margin: 0 0 40px;
}

div.tarif_desc_diagramm {
    margin: 0 auto;
    width: 342px;
    height: 378px;
    background: url(/images/kinds_of_aud.png) no-repeat -342px 100%;
}

.tarif_desc_h {font: normal normal 21px/1.2 "OpenSansRegular", Arial, sans-serif; margin: 0;}

div.servise_price_block {
    clear:left;
    float:left;
    width: 280px;
    margin: 88px 0 10px;
}

div.servise_price_h {font: normal normal 21px/1.6 "OpenSansRegular", Arial, sans-serif; margin: 0 0 5px; color: #666;}
div.servise_price_price {
    margin: 22px 0 0;
    font-size: 17px;
    color: #666;
    line-height: 1.4;
}

ol.post_hight_ol {margin: 0 0 40px;}

div.kinds_audit_bottom ol li, article.kinds_audit_post ol li {
    margin: 0 0 20px 20px;
}

div.kinds_audit_bottom ul li, article.kinds_audit_post ul li, article.info_article ul li {
    list-style-image: url(/images/list-style.png);
    margin: 0 0 10px 20px;
}

div.YMaps-slider, div.YMaps-buttons {display:none;}

/* отправить заявку */
form.send_an_order_form {font: normal normal 15px "OpenSansRegular", Arial, sans-serif; margin: 32px 0 0; position: relative;}
form.send_an_order_form input {outline: 0;}
form.send_an_order_form input[type="submit"] {
    border:0;
    height: 23px;
    width: 146px;
    background: url(/images/send_an_order.png) no-repeat 0 0;
    vertical-align: middle;
    text-align: center;
    font: normal normal 14px "PFDinDisplayProLight", Arial, sans-serif;
    margin: 27px 0 0;
    cursor: pointer;
    color: #fff;
}

form.send_an_order_form select {
    height: 20px; 
    width: 100%;
    outline: 0;
    margin: 0;
    border: 0;
}

form.send_an_order_form label {vertical-align: middle; margin: 0 0 0 5px;}
form.send_an_order_form label.disabled {color: #999;}

div.field_name {float:left; width: 135px;}

span.field_sides {
    display: block;
    height: 23px;
    width: 11px;
    background: url(/images/field_sides.png) no-repeat;
}
span.field_sides.left {background-position: left;}
span.field_sides.right {background-position: right;}

div.field_value_inner {
    margin: 0 11px;
    height: 23px;
    background: #fff url(/images/field_bg.png) repeat-x;
}

div.order_form_item {margin: 5px 0 23px;}

div.field_value {margin-left: 135px; width: 270px;}

div.field_value_inner input {
    height: 16px;
    padding:0 0 3px;
    width: 100%;
    border:0;
    margin:1px 0 0; 
    background: #fff;

}

div.order_service_type {
    position: absolute;
    left: 430px;
    margin: -2px 0 0;
}

div.captcha_cont {position: relative;}

div.captcha_cover {
    position: absolute;
    width: 178px;
    height: 38px;
    border: 1px solid #999;
    top: 0;
    left: 0;       
}

form.send_an_order_form textarea {
    border: 1px solid #999;
    border-radius: 10px;
    outline: 0;
    padding: 5px;
    width: 490px;
    background: #fff;
}

div.captcha_wrap div.field_name {width: 200px;}
div.captcha_wrap div.field_value {margin-left: 226px; width: 180px;}

@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0) {
  div.field_value_inner input {   
    margin: 1px 0 0;
    }
  form.send_an_order_form select {margin: 1px 0 0;}
  div.prices_table hr {
    margin-right: 107px !important;}
}

@-moz-document url-prefix() {
  div.prices_table hr {margin-right: 107px !important;}
}

section.usefull_articles {
    clear: left;
    float: left;
    width: 280px;
    margin: 45px 0 20px;
}

div.vocalibry_ru {margin: 30px 0 6px;}

div.vocalibry_ru span, div.vocalibry_ru a, div.vocalibry_en span, div.vocalibry_en a {
    padding:0 4px; border:0;
    font: normal normal 17px "OpenSansRegular", Arial, sans-serif;
}
div.vocalibry_ru span, div.vocalibry_en span {color: #ccc; cursor: default;}
.usefull_articles_item {font-size: 13px; margin: 20px 0 38px;}
div.vocalibry_ru span.active, div.vocalibry_ru a.active, div.vocalibry_en span.active, div.vocalibry_en a.active {color: #000;} 

section.usefull_articles a.send_an_order {margin: 30px 0 0;}

dl.vocalibry_body {margin: 47px 0;}

dl.vocalibry_body dt {font-size: 19px; color: #666; margin: 6px 0;}

dl.vocalibry_body dd {margin: 0 0 25px;}

article.articles_item {width: 40%; margin: 0 10% 0 0; float:left;}

div.kinds_audit_bottom {width: 750px;}
div.kinds_audit_bottom p {margin: 0 0 20px;}

div.kinds_audit_bottom_right {width: 250px; float:right;}
div.kinds_audit_bottom_right p {margin: 0 0 20px;}

/*цены*/

div.prices_table .prices_h {font: normal normal 17px Arial, sans-serif; margin: 0 0 13px;}
div.prices_left_light {float:left; margin: 0 0 0 30px; width: 100px; color: #666;}
div.prices_right {float:right; width: 100px; color: #000;}
hr.price_line_light {margin: -5px 7px 0 65px; color: #ccc;}
hr.price_line_ult {margin: -5px 7px 0 86px; color: #ccc;}
hr.price_line_tz {margin: -5px 7px 0 283px; color: #ccc;}
hr.price_line_con {margin: -5px 7px 0 373px; color: #ccc;}
div.price_kind {margin:0 0 0 20px; color: #666;}
div.price_tz-con {font: normal normal 17px Arial, sans-serif;}
div.prices_item {margin: 18px 0 26px;}
div.prices_item_sub {margin: 7px 0 0;}

/*статьи*/

img.article_img {
    max-width: 280px;
    height: auto;
    float: right;
    margin: 0 0 20px 45px;
}

article.info_article p {margin: 0 0 20px;}

article.info_article div.right {margin:0 0 0 90px;}

p.posted_date {color: #666;}

/*карта сайта*/
div.sitemap_block {margin: 35px 0 0;}
div.sitemap_block ul li{list-style: none; font-size: 17px; margin:10px 0 0;}
div.sitemap_block ul li a, div.sitemap_block ul li a:visited {color: #000; border-bottom: 1px solid #000;}
div.sitemap_block ul li a:hover {color: #000; border: 0;}
div.sitemap_block ul li ul {margin: 0 0 0 30px;}
div.sitemap_block ul li ul {font-size: 15px;}
div.sitemap_block ul li ul li {margin: 5px 0 0;}
div.sitemap_block ul li ul li a, div.sitemap_block ul li ul li a:visited {color: #666; border-bottom: 1px solid #666;}
div.sitemap_block ul li ul li a:hover {color: #666; border: 0;}

/*поиск*/

div.search_page {margin: 19px 0 0;}
div.search_page table td {padding: 5px;}
div.search_page form {width: 510px; margin: 32px 0 16px;}
div.page_seach_input_wrap {width: 100%; margin: 0 0 23px;}
div.page_seach_select_wrap {width: 415px;}
div.page_seach_select_wrap div.first {margin: 0 0 0 145px;}
div.page_seach_select_wrap select {width: 100%;}
div.page_seach_select_wrap p.left {width: 145px;}
span.seach_separator {margin: 0 10px;}
div.search_sort_by span.first {margin: 0 0 0 30px; color: #666;}
p.search_result_link {font-size: 17px; margin: 30px 0 10px;}
p.search_modifed_date {color: #666; margin: 20px 0 0;}
div.search_result_desc b {font-weight: normal; color: #999;}
div.search_result_items {margin: 0 0 30px;}

div.cuselScrollArrows {position: relative; width:100%; height: 100%; cursor: pointer;}
div.cuselFrameRight {height: 23px; width: 27px; position: absolute; right: -10px; background: url(/images/cusel_right.png) no-repeat center; cursor: pointer;}
.cusel-scroll-pane span {display: block; padding: 2px 2px 2px 5px; cursor:pointer;}
.cusel-scroll-pane span:hover {background: #666; color: #fff;}
div.cusel-scroll-pane {background: #fff; border: 1px solid #999; margin: 23px 0 0; z-index:3;}