
/* Start:/local/templates/intan_redesign/components/bitrix/news/cust_sale/bitrix/news.list/.default/style.css*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
