


/* Start:/local/templates/intan_redesign/components/bitrix/news/cust_sale/bitrix/news.detail/.default/style.css*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */
/* /local/templates/intan_redesign/components/bitrix/news/cust_sale/bitrix/news.detail/.default/style.css */
