@font-face {
    font-family: 'pf_dindisplay_proregular';
    src: url('/assets/images/fonts/pfdindisplaypro-reg-webfont.eot');
    src: url('/assets/images/fonts/pfdindisplaypro-reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/images/fonts/pfdindisplaypro-reg-webfont.woff2') format('woff2'),
        url('/assets/images/fonts/pfdindisplaypro-reg-webfont.woff') format('woff'),
        url('/assets/images/fonts/pfdindisplaypro-reg-webfont.ttf') format('truetype'),
        url('/assets/images/fonts/pfdindisplaypro-reg-webfont.svg#pf_dindisplay_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_din_text_comp_proregular';
    src: url('/assets/images/fonts/pfdintextcomppro-regular_1-webfont.eot');
    src: url('/assets/images/fonts/pfdintextcomppro-regular_1-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/images/fonts/pfdintextcomppro-regular_1-webfont.woff2') format('woff2'),
        url('/assets/images/fonts/pfdintextcomppro-regular_1-webfont.woff') format('woff'),
        url('/assets/images/fonts/pfdintextcomppro-regular_1-webfont.ttf') format('truetype'),
        url('/assets/images/fonts/pfdintextcomppro-regular_1-webfont.svg#pf_din_text_comp_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_dindisplay_probold';
    src: url('/assets/images/fonts/pfdindisplaypro-bold-webfont.eot');
    src: url('/assets/images/fonts/pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/images/fonts/pfdindisplaypro-bold-webfont.woff2') format('woff2'),
        url('/assets/images/fonts/pfdindisplaypro-bold-webfont.woff') format('woff'),
        url('/assets/images/fonts/pfdindisplaypro-bold-webfont.ttf') format('truetype'),
        url('/assets/images/fonts/pfdindisplaypro-bold-webfont.svg#pf_dindisplay_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_din_text_comp_proXTh';
    src: url('/assets/images/fonts/pfdintextcomppro-xthin_2-webfont.eot');
    src: url('/assets/images/fonts/pfdintextcomppro-xthin_2-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/images/fonts/pfdintextcomppro-xthin_2-webfont.woff2') format('woff2'),
        url('/assets/images/fonts/pfdintextcomppro-xthin_2-webfont.woff') format('woff'),
        url('/assets/images/fonts/pfdintextcomppro-xthin_2-webfont.ttf') format('truetype'),
        url('/assets/images/fonts/pfdintextcomppro-xthin_2-webfont.svg#pf_din_text_comp_proXTh') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_dindisplay_promedium';
    src: url('/assets/images/fonts/pfdindisplaypro-med-webfont.eot');
    src: url('/assets/images/fonts/pfdindisplaypro-med-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/images/fonts/pfdindisplaypro-med-webfont.woff2') format('woff2'),
        url('/assets/images/fonts/pfdindisplaypro-med-webfont.woff') format('woff'),
        url('/assets/images/fonts/pfdindisplaypro-med-webfont.ttf') format('truetype'),
        url('/assets/images/fonts/pfdindisplaypro-med-webfont.svg#pf_dindisplay_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_dindisplay_prolight';
    src: url('/assets/images/fonts/pfdindisplaypro-light-webfont.eot');
    src: url('/assets/images/fonts/pfdindisplaypro-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/images/fonts/pfdindisplaypro-light-webfont.woff2') format('woff2'),
        url('/assets/images/fonts/pfdindisplaypro-light-webfont.woff') format('woff'),
        url('/assets/images/fonts/pfdindisplaypro-light-webfont.ttf') format('truetype'),
        url('/assets/images/fonts/pfdindisplaypro-light-webfont.svg#pf_dindisplay_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_din_text_comp_prolight';
    src: url('/assets/images/fonts/pfdintextcomppro-light_1-webfont.eot');
    src: url('/assets/images/fonts/pfdintextcomppro-light_1-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/images/fonts/pfdintextcomppro-light_1-webfont.woff2') format('woff2'),
        url('/assets/images/fonts/pfdintextcomppro-light_1-webfont.woff') format('woff'),
        url('/assets/images/fonts/pfdintextcomppro-light_1-webfont.ttf') format('truetype'),
        url('/assets/images/fonts/pfdintextcomppro-light_1-webfont.svg#pf_din_text_comp_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}